<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hyjf.mybatis.mapper.auto.ActdecSpringListMapper" >
  <resultMap id="BaseResultMap" type="com.hyjf.mybatis.model.auto.ActdecSpringList" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="VARCHAR" />
    <result column="user_mobile" property="userMobile" jdbcType="VARCHAR" />
    <result column="user_name" property="userName" jdbcType="VARCHAR" />
    <result column="oper_type" property="operType" jdbcType="SMALLINT" />
    <result column="number" property="number" jdbcType="INTEGER" />
    <result column="reward" property="reward" jdbcType="VARCHAR" />
    <result column="total_number" property="totalNumber" jdbcType="INTEGER" />
    <result column="available_number" property="availableNumber" jdbcType="INTEGER" />
    <result column="new_recharge" property="newRecharge" jdbcType="INTEGER" />
    <result column="new_investment" property="newInvestment" jdbcType="INTEGER" />
    <result column="oper_amount" property="operAmount" jdbcType="INTEGER" />
    <result column="create_user" property="createUser" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="INTEGER" />
    <result column="update_user" property="updateUser" jdbcType="VARCHAR" />
    <result column="update_time" property="updateTime" jdbcType="INTEGER" />
    <result column="del_flg" property="delFlg" jdbcType="BIT" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, user_id, user_mobile, user_name, oper_type, `number`, reward, total_number, available_number, 
    new_recharge, new_investment, oper_amount, create_user, create_time, update_user, 
    update_time, del_flg
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.hyjf.mybatis.model.auto.ActdecSpringListExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from hyjf_actdec_spring_list
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limitStart >= 0" >
      limit #{limitStart} , #{limitEnd}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from hyjf_actdec_spring_list
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from hyjf_actdec_spring_list
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.hyjf.mybatis.model.auto.ActdecSpringListExample" >
    delete from hyjf_actdec_spring_list
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.hyjf.mybatis.model.auto.ActdecSpringList" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into hyjf_actdec_spring_list (user_id, user_mobile, user_name, 
      oper_type, `number`, reward, 
      total_number, available_number, new_recharge, 
      new_investment, oper_amount, create_user, 
      create_time, update_user, update_time, 
      del_flg)
    values (#{userId,jdbcType=VARCHAR}, #{userMobile,jdbcType=VARCHAR}, #{userName,jdbcType=VARCHAR}, 
      #{operType,jdbcType=SMALLINT}, #{number,jdbcType=INTEGER}, #{reward,jdbcType=VARCHAR}, 
      #{totalNumber,jdbcType=INTEGER}, #{availableNumber,jdbcType=INTEGER}, #{newRecharge,jdbcType=INTEGER}, 
      #{newInvestment,jdbcType=INTEGER}, #{operAmount,jdbcType=INTEGER}, #{createUser,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=INTEGER}, #{updateUser,jdbcType=VARCHAR}, #{updateTime,jdbcType=INTEGER}, 
      #{delFlg,jdbcType=BIT})
  </insert>
  <insert id="insertSelective" parameterType="com.hyjf.mybatis.model.auto.ActdecSpringList" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into hyjf_actdec_spring_list
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        user_id,
      </if>
      <if test="userMobile != null" >
        user_mobile,
      </if>
      <if test="userName != null" >
        user_name,
      </if>
      <if test="operType != null" >
        oper_type,
      </if>
      <if test="number != null" >
        `number`,
      </if>
      <if test="reward != null" >
        reward,
      </if>
      <if test="totalNumber != null" >
        total_number,
      </if>
      <if test="availableNumber != null" >
        available_number,
      </if>
      <if test="newRecharge != null" >
        new_recharge,
      </if>
      <if test="newInvestment != null" >
        new_investment,
      </if>
      <if test="operAmount != null" >
        oper_amount,
      </if>
      <if test="createUser != null" >
        create_user,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateUser != null" >
        update_user,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="delFlg != null" >
        del_flg,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="userMobile != null" >
        #{userMobile,jdbcType=VARCHAR},
      </if>
      <if test="userName != null" >
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="operType != null" >
        #{operType,jdbcType=SMALLINT},
      </if>
      <if test="number != null" >
        #{number,jdbcType=INTEGER},
      </if>
      <if test="reward != null" >
        #{reward,jdbcType=VARCHAR},
      </if>
      <if test="totalNumber != null" >
        #{totalNumber,jdbcType=INTEGER},
      </if>
      <if test="availableNumber != null" >
        #{availableNumber,jdbcType=INTEGER},
      </if>
      <if test="newRecharge != null" >
        #{newRecharge,jdbcType=INTEGER},
      </if>
      <if test="newInvestment != null" >
        #{newInvestment,jdbcType=INTEGER},
      </if>
      <if test="operAmount != null" >
        #{operAmount,jdbcType=INTEGER},
      </if>
      <if test="createUser != null" >
        #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=INTEGER},
      </if>
      <if test="updateUser != null" >
        #{updateUser,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=INTEGER},
      </if>
      <if test="delFlg != null" >
        #{delFlg,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.hyjf.mybatis.model.auto.ActdecSpringListExample" resultType="java.lang.Integer" >
    select count(*) from hyjf_actdec_spring_list
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update hyjf_actdec_spring_list
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.userId != null" >
        user_id = #{record.userId,jdbcType=VARCHAR},
      </if>
      <if test="record.userMobile != null" >
        user_mobile = #{record.userMobile,jdbcType=VARCHAR},
      </if>
      <if test="record.userName != null" >
        user_name = #{record.userName,jdbcType=VARCHAR},
      </if>
      <if test="record.operType != null" >
        oper_type = #{record.operType,jdbcType=SMALLINT},
      </if>
      <if test="record.number != null" >
        `number` = #{record.number,jdbcType=INTEGER},
      </if>
      <if test="record.reward != null" >
        reward = #{record.reward,jdbcType=VARCHAR},
      </if>
      <if test="record.totalNumber != null" >
        total_number = #{record.totalNumber,jdbcType=INTEGER},
      </if>
      <if test="record.availableNumber != null" >
        available_number = #{record.availableNumber,jdbcType=INTEGER},
      </if>
      <if test="record.newRecharge != null" >
        new_recharge = #{record.newRecharge,jdbcType=INTEGER},
      </if>
      <if test="record.newInvestment != null" >
        new_investment = #{record.newInvestment,jdbcType=INTEGER},
      </if>
      <if test="record.operAmount != null" >
        oper_amount = #{record.operAmount,jdbcType=INTEGER},
      </if>
      <if test="record.createUser != null" >
        create_user = #{record.createUser,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=INTEGER},
      </if>
      <if test="record.updateUser != null" >
        update_user = #{record.updateUser,jdbcType=VARCHAR},
      </if>
      <if test="record.updateTime != null" >
        update_time = #{record.updateTime,jdbcType=INTEGER},
      </if>
      <if test="record.delFlg != null" >
        del_flg = #{record.delFlg,jdbcType=BIT},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update hyjf_actdec_spring_list
    set id = #{record.id,jdbcType=INTEGER},
      user_id = #{record.userId,jdbcType=VARCHAR},
      user_mobile = #{record.userMobile,jdbcType=VARCHAR},
      user_name = #{record.userName,jdbcType=VARCHAR},
      oper_type = #{record.operType,jdbcType=SMALLINT},
      `number` = #{record.number,jdbcType=INTEGER},
      reward = #{record.reward,jdbcType=VARCHAR},
      total_number = #{record.totalNumber,jdbcType=INTEGER},
      available_number = #{record.availableNumber,jdbcType=INTEGER},
      new_recharge = #{record.newRecharge,jdbcType=INTEGER},
      new_investment = #{record.newInvestment,jdbcType=INTEGER},
      oper_amount = #{record.operAmount,jdbcType=INTEGER},
      create_user = #{record.createUser,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=INTEGER},
      update_user = #{record.updateUser,jdbcType=VARCHAR},
      update_time = #{record.updateTime,jdbcType=INTEGER},
      del_flg = #{record.delFlg,jdbcType=BIT}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.hyjf.mybatis.model.auto.ActdecSpringList" >
    update hyjf_actdec_spring_list
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="userMobile != null" >
        user_mobile = #{userMobile,jdbcType=VARCHAR},
      </if>
      <if test="userName != null" >
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="operType != null" >
        oper_type = #{operType,jdbcType=SMALLINT},
      </if>
      <if test="number != null" >
        `number` = #{number,jdbcType=INTEGER},
      </if>
      <if test="reward != null" >
        reward = #{reward,jdbcType=VARCHAR},
      </if>
      <if test="totalNumber != null" >
        total_number = #{totalNumber,jdbcType=INTEGER},
      </if>
      <if test="availableNumber != null" >
        available_number = #{availableNumber,jdbcType=INTEGER},
      </if>
      <if test="newRecharge != null" >
        new_recharge = #{newRecharge,jdbcType=INTEGER},
      </if>
      <if test="newInvestment != null" >
        new_investment = #{newInvestment,jdbcType=INTEGER},
      </if>
      <if test="operAmount != null" >
        oper_amount = #{operAmount,jdbcType=INTEGER},
      </if>
      <if test="createUser != null" >
        create_user = #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=INTEGER},
      </if>
      <if test="updateUser != null" >
        update_user = #{updateUser,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=INTEGER},
      </if>
      <if test="delFlg != null" >
        del_flg = #{delFlg,jdbcType=BIT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hyjf.mybatis.model.auto.ActdecSpringList" >
    update hyjf_actdec_spring_list
    set user_id = #{userId,jdbcType=VARCHAR},
      user_mobile = #{userMobile,jdbcType=VARCHAR},
      user_name = #{userName,jdbcType=VARCHAR},
      oper_type = #{operType,jdbcType=SMALLINT},
      `number` = #{number,jdbcType=INTEGER},
      reward = #{reward,jdbcType=VARCHAR},
      total_number = #{totalNumber,jdbcType=INTEGER},
      available_number = #{availableNumber,jdbcType=INTEGER},
      new_recharge = #{newRecharge,jdbcType=INTEGER},
      new_investment = #{newInvestment,jdbcType=INTEGER},
      oper_amount = #{operAmount,jdbcType=INTEGER},
      create_user = #{createUser,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=INTEGER},
      update_user = #{updateUser,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=INTEGER},
      del_flg = #{delFlg,jdbcType=BIT}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>