<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hyjf.mybatis.mapper.auto.ActQuestionsMapper" >
  <resultMap id="BaseResultMap" type="com.hyjf.mybatis.model.auto.ActQuestions" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="answer_a" property="answerA" jdbcType="VARCHAR" />
    <result column="answer_b" property="answerB" jdbcType="VARCHAR" />
    <result column="answer_c" property="answerC" jdbcType="VARCHAR" />
    <result column="answer_d" property="answerD" jdbcType="VARCHAR" />
    <result column="time_start" property="timeStart" jdbcType="INTEGER" />
    <result column="time_end" property="timeEnd" jdbcType="INTEGER" />
    <result column="answer_right" property="answerRight" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="del_flg" property="delFlg" jdbcType="TINYINT" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, title, answer_a, answer_b, answer_c, answer_d, time_start, time_end, answer_right, 
    remark, del_flg
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.hyjf.mybatis.model.auto.ActQuestionsExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from hyjf_act_questions
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limitStart >= 0" >
      limit #{limitStart} , #{limitEnd}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from hyjf_act_questions
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from hyjf_act_questions
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.hyjf.mybatis.model.auto.ActQuestionsExample" >
    delete from hyjf_act_questions
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.hyjf.mybatis.model.auto.ActQuestions" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into hyjf_act_questions (title, answer_a, answer_b, 
      answer_c, answer_d, time_start, 
      time_end, answer_right, remark, 
      del_flg)
    values (#{title,jdbcType=VARCHAR}, #{answerA,jdbcType=VARCHAR}, #{answerB,jdbcType=VARCHAR}, 
      #{answerC,jdbcType=VARCHAR}, #{answerD,jdbcType=VARCHAR}, #{timeStart,jdbcType=INTEGER}, 
      #{timeEnd,jdbcType=INTEGER}, #{answerRight,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, 
      #{delFlg,jdbcType=TINYINT})
  </insert>
  <insert id="insertSelective" parameterType="com.hyjf.mybatis.model.auto.ActQuestions" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into hyjf_act_questions
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="title != null" >
        title,
      </if>
      <if test="answerA != null" >
        answer_a,
      </if>
      <if test="answerB != null" >
        answer_b,
      </if>
      <if test="answerC != null" >
        answer_c,
      </if>
      <if test="answerD != null" >
        answer_d,
      </if>
      <if test="timeStart != null" >
        time_start,
      </if>
      <if test="timeEnd != null" >
        time_end,
      </if>
      <if test="answerRight != null" >
        answer_right,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="delFlg != null" >
        del_flg,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="answerA != null" >
        #{answerA,jdbcType=VARCHAR},
      </if>
      <if test="answerB != null" >
        #{answerB,jdbcType=VARCHAR},
      </if>
      <if test="answerC != null" >
        #{answerC,jdbcType=VARCHAR},
      </if>
      <if test="answerD != null" >
        #{answerD,jdbcType=VARCHAR},
      </if>
      <if test="timeStart != null" >
        #{timeStart,jdbcType=INTEGER},
      </if>
      <if test="timeEnd != null" >
        #{timeEnd,jdbcType=INTEGER},
      </if>
      <if test="answerRight != null" >
        #{answerRight,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="delFlg != null" >
        #{delFlg,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.hyjf.mybatis.model.auto.ActQuestionsExample" resultType="java.lang.Integer" >
    select count(*) from hyjf_act_questions
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update hyjf_act_questions
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.title != null" >
        title = #{record.title,jdbcType=VARCHAR},
      </if>
      <if test="record.answerA != null" >
        answer_a = #{record.answerA,jdbcType=VARCHAR},
      </if>
      <if test="record.answerB != null" >
        answer_b = #{record.answerB,jdbcType=VARCHAR},
      </if>
      <if test="record.answerC != null" >
        answer_c = #{record.answerC,jdbcType=VARCHAR},
      </if>
      <if test="record.answerD != null" >
        answer_d = #{record.answerD,jdbcType=VARCHAR},
      </if>
      <if test="record.timeStart != null" >
        time_start = #{record.timeStart,jdbcType=INTEGER},
      </if>
      <if test="record.timeEnd != null" >
        time_end = #{record.timeEnd,jdbcType=INTEGER},
      </if>
      <if test="record.answerRight != null" >
        answer_right = #{record.answerRight,jdbcType=VARCHAR},
      </if>
      <if test="record.remark != null" >
        remark = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.delFlg != null" >
        del_flg = #{record.delFlg,jdbcType=TINYINT},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update hyjf_act_questions
    set id = #{record.id,jdbcType=INTEGER},
      title = #{record.title,jdbcType=VARCHAR},
      answer_a = #{record.answerA,jdbcType=VARCHAR},
      answer_b = #{record.answerB,jdbcType=VARCHAR},
      answer_c = #{record.answerC,jdbcType=VARCHAR},
      answer_d = #{record.answerD,jdbcType=VARCHAR},
      time_start = #{record.timeStart,jdbcType=INTEGER},
      time_end = #{record.timeEnd,jdbcType=INTEGER},
      answer_right = #{record.answerRight,jdbcType=VARCHAR},
      remark = #{record.remark,jdbcType=VARCHAR},
      del_flg = #{record.delFlg,jdbcType=TINYINT}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.hyjf.mybatis.model.auto.ActQuestions" >
    update hyjf_act_questions
    <set >
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="answerA != null" >
        answer_a = #{answerA,jdbcType=VARCHAR},
      </if>
      <if test="answerB != null" >
        answer_b = #{answerB,jdbcType=VARCHAR},
      </if>
      <if test="answerC != null" >
        answer_c = #{answerC,jdbcType=VARCHAR},
      </if>
      <if test="answerD != null" >
        answer_d = #{answerD,jdbcType=VARCHAR},
      </if>
      <if test="timeStart != null" >
        time_start = #{timeStart,jdbcType=INTEGER},
      </if>
      <if test="timeEnd != null" >
        time_end = #{timeEnd,jdbcType=INTEGER},
      </if>
      <if test="answerRight != null" >
        answer_right = #{answerRight,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="delFlg != null" >
        del_flg = #{delFlg,jdbcType=TINYINT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hyjf.mybatis.model.auto.ActQuestions" >
    update hyjf_act_questions
    set title = #{title,jdbcType=VARCHAR},
      answer_a = #{answerA,jdbcType=VARCHAR},
      answer_b = #{answerB,jdbcType=VARCHAR},
      answer_c = #{answerC,jdbcType=VARCHAR},
      answer_d = #{answerD,jdbcType=VARCHAR},
      time_start = #{timeStart,jdbcType=INTEGER},
      time_end = #{timeEnd,jdbcType=INTEGER},
      answer_right = #{answerRight,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      del_flg = #{delFlg,jdbcType=TINYINT}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>