<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hyjf.mybatis.mapper.auto.CardBinMapper" >
  <resultMap id="BaseResultMap" type="com.hyjf.mybatis.model.auto.CardBin" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="issuing_bank_name" property="issuingBankName" jdbcType="VARCHAR" />
    <result column="card_name" property="cardName" jdbcType="VARCHAR" />
    <result column="card_length" property="cardLength" jdbcType="INTEGER" />
    <result column="card_num_format" property="cardNumFormat" jdbcType="VARCHAR" />
    <result column="bin_length" property="binLength" jdbcType="INTEGER" />
    <result column="bin_value" property="binValue" jdbcType="VARCHAR" />
    <result column="card_type" property="cardType" jdbcType="VARCHAR" />
    <result column="bank_id" property="bankId" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, issuing_bank_name, card_name, card_length, card_num_format, bin_length, bin_value, 
    card_type, bank_id
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.hyjf.mybatis.model.auto.CardBinExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from hyjf_card_bin
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limitStart >= 0" >
      limit #{limitStart} , #{limitEnd}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from hyjf_card_bin
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from hyjf_card_bin
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.hyjf.mybatis.model.auto.CardBinExample" >
    delete from hyjf_card_bin
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.hyjf.mybatis.model.auto.CardBin" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into hyjf_card_bin (issuing_bank_name, card_name, card_length, 
      card_num_format, bin_length, bin_value, 
      card_type, bank_id)
    values (#{issuingBankName,jdbcType=VARCHAR}, #{cardName,jdbcType=VARCHAR}, #{cardLength,jdbcType=INTEGER}, 
      #{cardNumFormat,jdbcType=VARCHAR}, #{binLength,jdbcType=INTEGER}, #{binValue,jdbcType=VARCHAR}, 
      #{cardType,jdbcType=VARCHAR}, #{bankId,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.hyjf.mybatis.model.auto.CardBin" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into hyjf_card_bin
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="issuingBankName != null" >
        issuing_bank_name,
      </if>
      <if test="cardName != null" >
        card_name,
      </if>
      <if test="cardLength != null" >
        card_length,
      </if>
      <if test="cardNumFormat != null" >
        card_num_format,
      </if>
      <if test="binLength != null" >
        bin_length,
      </if>
      <if test="binValue != null" >
        bin_value,
      </if>
      <if test="cardType != null" >
        card_type,
      </if>
      <if test="bankId != null" >
        bank_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="issuingBankName != null" >
        #{issuingBankName,jdbcType=VARCHAR},
      </if>
      <if test="cardName != null" >
        #{cardName,jdbcType=VARCHAR},
      </if>
      <if test="cardLength != null" >
        #{cardLength,jdbcType=INTEGER},
      </if>
      <if test="cardNumFormat != null" >
        #{cardNumFormat,jdbcType=VARCHAR},
      </if>
      <if test="binLength != null" >
        #{binLength,jdbcType=INTEGER},
      </if>
      <if test="binValue != null" >
        #{binValue,jdbcType=VARCHAR},
      </if>
      <if test="cardType != null" >
        #{cardType,jdbcType=VARCHAR},
      </if>
      <if test="bankId != null" >
        #{bankId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.hyjf.mybatis.model.auto.CardBinExample" resultType="java.lang.Integer" >
    select count(*) from hyjf_card_bin
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update hyjf_card_bin
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.issuingBankName != null" >
        issuing_bank_name = #{record.issuingBankName,jdbcType=VARCHAR},
      </if>
      <if test="record.cardName != null" >
        card_name = #{record.cardName,jdbcType=VARCHAR},
      </if>
      <if test="record.cardLength != null" >
        card_length = #{record.cardLength,jdbcType=INTEGER},
      </if>
      <if test="record.cardNumFormat != null" >
        card_num_format = #{record.cardNumFormat,jdbcType=VARCHAR},
      </if>
      <if test="record.binLength != null" >
        bin_length = #{record.binLength,jdbcType=INTEGER},
      </if>
      <if test="record.binValue != null" >
        bin_value = #{record.binValue,jdbcType=VARCHAR},
      </if>
      <if test="record.cardType != null" >
        card_type = #{record.cardType,jdbcType=VARCHAR},
      </if>
      <if test="record.bankId != null" >
        bank_id = #{record.bankId,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update hyjf_card_bin
    set id = #{record.id,jdbcType=INTEGER},
      issuing_bank_name = #{record.issuingBankName,jdbcType=VARCHAR},
      card_name = #{record.cardName,jdbcType=VARCHAR},
      card_length = #{record.cardLength,jdbcType=INTEGER},
      card_num_format = #{record.cardNumFormat,jdbcType=VARCHAR},
      bin_length = #{record.binLength,jdbcType=INTEGER},
      bin_value = #{record.binValue,jdbcType=VARCHAR},
      card_type = #{record.cardType,jdbcType=VARCHAR},
      bank_id = #{record.bankId,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.hyjf.mybatis.model.auto.CardBin" >
    update hyjf_card_bin
    <set >
      <if test="issuingBankName != null" >
        issuing_bank_name = #{issuingBankName,jdbcType=VARCHAR},
      </if>
      <if test="cardName != null" >
        card_name = #{cardName,jdbcType=VARCHAR},
      </if>
      <if test="cardLength != null" >
        card_length = #{cardLength,jdbcType=INTEGER},
      </if>
      <if test="cardNumFormat != null" >
        card_num_format = #{cardNumFormat,jdbcType=VARCHAR},
      </if>
      <if test="binLength != null" >
        bin_length = #{binLength,jdbcType=INTEGER},
      </if>
      <if test="binValue != null" >
        bin_value = #{binValue,jdbcType=VARCHAR},
      </if>
      <if test="cardType != null" >
        card_type = #{cardType,jdbcType=VARCHAR},
      </if>
      <if test="bankId != null" >
        bank_id = #{bankId,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hyjf.mybatis.model.auto.CardBin" >
    update hyjf_card_bin
    set issuing_bank_name = #{issuingBankName,jdbcType=VARCHAR},
      card_name = #{cardName,jdbcType=VARCHAR},
      card_length = #{cardLength,jdbcType=INTEGER},
      card_num_format = #{cardNumFormat,jdbcType=VARCHAR},
      bin_length = #{binLength,jdbcType=INTEGER},
      bin_value = #{binValue,jdbcType=VARCHAR},
      card_type = #{cardType,jdbcType=VARCHAR},
      bank_id = #{bankId,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>