<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hyjf.mybatis.mapper.auto.ContentHelpMapper" >
  <resultMap id="BaseResultMap" type="com.hyjf.mybatis.model.auto.ContentHelp" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="pcate_id" property="pcateId" jdbcType="INTEGER" />
    <result column="cate_id" property="cateId" jdbcType="INTEGER" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="order" property="order" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="zhichi_status" property="zhiChiStatus" jdbcType="INTEGER" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="code" property="code" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="INTEGER" />
    <result column="update_time" property="updateTime" jdbcType="INTEGER" />
    <result column="source" property="source" jdbcType="VARCHAR" />
    <result column="author" property="author" jdbcType="VARCHAR" />
    <result column="thumb" property="thumb" jdbcType="VARCHAR" />
    <result column="summary" property="summary" jdbcType="VARCHAR" />
    <result column="seo_title" property="seoTitle" jdbcType="VARCHAR" />
    <result column="seo_keyword" property="seoKeyword" jdbcType="VARCHAR" />
    <result column="seo_description" property="seoDescription" jdbcType="VARCHAR" />
    <result column="hits" property="hits" jdbcType="INTEGER" />
    <result column="out_link" property="outLink" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.hyjf.mybatis.model.auto.ContentHelp" extends="BaseResultMap" >
    <result column="content" property="content" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, pcate_id, cate_id, title, `order`, `status`, `type`, code, create_time, update_time, 
    `source`, author, thumb, summary, seo_title, seo_keyword, seo_description, hits, 
    out_link,zhichi_status
  </sql>
  <sql id="Blob_Column_List" >
    content
  </sql>
  <select id="selectByExampleWithBLOBs" resultMap="ResultMapWithBLOBs" parameterType="com.hyjf.mybatis.model.auto.ContentHelpExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from huiyingdai_content_help
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limitStart >= 0" >
      limit #{limitStart} , #{limitEnd}
    </if>
  </select>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.hyjf.mybatis.model.auto.ContentHelpExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from huiyingdai_content_help
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limitStart >= 0" >
      limit #{limitStart} , #{limitEnd}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from huiyingdai_content_help
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from huiyingdai_content_help
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.hyjf.mybatis.model.auto.ContentHelpExample" >
    delete from huiyingdai_content_help
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.hyjf.mybatis.model.auto.ContentHelp" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into huiyingdai_content_help (pcate_id, cate_id, title, 
      `order`, `status`, `type`, 
      code, create_time, update_time, 
      `source`, author, thumb, 
      summary, seo_title, seo_keyword, 
      seo_description, hits, out_link, 
      content,zhichi_status)
    values (#{pcateId,jdbcType=INTEGER}, #{cateId,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR}, 
      #{order,jdbcType=INTEGER}, #{status,jdbcType=INTEGER}, #{type,jdbcType=INTEGER}, 
      #{code,jdbcType=VARCHAR}, #{createTime,jdbcType=INTEGER}, #{updateTime,jdbcType=INTEGER}, 
      #{source,jdbcType=VARCHAR}, #{author,jdbcType=VARCHAR}, #{thumb,jdbcType=VARCHAR}, 
      #{summary,jdbcType=VARCHAR}, #{seoTitle,jdbcType=VARCHAR}, #{seoKeyword,jdbcType=VARCHAR}, 
      #{seoDescription,jdbcType=VARCHAR}, #{hits,jdbcType=INTEGER}, #{outLink,jdbcType=VARCHAR}, 
      #{content,jdbcType=LONGVARCHAR}, #{zhiChiStatus,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.hyjf.mybatis.model.auto.ContentHelp" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into huiyingdai_content_help
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="pcateId != null" >
        pcate_id,
      </if>
      <if test="cateId != null" >
        cate_id,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="order != null" >
        `order`,
      </if>
      <if test="status != null" >
        `status`,
      </if>
      <if test="type != null" >
        `type`,
      </if>
      <if test="code != null" >
        code,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="source != null" >
        `source`,
      </if>
      <if test="author != null" >
        author,
      </if>
      <if test="thumb != null" >
        thumb,
      </if>
      <if test="summary != null" >
        summary,
      </if>
      <if test="seoTitle != null" >
        seo_title,
      </if>
      <if test="seoKeyword != null" >
        seo_keyword,
      </if>
      <if test="seoDescription != null" >
        seo_description,
      </if>
      <if test="hits != null" >
        hits,
      </if>
      <if test="outLink != null" >
        out_link,
      </if>
      <if test="content != null" >
        content,
      </if>
      <if test="zhiChiStatus != null" >
        zhichi_status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="pcateId != null" >
        #{pcateId,jdbcType=INTEGER},
      </if>
      <if test="cateId != null" >
        #{cateId,jdbcType=INTEGER},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="order != null" >
        #{order,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="type != null" >
        #{type,jdbcType=INTEGER},
      </if>
      <if test="code != null" >
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=INTEGER},
      </if>
      <if test="source != null" >
        #{source,jdbcType=VARCHAR},
      </if>
      <if test="author != null" >
        #{author,jdbcType=VARCHAR},
      </if>
      <if test="thumb != null" >
        #{thumb,jdbcType=VARCHAR},
      </if>
      <if test="summary != null" >
        #{summary,jdbcType=VARCHAR},
      </if>
      <if test="seoTitle != null" >
        #{seoTitle,jdbcType=VARCHAR},
      </if>
      <if test="seoKeyword != null" >
        #{seoKeyword,jdbcType=VARCHAR},
      </if>
      <if test="seoDescription != null" >
        #{seoDescription,jdbcType=VARCHAR},
      </if>
      <if test="hits != null" >
        #{hits,jdbcType=INTEGER},
      </if>
      <if test="outLink != null" >
        #{outLink,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        #{content,jdbcType=LONGVARCHAR},
      </if>
      <if test="zhiChiStatus != null" >
        #{zhichi_status,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.hyjf.mybatis.model.auto.ContentHelpExample" resultType="java.lang.Integer" >
    select count(*) from huiyingdai_content_help
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update huiyingdai_content_help
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.pcateId != null" >
        pcate_id = #{record.pcateId,jdbcType=INTEGER},
      </if>
      <if test="record.cateId != null" >
        cate_id = #{record.cateId,jdbcType=INTEGER},
      </if>
      <if test="record.title != null" >
        title = #{record.title,jdbcType=VARCHAR},
      </if>
      <if test="record.order != null" >
        `order` = #{record.order,jdbcType=INTEGER},
      </if>
      <if test="record.status != null" >
        `status` = #{record.status,jdbcType=INTEGER},
      </if>
      <if test="record.type != null" >
        `type` = #{record.type,jdbcType=INTEGER},
      </if>
      <if test="record.code != null" >
        code = #{record.code,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=INTEGER},
      </if>
      <if test="record.updateTime != null" >
        update_time = #{record.updateTime,jdbcType=INTEGER},
      </if>
      <if test="record.source != null" >
        `source` = #{record.source,jdbcType=VARCHAR},
      </if>
      <if test="record.author != null" >
        author = #{record.author,jdbcType=VARCHAR},
      </if>
      <if test="record.thumb != null" >
        thumb = #{record.thumb,jdbcType=VARCHAR},
      </if>
      <if test="record.summary != null" >
        summary = #{record.summary,jdbcType=VARCHAR},
      </if>
      <if test="record.seoTitle != null" >
        seo_title = #{record.seoTitle,jdbcType=VARCHAR},
      </if>
      <if test="record.seoKeyword != null" >
        seo_keyword = #{record.seoKeyword,jdbcType=VARCHAR},
      </if>
      <if test="record.seoDescription != null" >
        seo_description = #{record.seoDescription,jdbcType=VARCHAR},
      </if>
      <if test="record.hits != null" >
        hits = #{record.hits,jdbcType=INTEGER},
      </if>
      <if test="record.outLink != null" >
        out_link = #{record.outLink,jdbcType=VARCHAR},
      </if>
      <if test="record.content != null" >
        content = #{record.content,jdbcType=LONGVARCHAR},
      </if>
      <if test="record.zhiChiStatus != null" >
        zhichi_status = #{record.zhiChiStatus,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map" >
    update huiyingdai_content_help
    set id = #{record.id,jdbcType=INTEGER},
      pcate_id = #{record.pcateId,jdbcType=INTEGER},
      cate_id = #{record.cateId,jdbcType=INTEGER},
      title = #{record.title,jdbcType=VARCHAR},
      `order` = #{record.order,jdbcType=INTEGER},
      `status` = #{record.status,jdbcType=INTEGER},
      `type` = #{record.type,jdbcType=INTEGER},
      code = #{record.code,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=INTEGER},
      update_time = #{record.updateTime,jdbcType=INTEGER},
      `source` = #{record.source,jdbcType=VARCHAR},
      author = #{record.author,jdbcType=VARCHAR},
      thumb = #{record.thumb,jdbcType=VARCHAR},
      summary = #{record.summary,jdbcType=VARCHAR},
      seo_title = #{record.seoTitle,jdbcType=VARCHAR},
      seo_keyword = #{record.seoKeyword,jdbcType=VARCHAR},
      seo_description = #{record.seoDescription,jdbcType=VARCHAR},
      hits = #{record.hits,jdbcType=INTEGER},
      out_link = #{record.outLink,jdbcType=VARCHAR},
      content = #{record.content,jdbcType=LONGVARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update huiyingdai_content_help
    set id = #{record.id,jdbcType=INTEGER},
      pcate_id = #{record.pcateId,jdbcType=INTEGER},
      cate_id = #{record.cateId,jdbcType=INTEGER},
      title = #{record.title,jdbcType=VARCHAR},
      `order` = #{record.order,jdbcType=INTEGER},
      `status` = #{record.status,jdbcType=INTEGER},
      `type` = #{record.type,jdbcType=INTEGER},
      code = #{record.code,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=INTEGER},
      update_time = #{record.updateTime,jdbcType=INTEGER},
      `source` = #{record.source,jdbcType=VARCHAR},
      author = #{record.author,jdbcType=VARCHAR},
      thumb = #{record.thumb,jdbcType=VARCHAR},
      summary = #{record.summary,jdbcType=VARCHAR},
      seo_title = #{record.seoTitle,jdbcType=VARCHAR},
      seo_keyword = #{record.seoKeyword,jdbcType=VARCHAR},
      seo_description = #{record.seoDescription,jdbcType=VARCHAR},
      hits = #{record.hits,jdbcType=INTEGER},
      out_link = #{record.outLink,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.hyjf.mybatis.model.auto.ContentHelp" >
    update huiyingdai_content_help
    <set >
      <if test="pcateId != null" >
        pcate_id = #{pcateId,jdbcType=INTEGER},
      </if>
      <if test="cateId != null" >
        cate_id = #{cateId,jdbcType=INTEGER},
      </if>
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="order != null" >
        `order` = #{order,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        `status` = #{status,jdbcType=INTEGER},
      </if>
      <if test="type != null" >
        `type` = #{type,jdbcType=INTEGER},
      </if>
      <if test="code != null" >
        code = #{code,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=INTEGER},
      </if>
      <if test="source != null" >
        `source` = #{source,jdbcType=VARCHAR},
      </if>
      <if test="author != null" >
        author = #{author,jdbcType=VARCHAR},
      </if>
      <if test="thumb != null" >
        thumb = #{thumb,jdbcType=VARCHAR},
      </if>
      <if test="summary != null" >
        summary = #{summary,jdbcType=VARCHAR},
      </if>
      <if test="seoTitle != null" >
        seo_title = #{seoTitle,jdbcType=VARCHAR},
      </if>
      <if test="seoKeyword != null" >
        seo_keyword = #{seoKeyword,jdbcType=VARCHAR},
      </if>
      <if test="seoDescription != null" >
        seo_description = #{seoDescription,jdbcType=VARCHAR},
      </if>
      <if test="hits != null" >
        hits = #{hits,jdbcType=INTEGER},
      </if>
      <if test="outLink != null" >
        out_link = #{outLink,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=LONGVARCHAR},
      </if>
      <if test="zhiChiStatus != null" >
        zhichi_status = #{zhiChiStatus,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.hyjf.mybatis.model.auto.ContentHelp" >
    update huiyingdai_content_help
    set pcate_id = #{pcateId,jdbcType=INTEGER},
      cate_id = #{cateId,jdbcType=INTEGER},
      title = #{title,jdbcType=VARCHAR},
      `order` = #{order,jdbcType=INTEGER},
      `status` = #{status,jdbcType=INTEGER},
      `type` = #{type,jdbcType=INTEGER},
      code = #{code,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=INTEGER},
      update_time = #{updateTime,jdbcType=INTEGER},
      `source` = #{source,jdbcType=VARCHAR},
      author = #{author,jdbcType=VARCHAR},
      thumb = #{thumb,jdbcType=VARCHAR},
      summary = #{summary,jdbcType=VARCHAR},
      seo_title = #{seoTitle,jdbcType=VARCHAR},
      seo_keyword = #{seoKeyword,jdbcType=VARCHAR},
      seo_description = #{seoDescription,jdbcType=VARCHAR},
      hits = #{hits,jdbcType=INTEGER},
      out_link = #{outLink,jdbcType=VARCHAR},
      content = #{content,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hyjf.mybatis.model.auto.ContentHelp" >
    update huiyingdai_content_help
    set pcate_id = #{pcateId,jdbcType=INTEGER},
      cate_id = #{cateId,jdbcType=INTEGER},
      title = #{title,jdbcType=VARCHAR},
      `order` = #{order,jdbcType=INTEGER},
      `status` = #{status,jdbcType=INTEGER},
      `type` = #{type,jdbcType=INTEGER},
      code = #{code,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=INTEGER},
      update_time = #{updateTime,jdbcType=INTEGER},
      `source` = #{source,jdbcType=VARCHAR},
      author = #{author,jdbcType=VARCHAR},
      thumb = #{thumb,jdbcType=VARCHAR},
      summary = #{summary,jdbcType=VARCHAR},
      seo_title = #{seoTitle,jdbcType=VARCHAR},
      seo_keyword = #{seoKeyword,jdbcType=VARCHAR},
      seo_description = #{seoDescription,jdbcType=VARCHAR},
      hits = #{hits,jdbcType=INTEGER},
      out_link = #{outLink,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>