<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hyjf.mybatis.mapper.auto.DataErrorSubjectMapper" >
  <resultMap id="BaseResultMap" type="com.hyjf.mybatis.model.auto.DataErrorSubject" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="borrow_id" property="borrowId" jdbcType="INTEGER" />
    <result column="borrow_nid" property="borrowNid" jdbcType="VARCHAR" />
    <result column="borrow_desc" property="borrowDesc" jdbcType="VARCHAR" />
    <result column="borrow_account_id" property="borrowAccountId" jdbcType="VARCHAR" />
    <result column="amount" property="amount" jdbcType="DECIMAL" />
    <result column="payment_type" property="paymentType" jdbcType="TINYINT" />
    <result column="loan_term" property="loanTerm" jdbcType="INTEGER" />
    <result column="borrow_apr" property="borrowApr" jdbcType="DECIMAL" />
    <result column="guarantee_account_id" property="guaranteeAccountId" jdbcType="VARCHAR" />
    <result column="raise_date" property="raiseDate" jdbcType="VARCHAR" />
    <result column="raise_end_date" property="raiseEndDate" jdbcType="VARCHAR" />
    <result column="resp_code" property="respCode" jdbcType="VARCHAR" />
    <result column="error_desc" property="errorDesc" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, borrow_id, borrow_nid, borrow_desc, borrow_account_id, amount, payment_type, 
    loan_term, borrow_apr, guarantee_account_id, raise_date, raise_end_date, resp_code, 
    error_desc, create_time, update_time
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.hyjf.mybatis.model.auto.DataErrorSubjectExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from hyjf_data_error_subject
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limitStart >= 0" >
      limit #{limitStart} , #{limitEnd}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from hyjf_data_error_subject
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from hyjf_data_error_subject
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.hyjf.mybatis.model.auto.DataErrorSubjectExample" >
    delete from hyjf_data_error_subject
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.hyjf.mybatis.model.auto.DataErrorSubject" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into hyjf_data_error_subject (borrow_id, borrow_nid, borrow_desc, 
      borrow_account_id, amount, payment_type, 
      loan_term, borrow_apr, guarantee_account_id, 
      raise_date, raise_end_date, resp_code, 
      error_desc, create_time, update_time
      )
    values (#{borrowId,jdbcType=INTEGER}, #{borrowNid,jdbcType=VARCHAR}, #{borrowDesc,jdbcType=VARCHAR}, 
      #{borrowAccountId,jdbcType=VARCHAR}, #{amount,jdbcType=DECIMAL}, #{paymentType,jdbcType=TINYINT}, 
      #{loanTerm,jdbcType=INTEGER}, #{borrowApr,jdbcType=DECIMAL}, #{guaranteeAccountId,jdbcType=VARCHAR}, 
      #{raiseDate,jdbcType=VARCHAR}, #{raiseEndDate,jdbcType=VARCHAR}, #{respCode,jdbcType=VARCHAR}, 
      #{errorDesc,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.hyjf.mybatis.model.auto.DataErrorSubject" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into hyjf_data_error_subject
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="borrowId != null" >
        borrow_id,
      </if>
      <if test="borrowNid != null" >
        borrow_nid,
      </if>
      <if test="borrowDesc != null" >
        borrow_desc,
      </if>
      <if test="borrowAccountId != null" >
        borrow_account_id,
      </if>
      <if test="amount != null" >
        amount,
      </if>
      <if test="paymentType != null" >
        payment_type,
      </if>
      <if test="loanTerm != null" >
        loan_term,
      </if>
      <if test="borrowApr != null" >
        borrow_apr,
      </if>
      <if test="guaranteeAccountId != null" >
        guarantee_account_id,
      </if>
      <if test="raiseDate != null" >
        raise_date,
      </if>
      <if test="raiseEndDate != null" >
        raise_end_date,
      </if>
      <if test="respCode != null" >
        resp_code,
      </if>
      <if test="errorDesc != null" >
        error_desc,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="borrowId != null" >
        #{borrowId,jdbcType=INTEGER},
      </if>
      <if test="borrowNid != null" >
        #{borrowNid,jdbcType=VARCHAR},
      </if>
      <if test="borrowDesc != null" >
        #{borrowDesc,jdbcType=VARCHAR},
      </if>
      <if test="borrowAccountId != null" >
        #{borrowAccountId,jdbcType=VARCHAR},
      </if>
      <if test="amount != null" >
        #{amount,jdbcType=DECIMAL},
      </if>
      <if test="paymentType != null" >
        #{paymentType,jdbcType=TINYINT},
      </if>
      <if test="loanTerm != null" >
        #{loanTerm,jdbcType=INTEGER},
      </if>
      <if test="borrowApr != null" >
        #{borrowApr,jdbcType=DECIMAL},
      </if>
      <if test="guaranteeAccountId != null" >
        #{guaranteeAccountId,jdbcType=VARCHAR},
      </if>
      <if test="raiseDate != null" >
        #{raiseDate,jdbcType=VARCHAR},
      </if>
      <if test="raiseEndDate != null" >
        #{raiseEndDate,jdbcType=VARCHAR},
      </if>
      <if test="respCode != null" >
        #{respCode,jdbcType=VARCHAR},
      </if>
      <if test="errorDesc != null" >
        #{errorDesc,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.hyjf.mybatis.model.auto.DataErrorSubjectExample" resultType="java.lang.Integer" >
    select count(*) from hyjf_data_error_subject
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update hyjf_data_error_subject
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.borrowId != null" >
        borrow_id = #{record.borrowId,jdbcType=INTEGER},
      </if>
      <if test="record.borrowNid != null" >
        borrow_nid = #{record.borrowNid,jdbcType=VARCHAR},
      </if>
      <if test="record.borrowDesc != null" >
        borrow_desc = #{record.borrowDesc,jdbcType=VARCHAR},
      </if>
      <if test="record.borrowAccountId != null" >
        borrow_account_id = #{record.borrowAccountId,jdbcType=VARCHAR},
      </if>
      <if test="record.amount != null" >
        amount = #{record.amount,jdbcType=DECIMAL},
      </if>
      <if test="record.paymentType != null" >
        payment_type = #{record.paymentType,jdbcType=TINYINT},
      </if>
      <if test="record.loanTerm != null" >
        loan_term = #{record.loanTerm,jdbcType=INTEGER},
      </if>
      <if test="record.borrowApr != null" >
        borrow_apr = #{record.borrowApr,jdbcType=DECIMAL},
      </if>
      <if test="record.guaranteeAccountId != null" >
        guarantee_account_id = #{record.guaranteeAccountId,jdbcType=VARCHAR},
      </if>
      <if test="record.raiseDate != null" >
        raise_date = #{record.raiseDate,jdbcType=VARCHAR},
      </if>
      <if test="record.raiseEndDate != null" >
        raise_end_date = #{record.raiseEndDate,jdbcType=VARCHAR},
      </if>
      <if test="record.respCode != null" >
        resp_code = #{record.respCode,jdbcType=VARCHAR},
      </if>
      <if test="record.errorDesc != null" >
        error_desc = #{record.errorDesc,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null" >
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update hyjf_data_error_subject
    set id = #{record.id,jdbcType=INTEGER},
      borrow_id = #{record.borrowId,jdbcType=INTEGER},
      borrow_nid = #{record.borrowNid,jdbcType=VARCHAR},
      borrow_desc = #{record.borrowDesc,jdbcType=VARCHAR},
      borrow_account_id = #{record.borrowAccountId,jdbcType=VARCHAR},
      amount = #{record.amount,jdbcType=DECIMAL},
      payment_type = #{record.paymentType,jdbcType=TINYINT},
      loan_term = #{record.loanTerm,jdbcType=INTEGER},
      borrow_apr = #{record.borrowApr,jdbcType=DECIMAL},
      guarantee_account_id = #{record.guaranteeAccountId,jdbcType=VARCHAR},
      raise_date = #{record.raiseDate,jdbcType=VARCHAR},
      raise_end_date = #{record.raiseEndDate,jdbcType=VARCHAR},
      resp_code = #{record.respCode,jdbcType=VARCHAR},
      error_desc = #{record.errorDesc,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.hyjf.mybatis.model.auto.DataErrorSubject" >
    update hyjf_data_error_subject
    <set >
      <if test="borrowId != null" >
        borrow_id = #{borrowId,jdbcType=INTEGER},
      </if>
      <if test="borrowNid != null" >
        borrow_nid = #{borrowNid,jdbcType=VARCHAR},
      </if>
      <if test="borrowDesc != null" >
        borrow_desc = #{borrowDesc,jdbcType=VARCHAR},
      </if>
      <if test="borrowAccountId != null" >
        borrow_account_id = #{borrowAccountId,jdbcType=VARCHAR},
      </if>
      <if test="amount != null" >
        amount = #{amount,jdbcType=DECIMAL},
      </if>
      <if test="paymentType != null" >
        payment_type = #{paymentType,jdbcType=TINYINT},
      </if>
      <if test="loanTerm != null" >
        loan_term = #{loanTerm,jdbcType=INTEGER},
      </if>
      <if test="borrowApr != null" >
        borrow_apr = #{borrowApr,jdbcType=DECIMAL},
      </if>
      <if test="guaranteeAccountId != null" >
        guarantee_account_id = #{guaranteeAccountId,jdbcType=VARCHAR},
      </if>
      <if test="raiseDate != null" >
        raise_date = #{raiseDate,jdbcType=VARCHAR},
      </if>
      <if test="raiseEndDate != null" >
        raise_end_date = #{raiseEndDate,jdbcType=VARCHAR},
      </if>
      <if test="respCode != null" >
        resp_code = #{respCode,jdbcType=VARCHAR},
      </if>
      <if test="errorDesc != null" >
        error_desc = #{errorDesc,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hyjf.mybatis.model.auto.DataErrorSubject" >
    update hyjf_data_error_subject
    set borrow_id = #{borrowId,jdbcType=INTEGER},
      borrow_nid = #{borrowNid,jdbcType=VARCHAR},
      borrow_desc = #{borrowDesc,jdbcType=VARCHAR},
      borrow_account_id = #{borrowAccountId,jdbcType=VARCHAR},
      amount = #{amount,jdbcType=DECIMAL},
      payment_type = #{paymentType,jdbcType=TINYINT},
      loan_term = #{loanTerm,jdbcType=INTEGER},
      borrow_apr = #{borrowApr,jdbcType=DECIMAL},
      guarantee_account_id = #{guaranteeAccountId,jdbcType=VARCHAR},
      raise_date = #{raiseDate,jdbcType=VARCHAR},
      raise_end_date = #{raiseEndDate,jdbcType=VARCHAR},
      resp_code = #{respCode,jdbcType=VARCHAR},
      error_desc = #{errorDesc,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>