<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hyjf.mybatis.mapper.auto.DepartmentMapper" >
  <resultMap id="BaseResultMap" type="com.hyjf.mybatis.model.auto.Department" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="pid" property="pid" jdbcType="INTEGER" />
    <result column="code" property="code" jdbcType="VARCHAR" />
    <result column="group" property="group" jdbcType="VARCHAR" />
    <result column="sort" property="sort" jdbcType="INTEGER" />
    <result column="hide" property="hide" jdbcType="BIT" />
    <result column="tip" property="tip" jdbcType="VARCHAR" />
    <result column="level" property="level" jdbcType="INTEGER" />
    <result column="leader_id" property="leaderId" jdbcType="INTEGER" />
    <result column="leader" property="leader" jdbcType="VARCHAR" />
    <result column="guider_id" property="guiderId" jdbcType="INTEGER" />
    <result column="guider" property="guider" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, `name`, pid, code, `group`, sort, hide, tip, `level`, leader_id, leader, guider_id, 
    guider
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.hyjf.mybatis.model.auto.DepartmentExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from huiyingdai_department
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limitStart >= 0" >
      limit #{limitStart} , #{limitEnd}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from huiyingdai_department
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from huiyingdai_department
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.hyjf.mybatis.model.auto.DepartmentExample" >
    delete from huiyingdai_department
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.hyjf.mybatis.model.auto.Department" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into huiyingdai_department (`name`, pid, code, 
      `group`, sort, hide, tip, 
      `level`, leader_id, leader, 
      guider_id, guider)
    values (#{name,jdbcType=VARCHAR}, #{pid,jdbcType=INTEGER}, #{code,jdbcType=VARCHAR}, 
      #{group,jdbcType=VARCHAR}, #{sort,jdbcType=INTEGER}, #{hide,jdbcType=BIT}, #{tip,jdbcType=VARCHAR}, 
      #{level,jdbcType=INTEGER}, #{leaderId,jdbcType=INTEGER}, #{leader,jdbcType=VARCHAR}, 
      #{guiderId,jdbcType=INTEGER}, #{guider,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.hyjf.mybatis.model.auto.Department" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into huiyingdai_department
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="name != null" >
        `name`,
      </if>
      <if test="pid != null" >
        pid,
      </if>
      <if test="code != null" >
        code,
      </if>
      <if test="group != null" >
        `group`,
      </if>
      <if test="sort != null" >
        sort,
      </if>
      <if test="hide != null" >
        hide,
      </if>
      <if test="tip != null" >
        tip,
      </if>
      <if test="level != null" >
        `level`,
      </if>
      <if test="leaderId != null" >
        leader_id,
      </if>
      <if test="leader != null" >
        leader,
      </if>
      <if test="guiderId != null" >
        guider_id,
      </if>
      <if test="guider != null" >
        guider,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="pid != null" >
        #{pid,jdbcType=INTEGER},
      </if>
      <if test="code != null" >
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="group != null" >
        #{group,jdbcType=VARCHAR},
      </if>
      <if test="sort != null" >
        #{sort,jdbcType=INTEGER},
      </if>
      <if test="hide != null" >
        #{hide,jdbcType=BIT},
      </if>
      <if test="tip != null" >
        #{tip,jdbcType=VARCHAR},
      </if>
      <if test="level != null" >
        #{level,jdbcType=INTEGER},
      </if>
      <if test="leaderId != null" >
        #{leaderId,jdbcType=INTEGER},
      </if>
      <if test="leader != null" >
        #{leader,jdbcType=VARCHAR},
      </if>
      <if test="guiderId != null" >
        #{guiderId,jdbcType=INTEGER},
      </if>
      <if test="guider != null" >
        #{guider,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.hyjf.mybatis.model.auto.DepartmentExample" resultType="java.lang.Integer" >
    select count(*) from huiyingdai_department
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update huiyingdai_department
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.name != null" >
        `name` = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.pid != null" >
        pid = #{record.pid,jdbcType=INTEGER},
      </if>
      <if test="record.code != null" >
        code = #{record.code,jdbcType=VARCHAR},
      </if>
      <if test="record.group != null" >
        `group` = #{record.group,jdbcType=VARCHAR},
      </if>
      <if test="record.sort != null" >
        sort = #{record.sort,jdbcType=INTEGER},
      </if>
      <if test="record.hide != null" >
        hide = #{record.hide,jdbcType=BIT},
      </if>
      <if test="record.tip != null" >
        tip = #{record.tip,jdbcType=VARCHAR},
      </if>
      <if test="record.level != null" >
        `level` = #{record.level,jdbcType=INTEGER},
      </if>
      <if test="record.leaderId != null" >
        leader_id = #{record.leaderId,jdbcType=INTEGER},
      </if>
      <if test="record.leader != null" >
        leader = #{record.leader,jdbcType=VARCHAR},
      </if>
      <if test="record.guiderId != null" >
        guider_id = #{record.guiderId,jdbcType=INTEGER},
      </if>
      <if test="record.guider != null" >
        guider = #{record.guider,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update huiyingdai_department
    set id = #{record.id,jdbcType=INTEGER},
      `name` = #{record.name,jdbcType=VARCHAR},
      pid = #{record.pid,jdbcType=INTEGER},
      code = #{record.code,jdbcType=VARCHAR},
      `group` = #{record.group,jdbcType=VARCHAR},
      sort = #{record.sort,jdbcType=INTEGER},
      hide = #{record.hide,jdbcType=BIT},
      tip = #{record.tip,jdbcType=VARCHAR},
      `level` = #{record.level,jdbcType=INTEGER},
      leader_id = #{record.leaderId,jdbcType=INTEGER},
      leader = #{record.leader,jdbcType=VARCHAR},
      guider_id = #{record.guiderId,jdbcType=INTEGER},
      guider = #{record.guider,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.hyjf.mybatis.model.auto.Department" >
    update huiyingdai_department
    <set >
      <if test="name != null" >
        `name` = #{name,jdbcType=VARCHAR},
      </if>
      <if test="pid != null" >
        pid = #{pid,jdbcType=INTEGER},
      </if>
      <if test="code != null" >
        code = #{code,jdbcType=VARCHAR},
      </if>
      <if test="group != null" >
        `group` = #{group,jdbcType=VARCHAR},
      </if>
      <if test="sort != null" >
        sort = #{sort,jdbcType=INTEGER},
      </if>
      <if test="hide != null" >
        hide = #{hide,jdbcType=BIT},
      </if>
      <if test="tip != null" >
        tip = #{tip,jdbcType=VARCHAR},
      </if>
      <if test="level != null" >
        `level` = #{level,jdbcType=INTEGER},
      </if>
      <if test="leaderId != null" >
        leader_id = #{leaderId,jdbcType=INTEGER},
      </if>
      <if test="leader != null" >
        leader = #{leader,jdbcType=VARCHAR},
      </if>
      <if test="guiderId != null" >
        guider_id = #{guiderId,jdbcType=INTEGER},
      </if>
      <if test="guider != null" >
        guider = #{guider,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hyjf.mybatis.model.auto.Department" >
    update huiyingdai_department
    set `name` = #{name,jdbcType=VARCHAR},
      pid = #{pid,jdbcType=INTEGER},
      code = #{code,jdbcType=VARCHAR},
      `group` = #{group,jdbcType=VARCHAR},
      sort = #{sort,jdbcType=INTEGER},
      hide = #{hide,jdbcType=BIT},
      tip = #{tip,jdbcType=VARCHAR},
      `level` = #{level,jdbcType=INTEGER},
      leader_id = #{leaderId,jdbcType=INTEGER},
      leader = #{leader,jdbcType=VARCHAR},
      guider_id = #{guiderId,jdbcType=INTEGER},
      guider = #{guider,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>