<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hyjf.mybatis.mapper.auto.ExtensionTempMapper" >
  <resultMap id="BaseResultMap" type="com.hyjf.mybatis.model.auto.ExtensionTemp" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="sign" property="sign" jdbcType="VARCHAR" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="truename" property="truename" jdbcType="VARCHAR" />
    <result column="source_id" property="sourceId" jdbcType="INTEGER" />
    <result column="platform" property="platform" jdbcType="TINYINT" />
    <result column="attribute" property="attribute" jdbcType="INTEGER" />
    <result column="access_time" property="accessTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, sign, user_id, truename, source_id, platform, `attribute`, access_time
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.hyjf.mybatis.model.auto.ExtensionTempExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from hyjf_extension_temp
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limitStart >= 0" >
      limit #{limitStart} , #{limitEnd}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from hyjf_extension_temp
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from hyjf_extension_temp
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.hyjf.mybatis.model.auto.ExtensionTempExample" >
    delete from hyjf_extension_temp
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.hyjf.mybatis.model.auto.ExtensionTemp" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into hyjf_extension_temp (sign, user_id, truename, 
      source_id, platform, `attribute`, 
      access_time)
    values (#{sign,jdbcType=VARCHAR}, #{userId,jdbcType=INTEGER}, #{truename,jdbcType=VARCHAR}, 
      #{sourceId,jdbcType=INTEGER}, #{platform,jdbcType=TINYINT}, #{attribute,jdbcType=INTEGER}, 
      #{accessTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.hyjf.mybatis.model.auto.ExtensionTemp" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into hyjf_extension_temp
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="sign != null" >
        sign,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="truename != null" >
        truename,
      </if>
      <if test="sourceId != null" >
        source_id,
      </if>
      <if test="platform != null" >
        platform,
      </if>
      <if test="attribute != null" >
        `attribute`,
      </if>
      <if test="accessTime != null" >
        access_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="sign != null" >
        #{sign,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="truename != null" >
        #{truename,jdbcType=VARCHAR},
      </if>
      <if test="sourceId != null" >
        #{sourceId,jdbcType=INTEGER},
      </if>
      <if test="platform != null" >
        #{platform,jdbcType=TINYINT},
      </if>
      <if test="attribute != null" >
        #{attribute,jdbcType=INTEGER},
      </if>
      <if test="accessTime != null" >
        #{accessTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.hyjf.mybatis.model.auto.ExtensionTempExample" resultType="java.lang.Integer" >
    select count(*) from hyjf_extension_temp
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update hyjf_extension_temp
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.sign != null" >
        sign = #{record.sign,jdbcType=VARCHAR},
      </if>
      <if test="record.userId != null" >
        user_id = #{record.userId,jdbcType=INTEGER},
      </if>
      <if test="record.truename != null" >
        truename = #{record.truename,jdbcType=VARCHAR},
      </if>
      <if test="record.sourceId != null" >
        source_id = #{record.sourceId,jdbcType=INTEGER},
      </if>
      <if test="record.platform != null" >
        platform = #{record.platform,jdbcType=TINYINT},
      </if>
      <if test="record.attribute != null" >
        `attribute` = #{record.attribute,jdbcType=INTEGER},
      </if>
      <if test="record.accessTime != null" >
        access_time = #{record.accessTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update hyjf_extension_temp
    set id = #{record.id,jdbcType=BIGINT},
      sign = #{record.sign,jdbcType=VARCHAR},
      user_id = #{record.userId,jdbcType=INTEGER},
      truename = #{record.truename,jdbcType=VARCHAR},
      source_id = #{record.sourceId,jdbcType=INTEGER},
      platform = #{record.platform,jdbcType=TINYINT},
      `attribute` = #{record.attribute,jdbcType=INTEGER},
      access_time = #{record.accessTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.hyjf.mybatis.model.auto.ExtensionTemp" >
    update hyjf_extension_temp
    <set >
      <if test="sign != null" >
        sign = #{sign,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="truename != null" >
        truename = #{truename,jdbcType=VARCHAR},
      </if>
      <if test="sourceId != null" >
        source_id = #{sourceId,jdbcType=INTEGER},
      </if>
      <if test="platform != null" >
        platform = #{platform,jdbcType=TINYINT},
      </if>
      <if test="attribute != null" >
        `attribute` = #{attribute,jdbcType=INTEGER},
      </if>
      <if test="accessTime != null" >
        access_time = #{accessTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hyjf.mybatis.model.auto.ExtensionTemp" >
    update hyjf_extension_temp
    set sign = #{sign,jdbcType=VARCHAR},
      user_id = #{userId,jdbcType=INTEGER},
      truename = #{truename,jdbcType=VARCHAR},
      source_id = #{sourceId,jdbcType=INTEGER},
      platform = #{platform,jdbcType=TINYINT},
      `attribute` = #{attribute,jdbcType=INTEGER},
      access_time = #{accessTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>