<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hyjf.mybatis.mapper.customize.ActdecListedFourCustomizeMapper">

	<sql id="Where_Clause">
		<where>
			<!-- 用户名 -->
			<if test="userNameSrch != null and userNameSrch != ''">
				AND half.user_name = #{userNameSrch }
			</if>
			<!-- 姓名 -->
			<if test="userTureNameSrch != null and userTureNameSrch != ''">
				AND half.user_ture_name = #{userTureNameSrch }
			</if>
			<!-- 手机 -->
			<if test="userMobileSrch != null and userMobileSrch != ''">
				AND half.user_mobile = #{userMobileSrch }
			</if>
		</where>
	</sql>

	<select id="countActdecListedFour" resultType="java.lang.Integer" parameterType="com.hyjf.mybatis.model.customize.ActdecListedFourCustomize">
		SELECT
		  COUNT(1)
		FROM
		    hyjf_actdec_listed_four half
		<include refid="Where_Clause" />
	</select>

	<resultMap id="selectActdecListedFourListMap" type="com.hyjf.mybatis.model.customize.ActdecListedFourCustomize">
		<result column="user_name" property="userName" />
		<result column="user_ture_name" property="userTureName" />
		<result column="user_id" property="userId" />
		<result column="user_mobile" property="userMobile" />
		<result column="cover_user_id" property="coverUserId" />
		<result column="cover_user_mobile" property="coverUserMobile" />
		<result column="cover_user_name" property="coverUserName" />
		<result column="cover_user_ture_name" property="coverUserTureName" />
		<result column="cumulative" property="cumulative" />
		<result column="whether" property="whether" />
		<result column="registration_time" property="registrationTime" />
		<result column="open_time" property="openTime" />
		<result column="create_user" property="createUser" />
		<result column="create_time" property="createTime" />
		<result column="update_user" property="updateUser" />
		<result column="update_time" property="updateTime" />
		<result column="del_flg" property="delFlg" />
	</resultMap>
	<select id="selectActdecListedFourList" resultMap="selectActdecListedFourListMap" parameterType="com.hyjf.mybatis.model.customize.ActdecListedFourCustomize">
		SELECT
		   user_id,
		   user_mobile,
		   user_name,
		   user_ture_name,
		   cover_user_id,
		   cover_user_mobile,
		   cover_user_name,
		   cover_user_ture_name,
		   cumulative,
		   whether,
		   registration_time,
		   open_time,
		   create_user,
		   create_time,
		   update_user,
		   update_time,
		   del_flg
		from hyjf_actdec_listed_four half
	   <include refid="Where_Clause" />
		ORDER BY
		  half.update_time DESC
	    <if test="limitStart >= 0" >
	      LIMIT #{limitStart} , #{limitEnd}
	    </if>
	</select>
	
	<resultMap id="exportActdecListedFourListMap" type="com.hyjf.mybatis.model.customize.ActdecListedFourCustomize">
		<result column="user_name" property="userName" />
		<result column="user_ture_name" property="userTureName" />
		<result column="user_id" property="userId" />
		<result column="user_mobile" property="userMobile" />
		<result column="cover_user_id" property="coverUserId" />
		<result column="cover_user_mobile" property="coverUserMobile" />
		<result column="cover_user_name" property="coverUserName" />
		<result column="cover_user_ture_name" property="coverUserTureName" />
		<result column="cumulative" property="cumulative" />
		<result column="whether" property="whether" />
		<result column="registration_time" property="registrationTime" />
		<result column="open_time" property="openTime" />
		<result column="create_user" property="createUser" />
		<result column="create_time" property="createTime" />
		<result column="update_user" property="updateUser" />
		<result column="update_time" property="updateTime" />
		<result column="del_flg" property="delFlg" />
	</resultMap>
	<select id="exportActdecListedFourList" resultMap="exportActdecListedFourListMap" parameterType="com.hyjf.mybatis.model.customize.ActdecListedFourCustomize">
		SELECT
		   user_id,
		   user_mobile,
		   user_name,
		   user_ture_name,
		   cover_user_id,
		   cover_user_mobile,
		   cover_user_name,
		   cover_user_ture_name,
		   cumulative,
		   whether,
		   registration_time,
		   open_time,
		   create_user,
		   create_time,
		   update_user,
		   update_time,
		   del_flg
		from hyjf_actdec_listed_four half
	   <include refid="Where_Clause" />
		ORDER BY
		  half.update_time DESC
	</select>
</mapper>