<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hyjf.mybatis.mapper.customize.BorrowCustomizeMapper">

	<sql id="Where_Clause">
		<where>
			<if test="borrowNidSrch != null and borrowNidSrch != ''">
				AND b.borrow_nid LIKE CONCAT('%', #{borrowNidSrch}, '%')
			</if>
			<if test="borrowNameSrch != null and borrowNameSrch != ''">
				AND b.`name` LIKE CONCAT('%', #{borrowNameSrch}, '%')
			</if>
			<if test="usernameSrch != null and usernameSrch != ''">
				AND b.borrow_user_name LIKE CONCAT('%', #{usernameSrch}, '%')
			</if>
			<!-- 标的状态 -->
			<if test="statusSrch != null and statusSrch != ''">
				AND b.`status` = #{statusSrch}
			</if>
			<if test="borrowPeriod != null and borrowPeriod != ''">
				AND b.borrow_period = #{borrowPeriod}
			</if>
			<if test="projectTypeSrch != null and projectTypeSrch != ''">
				AND b.project_type = #{projectTypeSrch}
			</if>
			<if test="borrowStyleSrch != null and borrowStyleSrch != ''">
				AND b.borrow_style = #{borrowStyleSrch}
			</if>
			<if test="recoverTimeStartSrch != null and recoverTimeStartSrch != ''">
				AND b.recover_last_time <![CDATA[>=]]> unix_timestamp(#{recoverTimeStartSrch})
			</if>
			<if test="recoverTimeEndSrch != null and recoverTimeEndSrch != ''">
				AND b.recover_last_time <![CDATA[<=]]> unix_timestamp(#{recoverTimeEndSrch})+86399
			</if>
			<if test="timeStartSrch != null and timeStartSrch != ''">
				AND b.addtime <![CDATA[>=]]> unix_timestamp(#{timeStartSrch})
			</if>
			<if test="timeEndSrch != null and timeEndSrch != ''">
				AND b.addtime <![CDATA[<=]]> unix_timestamp(#{timeEndSrch})+86399
			</if>
			<if test="planNidSrch != null and planNidSrch != ''">
				AND b.plan_nid = #{planNidSrch}
			</if>
			<if test="instCodeSrch != null and instCodeSrch != ''">
				AND b.inst_code = #{instCodeSrch}
			</if>
			<if test="labelNameSrch != null and labelNameSrch != ''">
				AND label.label_name LIKE CONCAT('%', #{labelNameSrch}, '%')
			</if>
			<!--  add by zhangyk  增加初审时间的条件查询 2018年5月15日10:39:57  begin -->
			<if test="verifyTimeStartSrch != null and verifyTimeStartSrch != ''">
				AND b.verify_time <![CDATA[ >= ]]> unix_timestamp(#{verifyTimeStartSrch})
			</if>
			<if test="verifyTimeEndSrch != null and verifyTimeEndSrch != ''">
				AND b.verify_time <![CDATA[ <= ]]> unix_timestamp(#{verifyTimeEndSrch})+86399
			</if>
			<!--  add by zhangyk  增加初审时间的条件查询 2018年5月15日10:40:01 end -->
		</where>
	</sql>
	
	<select id="sumAccount" resultType="java.math.BigDecimal" parameterType="com.hyjf.mybatis.model.customize.BorrowCommonCustomize">
		  SELECT
		    SUM(b.account)
		  FROM
			huiyingdai_borrow b
			LEFT JOIN hyjf_hjh_label label ON b.label_id = label.id
			LEFT JOIN huiyingdai_borrow_style bs ON bs.nid = b.borrow_style
			LEFT JOIN huiyingdai_borrow_project_type bpt ON bpt.borrow_cd = CAST(b.project_type AS CHAR)
			LEFT JOIN hyjf_param_name pn ON cast(b.`status` AS CHAR) = pn.name_cd AND pn.name_class = 'BORROW_STATUS'
			LEFT JOIN hyjf_hjh_inst_config hic ON hic.inst_code = b.inst_code
		<include refid="Where_Clause" />
	</select>
	
	<select id="countBorrow" resultType="java.lang.Long" parameterType="com.hyjf.mybatis.model.customize.BorrowCommonCustomize">
		  SELECT
		    COUNT(1)
		  FROM
			huiyingdai_borrow b
			LEFT JOIN hyjf_hjh_label label ON b.label_id = label.id
			LEFT JOIN huiyingdai_borrow_style bs ON bs.nid = b.borrow_style
			LEFT JOIN huiyingdai_borrow_project_type bpt ON bpt.borrow_cd = CAST(b.project_type AS CHAR)
			LEFT JOIN hyjf_param_name pn ON cast(b.`status` AS CHAR) = pn.name_cd AND pn.name_class = 'BORROW_STATUS'
			LEFT JOIN hyjf_hjh_inst_config hic ON hic.inst_code = b.inst_code
		<include refid="Where_Clause" />
	</select>

	<resultMap id="selectBorrowListMap" type="com.hyjf.mybatis.model.customize.BorrowCustomize">
		<result column="borrow_nid" property="borrowNid" jdbcType="VARCHAR" />
		<result column="borrow_name" property="borrowName" jdbcType="VARCHAR" />
		<!-- 项目标题 --> 
		<result column="project_name" property="projectName" jdbcType="VARCHAR" />
		<result column="username" property="username" jdbcType="VARCHAR" />
		<result column="userId" property="userId" />
		<result column="applicant" property="applicant" jdbcType="VARCHAR" />
		<result column="account" property="account" jdbcType="VARCHAR" />
		<result column="borrow_style" property="borrowStyle" jdbcType="VARCHAR" />
		<result column="borrow_style_name" property="borrowStyleName" jdbcType="VARCHAR" />
		<result column="project_type" property="projectType" jdbcType="VARCHAR" />
		<result column="project_type_name" property="projectTypeName" jdbcType="VARCHAR" />
		<result column="borrow_period" property="borrowPeriod" jdbcType="VARCHAR" />
		<result column="borrow_apr" property="borrowApr" jdbcType="VARCHAR" />
		<result column="status" property="status" jdbcType="VARCHAR" />
		<result column="repay_full_status" property="repayFullStatus" jdbcType="VARCHAR" />
		<result column="addtime" property="addtime" jdbcType="VARCHAR" />
		<result column="borrow_full_time" property="borrowFullTime" jdbcType="VARCHAR" />
		<result column="reverify_time" property="reverifyTime" jdbcType="VARCHAR" />
		<!-- 放款完成时间 --> 
		<result column="recover_last_time" property="recoverLastTime" jdbcType="VARCHAR" />
		<!-- 放款完成时间 --> 
		<result column="recover_last_day" property="recoverLastDay" jdbcType="VARCHAR" />
		<!-- 已借到金额 --> 
		<result column="borrow_account_yes" property="borrowAccountYes" jdbcType="VARCHAR" />
		<!-- 剩余金额 --> 
		<result column="borrow_account_wait" property="borrowAccountWait" jdbcType="VARCHAR" />
		<!-- 借款进度 --> 
		<result column="borrow_account_scale" property="borrowAccountScale" jdbcType="VARCHAR" />
		<!-- 借款进度 --> 
		<result column="borrow_publisher" property="borrowPublisher" jdbcType="VARCHAR" />
		<!-- 加息率 --> 
		<result column="borrow_extra_yield" property="borrowExtraYield" jdbcType="VARCHAR" />
		<!-- 融通宝编号 --> 
		<result column="borrow_asset_number" property="borrowAssetNumber" jdbcType="VARCHAR" />
		<!-- 协议期限 --> 
		<result column="contract_period" property="contractPeriod" jdbcType="VARCHAR" />
		<!-- 期限类型 --> 
		<result column="borrow_period_type" property="borrowPeriodType" jdbcType="VARCHAR" />
		<!-- 项目最小出借金额 万-->
		<result column="tender_account_min_wan" property="tenderAccountMinWan" jdbcType="VARCHAR" />
		<!-- 倍增金额  increaseMoney-->	
		<result column="increase_money" property="increaseMoney" jdbcType="VARCHAR" />
		<!-- 复审用户名-->	
		<result column="create_user_name" property="createUserName" jdbcType="VARCHAR" />
		<!--  垫付机构用户名-->	
		<result column="repay_org_name" property="repayOrgUserName" jdbcType="VARCHAR" />
		<!--  计划编号 -->	
		<result column="plan_nid" property="planNid" jdbcType="VARCHAR" />
		<!--  资产来源 -->	
		<result column="inst_name" property="instName" jdbcType="VARCHAR" />
		<!-- 标签名称 -->	
		<result column="labelName" property="labelName" jdbcType="VARCHAR" />
		<!-- ADD BY LIUSHOUYI 合规检查 START -->
		<!-- 借款方姓名 -->
		<result column="truename" property="truename" jdbcType="VARCHAR" />
		<result column="businame" property="businame" jdbcType="VARCHAR" />
		<result column="usertype" property="userType" jdbcType="VARCHAR" />
		<!-- ADD BY LIUSHOUYI 合规检查 END -->
		<!-- ADD BY zhangyk 增加初审时间 start -->
		<result column="verify_time" property="verifyTime" jdbcType="VARCHAR" />
		<!-- ADD BY zhangyk 增加初审时间 end -->
	</resultMap>
	<select id="selectBorrowList" resultMap="selectBorrowListMap" parameterType="com.hyjf.mybatis.model.customize.BorrowCommonCustomize">
		SELECT
			b.borrow_increase_money increase_money,
			truncate(b.tender_account_min/10000,2) tender_account_min_wan,
			b.contract_period,
			b.user_id As userId,
			b.borrow_extra_yield,
			b.borrow_asset_number,
			b.borrow_publisher,
				CASE WHEN b.borrow_style = 'endday' THEN '天' ELSE '个月' END AS borrow_period_type,
			b.borrow_nid,
			b.`name` AS borrow_name,
			b.project_name,
			b.applicant,
			b.repay_full_status,
			b.borrow_user_name AS username,
			FORMAT(b.account, 2) AS account,
			FORMAT(b.borrow_account_yes, 2) AS borrow_account_yes,
		    FORMAT(b.borrow_account_wait, 2) AS borrow_account_wait,
		    CONCAT(b.borrow_account_scale, '%') borrow_account_scale,
			b.borrow_style,
			bs.`name` AS borrow_style_name,
			b.project_type,
			bpt.borrow_name AS project_type_name,
			CASE WHEN b.borrow_style = 'endday' THEN CONCAT(b.borrow_period, '天') ELSE CONCAT(b.borrow_period, '个月') END AS borrow_period,
			CONCAT(b.borrow_apr, '%') borrow_apr,
			FROM_UNIXTIME( b.reverify_time, '%Y-%m-%d %H:%i:%s' ) AS reverify_time,
			pn.name AS `status`,
			FROM_UNIXTIME( b.addtime, '%Y-%m-%d %H:%i:%s' ) AS addtime,
			b.reverify_user_name,
			b.repay_org_name,
      		CASE WHEN b.borrow_full_time IS NOT NULL THEN FROM_UNIXTIME( b.borrow_full_time, '%Y-%m-%d %H:%i:%s' ) ELSE '' END AS borrow_full_time,
      		CASE WHEN b.recover_last_time <![CDATA[<>]]> 0 AND b.recover_last_time IS NOT NULL THEN FROM_UNIXTIME( b.recover_last_time, '%Y-%m-%d %H:%i:%s' ) ELSE '' END AS recover_last_time,
      		CASE WHEN b.recover_last_time <![CDATA[<>]]> 0 AND b.recover_last_time IS NOT NULL THEN FROM_UNIXTIME( b.recover_last_time, '%Y-%m-%d' ) ELSE '' END AS recover_last_day,
			b.plan_nid,
			IFNULL(label.label_name, '--') AS labelName,
			<!-- ADD BY LIUSHOUYI 合规检查 START -->
			b.company_or_personal AS usertype,
			substr(hbm.name, 1, 1) AS truename,
			substr(hbu.username, 1, 1) AS businame,
			<!-- ADD BY LIUSHOUYI 合规检查 END -->
			hic.inst_name,
			<!--ADD  BY  zhangyk   增加初审时间显示 START -->
			CASE WHEN b.verify_time <![CDATA[ <>]]> 0 AND b.verify_time IS NOT NULL THEN FROM_UNIXTIME( b.verify_time, '%Y-%m-%d %H:%i:%s' ) ELSE '' END AS verify_time
			<!--ADD  BY  zhangyk   增加初审时间显示 END -->
    FROM
        huiyingdai_borrow b
        LEFT JOIN hyjf_hjh_label label ON b.label_id = label.id
        LEFT JOIN huiyingdai_borrow_style bs ON bs.nid = b.borrow_style
        LEFT JOIN huiyingdai_borrow_project_type bpt ON bpt.borrow_cd = CAST(b.project_type AS CHAR)
        LEFT JOIN hyjf_param_name pn ON cast(b.`status` AS CHAR) = pn.name_cd AND pn.name_class = 'BORROW_STATUS'
        LEFT JOIN hyjf_hjh_inst_config hic ON hic.inst_code = b.inst_code
        <!-- ADD BY LIUSHOUYI 合规检查 START -->
			LEFT JOIN huiyingdai_borrow_maninfo hbm on b.borrow_nid = hbm.borrow_nid
			LEFT JOIN huiyingdai_borrow_users hbu on b.borrow_nid = hbu.borrow_nid
			<!-- ADD BY LIUSHOUYI 合规检查 END -->
		<include refid="Where_Clause" />
		ORDER BY
		<if test="col != null and col != '' and sort != null and sort != ''">
			${col} ${sort},
		</if>
		  b.addtime DESC, b.id DESC
	    <if test="limitStart >= 0" >
	      LIMIT #{limitStart} , #{limitEnd}
	    </if>
	</select>
	
	<select id="searchBorrowList" resultMap="selectBorrowListMap" parameterType="com.hyjf.mybatis.model.customize.BorrowCommonCustomize">
		SELECT
			b.borrow_increase_money increase_money,
			truncate(b.tender_account_min/10000,2) tender_account_min_wan,
			b.contract_period,
			b.borrow_extra_yield,
			b.borrow_asset_number,
			b.borrow_publisher,
				CASE WHEN b.borrow_style = 'endday' THEN '天' ELSE '个月' END AS borrow_period_type,
			b.borrow_nid,
			b.`name` AS borrow_name,
			b.project_name,
			b.applicant,
			b.borrow_user_name AS username,
			b.user_id AS userId,
			FORMAT(b.account, 2) AS account,
			FORMAT(b.borrow_account_yes, 2) AS borrow_account_yes,
		    FORMAT(b.borrow_account_wait, 2) AS borrow_account_wait,
		    CONCAT(b.borrow_account_scale, '%') borrow_account_scale,
			b.borrow_style,
			bs.`name` AS borrow_style_name,
			b.project_type,
			bpt.borrow_name AS project_type_name,
			CASE WHEN borrow_style = 'endday' THEN CONCAT(b.borrow_period, '天') ELSE CONCAT(b.borrow_period, '个月') END borrow_period,
			CONCAT(b.borrow_apr, '%') borrow_apr,
			FROM_UNIXTIME( b.reverify_time, '%Y-%m-%d %H:%i:%s' ) AS reverify_time,
			CASE 
			  WHEN ( ( b.`status` = 0 ) OR ( b.`status` = 0 AND b.verify_status = 0 )) THEN '初审中'
              WHEN ( ( b.`status` = 0 AND ( b.verify_status = 1 OR b.verify_status = 3 ) ) ) THEN '待发布'
              WHEN ( b.`status` = 1 AND b.borrow_status = 1 AND b.borrow_account_yes <![CDATA[<]]> b.account AND b.verify_time + ( borrow_valid_time * 24 * 60 *60 ) <![CDATA[>]]> UNIX_TIMESTAMP( NOW() ) ) THEN '出借中'
              WHEN ( b.`status` = 1 AND b.reverify_time = '0' AND ( ( b.reverify_status = 0 AND b.borrow_account_yes <![CDATA[>=]]> b.account ) OR ( b.verify_time + ( borrow_valid_time * 24 * 60 *60 ) <![CDATA[<]]> UNIX_TIMESTAMP(NOW()) ) ) ) THEN '复审中'
              WHEN ( b.`status` = 3 AND b.repay_full_status = 0 ) THEN '还款中'
              WHEN ( b.`status` = 3 AND b.repay_full_status = 1 ) THEN '已还款'              
              WHEN b.`status` = 2 THEN '已流标'
			ELSE
			  ''
			END AS `status`,
			FROM_UNIXTIME( b.addtime, '%Y-%m-%d %H:%i:%s' ) AS addtime,
      		CASE WHEN b.borrow_full_time IS NOT NULL THEN FROM_UNIXTIME( b.borrow_full_time, '%Y-%m-%d %H:%i:%s' ) ELSE '' END AS borrow_full_time,
      		CASE WHEN b.recover_last_time <![CDATA[<>]]> 0 AND b.recover_last_time IS NOT NULL THEN FROM_UNIXTIME( b.recover_last_time, '%Y-%m-%d %H:%i:%s' ) ELSE '' END AS recover_last_time,
      		CASE WHEN b.recover_last_time <![CDATA[<>]]> 0 AND b.recover_last_time IS NOT NULL THEN FROM_UNIXTIME( b.recover_last_time, '%Y-%m-%d' ) ELSE '' END AS recover_last_day
		FROM
		    huiyingdai_borrow b
		    
		    
			LEFT JOIN huiyingdai_borrow_style bs ON bs.nid = b.borrow_style
			LEFT JOIN huiyingdai_borrow_project_type bpt ON bpt.borrow_cd = CAST(b.project_type AS CHAR)
		where
			1=1
			<if test="borrowNidSrch != null and borrowNidSrch != ''">
				AND b.borrow_nid = #{borrowNidSrch}
			</if>
			<if test="borrowNameSrch != null and borrowNameSrch != ''">
				AND b.`name` LIKE CONCAT('%', #{borrowNameSrch}, '%')
			</if>
			<if test="usernameSrch != null and usernameSrch != ''">
				AND b.borrow_user_name LIKE CONCAT('%', #{usernameSrch}, '%')
			</if>

			<!-- 初审中 -->
			<if test="statusSrch == '0'.toString()">
				AND 
				(
				  ( b.`status` = 0 )
				  OR
				  ( b.`status` = 0 AND b.verify_status = 0 )
                )
			</if>
			<!-- 待发布 -->
			<if test="statusSrch == '10'.toString()">
				AND ( ( b.`status` = 0 AND ( b.verify_status = 1 OR b.verify_status = 3 ) ) )
			</if>
			<!-- 出借中 -->
			<if test="statusSrch == '12'.toString()">
				AND ( 
				   b.`status` = 1 
				   AND b.borrow_status = 1 
				   AND b.borrow_account_yes <![CDATA[<]]> b.account 
				   AND b.verify_time + ( borrow_valid_time * 24 * 60 *60 ) <![CDATA[>]]> UNIX_TIMESTAMP( NOW() )
			    )
			</if>
			<!-- 复审中 -->
			<if test="statusSrch == '15'.toString()">
				AND
				( b.`status` = 1 AND b.reverify_time = '0'
				 	AND 
				 	  ( 
				 	      ( b.reverify_status = 0 AND b.borrow_account_yes <![CDATA[>=]]> b.account ) 
				 	  OR 
				 	      ( b.verify_time + ( borrow_valid_time * 24 * 60 *60 ) <![CDATA[<]]> UNIX_TIMESTAMP(NOW()) ) 
				 	  ) 
				  )
			</if>
			<!-- 还款中 -->
			<if test="statusSrch == '20'.toString()">
				AND ( b.`status` = 3 AND b.repay_full_status = 0 )
			</if>
			<!-- 已还款 -->
			<if test="statusSrch == '25'.toString()">
				AND ( b.`status` = 3 AND b.repay_full_status = 1 )
			</if>
			<!-- 已流标 -->
			<if test="statusSrch == '2'.toString()">
				AND b.`status` = 2
			</if>

			<if test="borrowPeriod != null and borrowPeriod != ''">
				AND b.borrow_period = #{borrowPeriod}
			</if>
			<if test="projectTypeSrch != null and projectTypeSrch != ''">
				AND b.project_type = #{projectTypeSrch}
			</if>
			<if test="borrowStyleSrch != null and borrowStyleSrch != ''">
				AND b.borrow_style = #{borrowStyleSrch}
			</if>
			<if test="recoverTimeStartSrch != null and recoverTimeStartSrch != ''">
				AND b.recover_last_time <![CDATA[>=]]> unix_timestamp(#{recoverTimeStartSrch})
			</if>
			<if test="recoverTimeEndSrch != null and recoverTimeEndSrch != ''">
				AND b.recover_last_time <![CDATA[<=]]> unix_timestamp(#{recoverTimeEndSrch})+86399
			</if>
			<if test="timeStartSrch != null and timeStartSrch != ''">
				AND b.addtime <![CDATA[>=]]> unix_timestamp(#{timeStartSrch})
			</if>
			<if test="timeEndSrch != null and timeEndSrch != ''">
				AND b.addtime <![CDATA[<=]]> unix_timestamp(#{timeEndSrch})+86399
			</if>
		ORDER BY
		<if test="col != null and col != '' and sort != null and sort != ''">
			${col} ${sort},
		</if>
		  b.addtime DESC, b.id DESC
	    <if test="limitStart >= 0" >
	      LIMIT #{limitStart} , #{limitEnd}
	    </if>
	</select>
	
	<select id="getBorrowPreNid" resultType="java.lang.String" parameterType="java.lang.String">
		SELECT DISTINCT
			MAX(b.borrow_pre_nid_new)
		FROM
		  huiyingdai_borrow b
		WHERE
		  b.borrow_pre_nid_new LIKE CONCAT('%', #{mmdd, jdbcType=VARCHAR}, '%')
		  AND b.project_type != 15
		  AND b.project_type != 16
		  AND b.project_type != 19
		  AND b.inst_code = 10000000
	</select>
	
	<select id="getXJDBorrowPreNid" resultType="java.lang.String" parameterType="java.lang.String">
		SELECT
			MAX(CAST(b.borrow_pre_nid_new as SIGNED))
		FROM
		  huiyingdai_borrow b
		WHERE
		  b.borrow_pre_nid_new LIKE CONCAT('%', #{mmdd, jdbcType=VARCHAR}, '%')
		  AND ( b.project_type = 15 OR  b.project_type = 16 OR b.project_type = 19 )
		  AND b.inst_code = 10000000
	</select>
	
    <!-- 导出 -->
	<resultMap id="exportBorrowListMap" type="com.hyjf.mybatis.model.customize.BorrowCommonCustomize">
		<!-- 序号借款编号  --> 
		<result column="borrow_nid" property="borrowNid" jdbcType="VARCHAR" />
		<!-- 借款人ID  --> 
		<result column="user_id" property="userId" jdbcType="VARCHAR" />
		<!-- 项目申请人  --> 
		<result column="applicant" property="applicant" jdbcType="VARCHAR" />
		<!-- 借款人用户名 --> 
		<result column="username" property="username" jdbcType="VARCHAR" />
		<!-- 借款标题 --> 
		<result column="borrow_name" property="borrowName" jdbcType="VARCHAR" />
		<!-- 项目标题 --> 
		<result column="project_name" property="projectName" jdbcType="VARCHAR" />		
		<!-- 项目类型 --> 
		<result column="borrow_project_type_name" property="borrowProjectTypeName" jdbcType="VARCHAR" />
		<!-- 借款金额（元） --> 
		<result column="account" property="account" jdbcType="VARCHAR" />
		<!-- 借款期限 --> 
		<result column="borrow_period" property="borrowPeriod" jdbcType="VARCHAR" />
		<!-- 年化收益 --> 
		<result column="borrow_apr" property="borrowApr" jdbcType="VARCHAR" />
		<!-- 还款方式 --> 
		<result column="borrow_style" property="borrowStyle" jdbcType="VARCHAR" />
		<!-- 融资服务费率 --> 
		<result column="borrow_service_scale" property="borrowServiceScale" jdbcType="VARCHAR" />
		<!-- 账户管理费率 --> 
		<result column="borrow_manager_scale" property="borrowManagerScale" jdbcType="VARCHAR" />
		<!-- 合作机构 --> 
		<result column="borrow_measures_instit" property="borrowMeasuresInstit" jdbcType="VARCHAR" />
		<!-- 已借到金额 --> 
		<result column="borrow_account_yes" property="borrowAccountYes" jdbcType="VARCHAR" />
		<!-- 剩余金额 --> 
		<result column="borrow_account_wait" property="borrowAccountWait" jdbcType="VARCHAR" />
		<!-- 借款进度 --> 
		<result column="borrow_account_scale" property="borrowAccountScale" jdbcType="VARCHAR" />
		<!-- 项目状态 --> 
		<result column="status" property="status" jdbcType="VARCHAR" />
		<!-- 添加时间 --> 
		<result column="addtime" property="addtime" jdbcType="VARCHAR" />
		<!-- 初审通过时间 --> 
		<result column="verify_over_time" property="verifyOverTime" jdbcType="VARCHAR" />
		<!-- 定时发标时间 --> 
		<result column="ontime" property="ontime" jdbcType="VARCHAR" />
		<!-- 预约开始时间 --> 
		<result column="bookingBeginTime" property="bookingBeginTime" jdbcType="VARCHAR" />
		<!-- 预约截止时间 --> 
		<result column="bookingEndTime" property="bookingEndTime" jdbcType="VARCHAR" />
		<!-- 实际发标时间 --> 
		<result column="verify_time" property="verifyTime" jdbcType="VARCHAR" />
		<!-- 投际截止时间--> 
		<result column="borrow_valid_time" property="borrowValidTime" jdbcType="VARCHAR" />
		<!-- 满标时间 --> 
		<result column="borrow_full_time" property="borrowFullTime" jdbcType="VARCHAR" />
		<!-- 复审通过时间 --> 
		<result column="reverify_time" property="reverifyTime" jdbcType="VARCHAR" />
		<!-- 放款完成时间 --> 
		<result column="recover_last_time" property="recoverLastTime" jdbcType="VARCHAR" />
		<!-- 最后还款日 --> 
		<result column="repay_last_time" property="repayLastTime" jdbcType="VARCHAR" />
		<!-- 备案时间-->	
		<result column="regist_time" property="registTime" jdbcType="VARCHAR" />
		<!-- 复审用户名-->	
		<result column="reverify_user_name" property="reverifyUserName" jdbcType="VARCHAR" />
		<!--  垫付机构用户名-->	
		<result column="repay_org_name" property="repayOrgUserName" jdbcType="VARCHAR" />
		<!--  计划编号 -->	
		<result column="plan_nid" property="planNid" jdbcType="VARCHAR" />
		<!--  资产来源 -->	
		<result column="inst_name" property="instName" jdbcType="VARCHAR" />
		<!--  借款人姓名 -->	
		<result column="borrower_name" property="borrowerName" jdbcType="VARCHAR" />
		<!--  所在地区 -->	
		<result column="location" property="location" jdbcType="VARCHAR" />
		<!--  借款人属性 -->	
		<result column="attribute" property="attribute" jdbcType="VARCHAR" />
		<!--  受托支付标志 0 否；1是 -->	
		<result column="entrustedFlg" property="entrustedFlg" />
		<!--  受托支付用户名 0 否；1是 -->	
		<result column="entrustedUsername" property="entrustedUsername" />
		<!-- 账户操作人-->	
		<result column="create_user_name" property="createUserName" jdbcType="VARCHAR" />
		<!-- 备案人员-->	
		<result column="regist_user_name" property="registUserName" jdbcType="VARCHAR" />
		<!-- 备注-->	
		<result column="remark" property="remark" jdbcType="VARCHAR" />
		<!-- 标签名称-->	
		<result column="labelName" property="labelNameSrch" jdbcType="VARCHAR" />
		<!-- ADD BY LIUSHOUYI 合规检查 START -->
		<!-- 创建人姓名 -->
		<result column="createname" property="createname" jdbcType="VARCHAR" />
		<!-- 备案人姓名 -->
		<result column="registname" property="registname" jdbcType="VARCHAR" />
		<!-- ADD BY LIUSHOUYI 合规检查 END -->
		<!-- 加息率 -->
		<result column="borrow_extra_yield" property="borrowExtraYield" jdbcType="VARCHAR" />
	</resultMap>
	<select id="exportBorrowList" resultMap="exportBorrowListMap" parameterType="com.hyjf.mybatis.model.customize.BorrowCommonCustomize">
		SELECT
		  b.borrow_nid,
		  b.user_id,
		  b.borrow_user_name AS username,
		  b.applicant,
		  b.`name` AS borrow_name,
		  b.project_name,
		  bpt.borrow_name AS borrow_project_type_name,
		  b.account,
		  CASE WHEN b.borrow_style = 'endday' THEN CONCAT(b.borrow_period, '天') ELSE CONCAT(b.borrow_period, '个月') END AS borrow_period,
		  CONCAT(b.borrow_apr, '%') borrow_apr,
		  bs.`name` AS borrow_style,
		  b.service_fee_rate AS borrow_service_scale,
		  b.manage_fee_rate AS borrow_manager_scale,
		  b.borrow_measures_instit AS borrow_measures_instit,
		  b.borrow_account_yes,
		  b.borrow_account_wait,
		  b.reverify_user_name,
		  b.repay_org_name,
		  b.entrusted_flg AS entrustedFlg,
		  b.entrusted_user_name AS entrustedUsername,
		  b.create_user_name,
		  b.regist_user_name,
		  <!-- ADD BY LIUSHOUYI 合规检查 START -->
		  b.create_user_name AS createname,
		  b.regist_user_name AS registname,
		  <!-- ADD BY LIUSHOUYI 合规检查 END -->
		  b.borrow_extra_yield,
		  b.remark,
		  IFNULL(label.label_name, '--') AS labelName,
		  DATE_FORMAT(b.regist_time,'%Y-%c-%d %h:%i:%s') AS regist_time,
		  CONCAT(b.borrow_account_scale, '%') borrow_account_scale,
		  pn.name AS `status`,
		  CASE WHEN b.addtime <![CDATA[<>]]> 0 THEN FROM_UNIXTIME( b.addtime, '%Y-%m-%d %H:%i:%s' )  ELSE '' END AS addtime,
		  CASE WHEN verify_over_time <![CDATA[<>]]> 0 THEN FROM_UNIXTIME( b.verify_over_time, '%Y-%m-%d %H:%i:%s' )  ELSE '' END AS verify_over_time,
		  CASE WHEN ontime <![CDATA[<>]]> 0 THEN FROM_UNIXTIME( b.ontime, '%Y-%m-%d %H:%i:%s' )  ELSE '' END AS ontime,
		  CASE WHEN booking_begin_time <![CDATA[<>]]> 0 THEN FROM_UNIXTIME( b.booking_begin_time, '%Y-%m-%d %H:%i:%s' )  ELSE '' END AS bookingBeginTime,
		  CASE WHEN booking_end_time <![CDATA[<>]]> 0 THEN FROM_UNIXTIME( b.booking_end_time, '%Y-%m-%d %H:%i:%s' )  ELSE '' END AS bookingEndTime,
		  CASE WHEN verify_time IS NOT NULL AND verify_time != '0' THEN FROM_UNIXTIME( b.verify_time, '%Y-%m-%d %H:%i:%s' )  ELSE '' END AS verify_time,
		  CASE WHEN verify_time IS NOT NULL AND verify_time != '0' THEN FROM_UNIXTIME( b.verify_time + (b.borrow_valid_time * 24 *60 *60), '%Y-%m-%d %H:%i:%s' )  ELSE '' END AS borrow_valid_time,
		  CASE WHEN borrow_full_time <![CDATA[<>]]> 0 AND borrow_full_time IS NOT NULL THEN FROM_UNIXTIME( b.borrow_full_time, '%Y-%m-%d %H:%i:%s' ) ELSE '' END AS borrow_full_time,
		  CASE WHEN reverify_time <![CDATA[<>]]> 0 THEN FROM_UNIXTIME( b.reverify_time, '%Y-%m-%d %H:%i:%s' ) ELSE '' END AS reverify_time,
		  CASE WHEN recover_last_time <![CDATA[<>]]> 0 THEN FROM_UNIXTIME( b.recover_last_time, '%Y-%m-%d %H:%i:%s' ) ELSE '' END AS recover_last_time,
		  CASE WHEN repay_last_time <![CDATA[<>]]> 0 THEN FROM_UNIXTIME( b.repay_last_time, '%Y-%m-%d' ) ELSE '' END AS repay_last_time,
		  b.plan_nid,
		  hic.inst_name,
		CASE 
			WHEN b.company_or_personal=2  THEN hbm.name
			WHEN b.company_or_personal=1 THEN hbu.username
			ELSE
				''
			END AS borrower_name,

			CASE 
			WHEN b.company_or_personal=2  THEN hbm.city
			WHEN b.company_or_personal=1 THEN hbu.city
			ELSE
				''
			END AS location,

			CASE 
			WHEN b.company_or_personal=2  THEN '个人'
			WHEN b.company_or_personal=1 THEN '企业'
			ELSE
				''
			END AS attribute
		FROM
		  huiyingdai_borrow b
		  LEFT JOIN hyjf_hjh_label label ON b.label_id = label.id
		  LEFT JOIN huiyingdai_borrow_project_type bpt ON bpt.borrow_cd = CAST(b.project_type AS CHAR)
		  LEFT JOIN huiyingdai_borrow_style bs ON bs.nid = b.borrow_style
		  LEFT JOIN hyjf_param_name pn ON cast(b.`status` AS CHAR) = pn.name_cd AND pn.name_class = 'BORROW_STATUS'
		  LEFT JOIN hyjf_hjh_inst_config hic ON hic.inst_code = b.inst_code
		  LEFT JOIN huiyingdai_borrow_users hbu ON hbu.borrow_nid=b.borrow_nid
		  LEFT JOIN huiyingdai_borrow_maninfo hbm ON hbm.borrow_nid=b.borrow_nid
		<include refid="Where_Clause" />
		ORDER BY
		  <if test="col != null and col != '' and sort != null and sort != ''">
			 #{col} #{sort},
		  </if>
		  b.addtime DESC, b.id DESC
	</select>
	
	<!-- 查询出到期但是未满标的标的,给其发短信 -->
	<resultMap id="searchNotFullBorrowMsgMap" type="com.hyjf.mybatis.model.customize.BorrowCommonCustomize">
		<!-- 序号借款编号  --> 
		<result column="borrow_nid" property="borrowNid" jdbcType="VARCHAR" />
		<result column="timeStartSrch" property="timeStartSrch" jdbcType="VARCHAR" />
	</resultMap>
	<select id="searchNotFullBorrowMsg" resultMap="searchNotFullBorrowMsgMap" parameterType="com.hyjf.mybatis.model.customize.BorrowCommonCustomize">
		SELECT
			b.borrow_nid,
			FROM_UNIXTIME(verify_time +  borrow_valid_time * 24 * 60 *60, '%Y-%m-%d %H:%i:%s' ) as timeStartSrch
		FROM
			huiyingdai_borrow b
		WHERE
			( b.`status` = 2 AND b.reverify_time = '0'
			 	AND 
			 	  ( 
			 	      ( b.borrow_full_status = 0 AND b.borrow_account_yes <![CDATA[<]]> b.account ) 
			 	  AND 
			 	      ( b.verify_time + ( b.borrow_valid_time * 24 * 60 *60 ) <![CDATA[<]]> UNIX_TIMESTAMP(NOW()) ) 
			 	  ) 
			  )
	</select>
	
	<!-- 查询汇计划到期但是未满标的标的,给其发短信 -->
	<select id="searchHjhNotFullBorrowMsg" resultMap="searchNotFullBorrowMsgMap" parameterType="com.hyjf.mybatis.model.customize.BorrowCommonCustomize">
		SELECT
			b.borrow_nid,
			FROM_UNIXTIME(verify_time +  borrow_valid_time * 24 * 60 *60, '%Y-%m-%d %H:%i:%s' ) as timeStartSrch
		FROM
			huiyingdai_borrow b
		WHERE
			( b.`status` = 2 AND b.reverify_time = '0'
			 	AND 
			 	  ( 
			 	      ( b.borrow_full_status = 0 AND b.borrow_account_yes <![CDATA[<]]> b.account ) 
			 	  AND 
			 	      ( b.verify_time + ( b.borrow_valid_time * 24 * 60 *60 ) <![CDATA[<]]> UNIX_TIMESTAMP(NOW()) ) 
			 	  )
		 	  	AND b.plan_nid != null 
			  )
	</select>
	
	<update id="updateOfBorrow" parameterType="map" >
	    UPDATE huiyingdai_borrow b
		SET b.borrow_account_yes = b.borrow_account_yes + #{borrowAccountYes,jdbcType=DECIMAL},
		b.borrow_account_wait = b.borrow_account_wait - #{borrowAccountYes,jdbcType=DECIMAL},
		b.borrow_service = CAST(
		(
			CAST(
				CASE
				WHEN b.borrow_service IS NULL THEN
					'0'
				ELSE
					b.borrow_service
				END AS DECIMAL(65,2)
			) + #{borrowService,jdbcType=DECIMAL}
		) AS CHAR),
		b.borrow_account_scale =TRUNCATE((b.borrow_account_yes/b.account)*100,2),
		b.tender_times = b.tender_times + 1
		WHERE
			b.id = #{borrowId,jdbcType=INTEGER}
  	</update>
	<update id="updateOfBorrowAppoint" parameterType="map" >
	    UPDATE huiyingdai_borrow b
		SET
		b.borrow_account_wait_appoint = b.borrow_account_wait_appoint - #{borrowAccountWaitAppoint,jdbcType=DECIMAL},
		b.borrow_account_scale_appoint =TRUNCATE(((b.account-b.borrow_account_wait_appoint)/b.account)*100,2)
		WHERE
			b.id = #{borrowId,jdbcType=INTEGER}
  	</update>
  	<update id="updateOfFullBorrow" parameterType="map" >
	    UPDATE huiyingdai_borrow b
		SET b.borrow_full_status = 1,
		b.`status` = 3,
		b.borrow_full_time = unix_timestamp(now())
		WHERE
			b.id = #{borrowId,jdbcType=INTEGER}
  	</update>
  	<update id="updateOfFullBorrowAppoint" parameterType="map" >
	    UPDATE huiyingdai_borrow b
		SET b.booking_status = 2
		WHERE
			b.id = #{borrowId,jdbcType=INTEGER}
  	</update>
  	<update id="updateCancelOfBorrowAppoint" parameterType="map" >
	    UPDATE huiyingdai_borrow b
		SET
		b.borrow_account_wait_appoint = b.borrow_account_wait_appoint + #{appoint,jdbcType=DECIMAL},
		b.borrow_account_scale_appoint =TRUNCATE(((b.account-b.borrow_account_wait_appoint)/b.account)*100,2),
		b.booking_status = 1
		WHERE
			b.id = #{borrowId,jdbcType=INTEGER}
  	</update>
  	
  	<!-- 速融查询标的状态 -->
	<resultMap id="borrowRecord" type="com.hyjf.mybatis.model.customize.BorrowSynCustomize">
		<!-- 借款金额  --> 
		<result column="account" property="account"  />
		<!-- 借款期限  --> 
		<result column="borrow_period" property="borrowPeriod"  />
		<!-- 标的还款方式  --> 
		<result column="borrow_style" property="borrowStyle"  />
		<!-- 标的收益率  --> 
		<result column="borrow_apr" property="borrowApr"  />
		<!-- 标的状态  --> 
		<result column="status" property="status"  />
		<!-- 服务费率  --> 
		<result column="service_fee_rate" property="serviceFeeRate"  />
		<!-- 待还总额  --> 
		<result column="repay_account_wait" property="repayAccountWait"  />
		<!-- 待还总利息  --> 
		<result column="repay_account_interest_wait" property="repayAccountInterestWait"  />
		<!-- 待还总本金  --> 
		<result column="repay_account_capital_wait" property="repayAccountCapitalWait"  />
		<!-- 待还总服务费  --> 
		<result column="repay_fee" property="repayFee"  />
	</resultMap>
	<select id="borrowRecordSyn" resultMap="borrowRecord" parameterType="java.lang.String">
		SELECT 
			b.account,
		  	b.borrow_period,
		  	b.borrow_style,
		  	b.borrow_apr,
			CASE 
			<!-- 机构审核通过  --> 
			WHEN b.`status` = 0 OR b.`status` = 1 THEN 2
		  	<!-- 募集中  --> 
			WHEN b.`status` = 2 THEN 3
		  	<!-- 已满标  --> 
			WHEN b.`status` = 3 THEN 4
		  	<!-- 待还款  --> 
			WHEN b.`status` = 4 THEN 5
		  	<!-- 已还款  --> 
			WHEN b.`status` = 5 THEN 6
		  	<!-- 已流标  --> 
			WHEN b.`status` = 6 THEN 7
			ELSE
				''
			END AS `status`,
			<!-- 服务费率  --> 
			b.service_fee_rate,
			<!-- 待还总额  --> 
			b.repay_account_wait,
			<!-- 待还总利息  --> 
			b.repay_account_interest_wait,
			<!-- 待还总本金  --> 
			b.repay_account_capital_wait,
			<!-- 待还总服务费  --> 
			br.repay_fee
		FROM huiyingdai_borrow b LEFT JOIN huiyingdai_borrow_repay br ON b.borrow_nid = br.borrow_nid
		WHERE b.borrow_nid=#{borrowNid}
	</select>
	
	<select id="getBorrowRepayFee" resultType="java.math.BigDecimal" parameterType="java.util.Map">
		SELECT
			SUM(br.repay_fee)
		FROM
			huiyingdai_borrow_repay_plan br
		WHERE
			br.borrow_nid = #{borrowNid}
		AND br.repay_status = #{repayStatus}
	</select>

    <select id="countInvest" resultType="INTEGER" parameterType="INTEGER">
        SELECT SUM(a) FROM (SELECT COUNT(*) a FROM huiyingdai_borrow_tender WHERE user_id = #{userId}
          UNION ALL
        SELECT COUNT(*) a FROM huiyingdai_credit_tender WHERE user_id = #{userId}
          UNION ALL
        SELECT COUNT(*) a FROM hyjf_borrow_tender_cpn WHERE user_id = #{userId}
          UNION ALL
        SELECT COUNT(*) a FROM hyjf_hjh_accede  WHERE user_id =  #{userId})b
    </select>

    <select id="getInterestSum" resultType="java.math.BigDecimal" parameterType="INTEGER">
      SELECT
      bank_interest_sum
      FROM
      huiyingdai_account
      WHERE
      user_id = #{userId,jdbcType=INTEGER}
    </select>
	<select id="getRechargeSum" resultType="java.math.BigDecimal" parameterType="INTEGER">
		SELECT
		SUM(balance)
		FROM
			huiyingdai_account_recharge
		WHERE
			user_id = #{userId,jdbcType=INTEGER}
		AND STATUS = 2
	</select>

	<select id="getWithdrawSum" resultType="java.math.BigDecimal" parameterType="INTEGER">
		SELECT
		sum(total)
		FROM
		huiyingdai_account_withdraw
		WHERE
		user_id = #{userId,jdbcType=INTEGER}
		AND status = 2
	</select>

	<select id="getTradeNumber" resultType="INTEGER" parameterType="INTEGER">
		SELECT
			sum(counts)
		FROM
			(
				SELECT
					count(1) AS counts
				FROM
					huiyingdai_borrow_tender br
				WHERE
				br.user_id = #{userId,jdbcType=INTEGER}
                AND br.accede_order_id is NULL
                AND br.status = 1
				UNION ALL
					SELECT
						count(1) AS counts
					FROM
						huiyingdai_credit_tender hct
					WHERE
					hct.user_id = #{userId,jdbcType=INTEGER}

				UNION ALL
				  SELECT
					count(1) AS counts
				  FROM
					hyjf_hjh_accede hha
					WHERE
					hha.user_id = #{userId,jdbcType=INTEGER}

				UNION ALL
					SELECT
					  Count(1) as counts
					FROM
					  hyjf_debt_plan_accede hdpa  -- 汇添金计划加入明细表
							left join hyjf_debt_plan hdp  --  汇添金计划总表
							on hdpa.plan_nid=hdp. debt_plan_nid
					WHERE
					hdpa.user_id = #{userId,jdbcType=INTEGER}

				UNION ALL
				  SELECT
					count(1) AS counts
				  FROM
					huiyingdai_product_list hpl  -- 理财产品购买明细-汇添利
				  WHERE
					hpl.user_id = #{userId,jdbcType=INTEGER}
				  and invest_status = 0
			) tmp
	</select>

	<select id="getInvestSum" resultType="java.math.BigDecimal" parameterType="INTEGER">
	SELECT
	SUM(COUNT)
FROM
	(
		SELECT
			IFNULL(
				CASE
				WHEN hb.borrow_style = 'endday' THEN
					ROUND(
						IFNULL(hbt.account, 0) * CONVERT (hb.borrow_period, SIGNED) / 360,
						2
					)
				END,
				0
			) + IFNULL(
				CASE
				WHEN hb.borrow_style <![CDATA[<>]]>  'endday' THEN
					ROUND(
						IFNULL(hbt.account, 0) * CONVERT (hb.borrow_period, SIGNED) / 12,
						2
					)
				END,
				0
			) AS COUNT
		FROM
			huiyingdai_borrow_tender hbt
		LEFT JOIN huiyingdai_borrow hb ON hbt.borrow_nid = hb.borrow_nid
		WHERE
			hbt.accede_order_id IS NULL AND hbt.status = 1
		AND hbt.user_id = #{userId,jdbcType=INTEGER}
		UNION ALL
			SELECT
				IFNULL(
					CASE
					WHEN hb.borrow_style = 'endday' THEN
						ROUND(
							IFNULL(hct.assign_capital, 0) * CONVERT (hb.borrow_period, SIGNED) / 360,
							2
						)
					END,
					0
				) + IFNULL(
					CASE
					WHEN hb.borrow_style != 'endday' THEN
						ROUND(
							IFNULL(hct.assign_capital, 0) * CONVERT (hb.borrow_period, SIGNED) / 12,
							2
						)
					END,
					0
				) AS COUNT
			FROM
				huiyingdai_credit_tender hct
			LEFT JOIN huiyingdai_borrow hb ON hct.bid_nid = hb.borrow_nid
			WHERE
				hct.user_id = #{userId,jdbcType=INTEGER}
	) t

	</select>
	<select id="getPlanSum" resultType="java.math.BigDecimal" parameterType="INTEGER">
		 SELECT IFNULL(
				(SELECT
		    sum(IFNULL(
		    CASE
		    WHEN hhp.is_month = '0' THEN
		    IFNULL(
		    ROUND(
		    IFNULL(hha.accede_account, 0) * CONVERT (hhp.lock_period, SIGNED) / 360,
		    2
		    ),
		    0
		    )
		    END,
		    0
		    ) + IFNULL(
		    CASE
		    WHEN hhp.is_month = '1' THEN
		    ROUND(
		    IFNULL(hha.accede_account, 0) * CONVERT (hhp.lock_period, SIGNED) / 12,
		    2
		    )
		    END,
		    0
		    ) )AS mPlanAccount
		    FROM
		    hyjf_hjh_plan hhp
		    LEFT JOIN hyjf_hjh_accede hha ON hhp.plan_nid = hha.plan_nid
		    WHERE
		    hha.user_id = #{userId,jdbcType=INTEGER}),0)

	</select>

    <insert id="insertUsersPortrait" parameterType="com.hyjf.mybatis.model.auto.UsersPortrait">
        <selectKey keyProperty="userId" order="AFTER" resultType="java.lang.Integer">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into hyjf_users_portrait
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">
                user_id,
            </if>
            <if test="userName != null">
                user_name,
            </if>
            <if test="mobile != null">
                mobile,
            </if>
            <if test="age != null">
                age,
            </if>
            <if test="sex != null">
                sex,
            </if>
            <if test="education != null">
                education,
            </if>
            <if test="occupation != null">
                occupation,
            </if>
            <if test="city != null">
                city,
            </if>
            <if test="interest != null">
                interest,
            </if>
            <if test="interestSum != null">
                interest_sum,
            </if>
            <if test="investSum != null">
                invest_sum,
            </if>
            <if test="rechargeSum != null">
                recharge_sum,
            </if>
            <if test="withdrawSum != null">
                withdraw_sum,
            </if>
            <if test="loginActive != null">
                login_active,
            </if>
            <if test="customerSource != null">
                customer_source,
            </if>
            <if test="lastLoginTime != null">
                last_login_time,
            </if>
            <if test="lastRechargeTime != null">
                last_recharge_time,
            </if>
            <if test="lastWithdrawTime != null">
                last_withdraw_time,
            </if>
            <if test="investPlatform != null">
                invest_platform,
            </if>
            <if test="investAge != null">
                invest_age,
            </if>
            <if test="tradeNumber != null">
                trade_number,
            </if>
            <if test="currentOwner != null">
                current_owner,
            </if>
            <if test="addWechat != null">
                add_wechat,
            </if>
            <if test="investProcess != null">
                invest_process,
            </if>
            <if test="customerComplaint != null">
                customer_complaint,
            </if>
            <if test="inviteCustomer != null">
                invite_customer,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null">
                #{userId,jdbcType=INTEGER},
            </if>
            <if test="userName != null">
                #{userName,jdbcType=VARCHAR},
            </if>
            <if test="mobile != null">
                #{mobile,jdbcType=CHAR},
            </if>
            <if test="age != null">
                #{age,jdbcType=INTEGER},
            </if>
            <if test="sex != null">
                #{sex,jdbcType=BIT},
            </if>
            <if test="education != null">
                #{education,jdbcType=VARCHAR},
            </if>
            <if test="occupation != null">
                #{occupation,jdbcType=VARCHAR},
            </if>
            <if test="city != null">
                #{city,jdbcType=VARCHAR},
            </if>
            <if test="interest != null">
                #{interest,jdbcType=VARCHAR},
            </if>
            <if test="interestSum != null">
                #{interestSum,jdbcType=DECIMAL},
            </if>
            <if test="investSum != null">
                #{investSum,jdbcType=DECIMAL},
            </if>
            <if test="rechargeSum != null">
                #{rechargeSum,jdbcType=DECIMAL},
            </if>
            <if test="withdrawSum != null">
                #{withdrawSum,jdbcType=DECIMAL},
            </if>
            <if test="loginActive != null">
                #{loginActive,jdbcType=VARCHAR},
            </if>
            <if test="customerSource != null">
                #{customerSource,jdbcType=VARCHAR},
            </if>
            <if test="lastLoginTime != null">
                #{lastLoginTime,jdbcType=INTEGER},
            </if>
            <if test="lastRechargeTime != null">
                #{lastRechargeTime,jdbcType=INTEGER},
            </if>
            <if test="lastWithdrawTime != null">
                #{lastWithdrawTime,jdbcType=INTEGER},
            </if>
            <if test="investPlatform != null">
                #{investPlatform,jdbcType=INTEGER},
            </if>
            <if test="investAge != null">
                #{investAge,jdbcType=BIT},
            </if>
            <if test="tradeNumber != null">
                #{tradeNumber,jdbcType=INTEGER},
            </if>
            <if test="currentOwner != null">
                #{currentOwner,jdbcType=VARCHAR},
            </if>
            <if test="addWechat != null">
                #{addWechat,jdbcType=BIT},
            </if>
            <if test="investProcess != null">
                #{investProcess,jdbcType=VARCHAR},
            </if>
            <if test="customerComplaint != null">
                #{customerComplaint,jdbcType=VARCHAR},
            </if>
            <if test="inviteCustomer != null">
                #{inviteCustomer,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>


    <resultMap id="selectBorrowNidListMap" type="com.hyjf.mybatis.model.auto.BorrowWithBLOBs">
    	<result column="borrow_nid" property="borrowNid" jdbcType="VARCHAR" />
    	<result column="status" property="status" jdbcType="INTEGER" />
    	<result column="verify_status" property="verifyStatus" jdbcType="INTEGER" />
    </resultMap>
	<!-- 根据流程配置抽取自动复审的标的（暂时不用） -->
    <select id="selectAutoReviewBorrowNidList" resultMap="selectBorrowNidListMap">
		SELECT
			hb.borrow_nid AS borrow_nid
		FROM
			huiyingdai_borrow hb
		INNER JOIN hyjf_hjh_asset_borrowtype hhab ON hb.inst_code = hhab.inst_code
		AND hb.asset_type = hhab.asset_type
		WHERE
			hb.`status` = 3
		AND hb.borrow_full_status = 1
		AND hhab.auto_review = 1
		AND hb.plan_nid IS NULL;
    </select>

	<!-- 根据流程配置抽取自动复审的计划标的（暂时不用） -->
    <select id="selectAutoReviewHJHBorrowNidList" resultMap="selectBorrowNidListMap">
		SELECT
			hb.borrow_nid AS borrow_nid
		FROM
			huiyingdai_borrow hb
		INNER JOIN hyjf_hjh_asset_borrowtype hhab ON hb.inst_code = hhab.inst_code
		AND hb.asset_type = hhab.asset_type
		WHERE
			hb.`status` = 3
		AND hb.borrow_full_status = 1
		AND hhab.auto_review = 1
		AND hb.plan_nid IS NOT NULL;
    </select>
    
    <select id="selectAutoBorrowNidList" resultMap="selectBorrowNidListMap">
		SELECT
			hb.borrow_nid as borrow_nid,
			hb.`status` as `status`,
			hb.verify_status as verify_status
		FROM
			huiyingdai_borrow hb
		INNER JOIN hyjf_hjh_asset_borrowtype hhab ON hb.inst_code = hhab.inst_code
		AND hb.asset_type = hhab.asset_type
		WHERE
			hb.inst_code = '10000000'
		AND ((hb.`status` = 0
			AND hhab.auto_record = 1)
		OR (hb.`status` = 1
			AND hb.verify_status = 0
			AND hhab.auto_bail = 1)
		OR (hb.`status` = 1
			AND hb.verify_status <![CDATA[<>]]> 0
			AND hhab.auto_audit = 1))
    </select>

	<select id="selectUnDealBorrowBeforeLiquidate" resultMap="selectBorrowListMap" >
		<!--  散标和计划标的 -->
		SELECT b.borrow_nid, b.`status`
		FROM huiyingdai_borrow b
		INNER JOIN huiyingdai_borrow_tender bt ON bt.borrow_nid = b.borrow_nid
		WHERE EXISTS(
		SELECT hr.id
		FROM hyjf_hjh_accede hr
		WHERE DATE_ADD(FROM_UNIXTIME(UNIX_TIMESTAMP(NOW()), '%Y-%m-%d'), INTERVAL 1 DAY) = hr.end_date AND hr.accede_order_id = bt.accede_order_id
		)  and (b.`status` = 2 or b.`status` = 3 )


		<!--  债转  -->
		<!-- union all
	  SELECT b.borrow_nid, b.`status`
	  FROM huiyingdai_borrow b
	  INNER JOIN hyjf_debt_credit_tender dct ON b.borrow_nid = dct.borrow_nid
	  WHERE EXISTS(
		 SELECT hr.id
		 FROM hyjf_hjh_repay hr
		 WHERE DATE_ADD(FROM_UNIXTIME(UNIX_TIMESTAMP(NOW()), '%Y-%m-%d'), INTERVAL 1 DAY) = FROM_UNIXTIME(hr.repay_should_time,'%Y-%m-%d') AND hr.accede_order_id = dct.assign_plan_order_id
	 )  and (b.`status` = 2 or b.`status` = 3) -->
     </select>
	
	<select id="selectInvestSum" resultType="DECIMAL"  parameterType="INTEGER">
		SELECT
			SUM(a)
		FROM
		(
		SELECT
			sum(hbt.account) a
		FROM
			huiyingdai_borrow_tender hbt
		LEFT JOIN huiyingdai_borrow hb
			ON hbt.borrow_nid = hb.borrow_nid
		WHERE
			hbt.addtime >= #{startTime}
		AND hbt.addtime &lt;= #{endTime}
		AND hb.borrow_style != 'endday' AND hb.borrow_period >=3
		AND hbt.accede_order_id is null
		AND hbt.user_id = #{userId}
		UNION ALL
		SELECT
			sum(hha.accede_account) a
		FROM
			hyjf_hjh_accede hha LEFT JOIN hyjf_hjh_plan hhp on hha.plan_nid = hhp.plan_nid
		WHERE
				hha.create_time >= #{startTime}
			AND hha.create_time &lt;= #{endTime}
			AND hhp.is_month = 1 AND hhp.lock_period >=3 AND hha.user_id = #{userId}) tmp
	</select>
	
	<select id="selectInvestUserName" resultType="com.hyjf.mybatis.model.customize.batch.BatchActivityQixiCustomize" parameterType="map">
		SELECT
			hu.user_id userId,
			hu.username username,
		sum(tmp.a) money
		FROM
		(
		SELECT
			hbt.user_id,
			hbt.account a
		FROM
			huiyingdai_borrow_tender hbt
			LEFT JOIN huiyingdai_borrow hb
			ON hbt.borrow_nid = hb.borrow_nid
		WHERE
			hbt.addtime >= UNIX_TIMESTAMP(#{startTime})
		AND hbt.addtime &lt;= UNIX_TIMESTAMP(#{endTime})
		AND hbt.accede_order_id is NULL
		AND hb.borrow_style != 'endday' AND hb.borrow_period >=3
		UNION ALL
		SELECT
				hha.user_id,
				hha.accede_account a
			FROM
				hyjf_hjh_accede hha
			LEFT JOIN hyjf_hjh_plan hhp on hha.plan_nid = hhp.plan_nid
			WHERE
				hha.create_time >= UNIX_TIMESTAMP(#{startTime})
			AND hha.create_time &lt;= UNIX_TIMESTAMP(#{endTime})
			AND hhp.is_month = 1 AND hhp.lock_period >=3
		) tmp
		LEFT JOIN huiyingdai_users hu ON tmp.user_id = hu.user_id
		GROUP BY
			userId
	</select>


	<select id="selectBorrowUserInfo" resultType="com.hyjf.mybatis.model.customize.BorrowCustomize" parameterType="INTEGER">
		select
		CASE
		WHEN hb.company_or_personal = '1' THEN ''
		WHEN hb.company_or_personal = '2' THEN hbm.name
		ELSE '' END truename,
		CASE
		WHEN hb.company_or_personal = '1' and hbu.social_credit_code is not null and hbu.social_credit_code!=''
		THEN hbu.social_credit_code
		WHEN hb.company_or_personal = '1' and (hbu.social_credit_code is null or hbu.social_credit_code='')
		THEN hbu.regist_code
		WHEN hb.company_or_personal = '2' THEN hbm.card_no
		ELSE '' END idCard,
		FROM_UNIXTIME(hb.recover_last_time, '%Y-%m-%d') recoverLastTime,
		hb.company_or_personal companyOrPersonal,
		hb.borrow_nid borrowNid,
		hb.repay_last_time repayLastTime
		from huiyingdai_borrow hb
		left join huiyingdai_borrow_users hbu on hb.borrow_nid = hbu.borrow_nid
		left join huiyingdai_borrow_maninfo hbm on hb.borrow_nid = hbm.borrow_nid
		where hb.recover_last_time BETWEEN #{startDate} AND #{endDate}
	</select>



	<!--合规数据上报 CERT 国家互联网应急中心 获得所有在贷的标的-->
	<select id="getCertBorrowNotInit" resultType="java.lang.String" >
		select borrow_nid from huiyingdai_borrow where status in(2,3,4)
	</select>

  </mapper>