<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hyjf.mybatis.mapper.customize.HjhRepayCustomizeMapper" >
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  
  <resultMap id="sumResultMap" type="com.hyjf.mybatis.model.customize.PlanCommonCustomize" >
    <result column="repay_already" property="sumRepayAlready" jdbcType="VARCHAR" />
    <result column="plan_repay_capital" property="sumPlanRepayCapital" jdbcType="VARCHAR" />
    <result column="plan_repay_interest" property="sumPlanRepayInterest" jdbcType="VARCHAR" />
  </resultMap>
  <select id="sumHjhRepay" resultMap="sumResultMap" parameterType="com.hyjf.mybatis.model.auto.HjhRepayExample" >
    select
      SUM(repay_already) AS repay_already,
      SUM(plan_repay_capital) AS plan_repay_capital,
      SUM(plan_repay_interest) AS plan_repay_interest
    from hyjf_hjh_repay
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
</mapper>