<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hyjf.mybatis.mapper.customize.admin.htj.DebtBorrowCustomizeMapper">

	<sql id="Where_Clause">
		<where>
			<if test="borrowNidSrch != null and borrowNidSrch != ''">
				AND b.borrow_nid LIKE CONCAT('%', #{borrowNidSrch}, '%')
			</if>
			<if test="borrowNameSrch != null and borrowNameSrch != ''">
				AND b.`name` LIKE CONCAT('%', #{borrowNameSrch}, '%')
			</if>
			<if test="usernameSrch != null and usernameSrch != ''">
				AND b.borrow_user_name LIKE CONCAT('%', #{usernameSrch}, '%')
			</if>

			<!-- 初审中 -->
			<if test="statusSrch == '0'.toString()">
				AND 
				(
				  ( b.`status` = 0 AND ( NOT EXISTS ( SELECT 1 FROM hyjf_debt_bail bb WHERE b.borrow_nid = bb.borrow_nid ) ) )
				  OR
				  ( b.`status` = 0 AND b.verify_status = 0 AND ( EXISTS ( SELECT 1 FROM hyjf_debt_bail bb WHERE b.borrow_nid = bb.borrow_nid ) ) )
                )
			</if>
			<!-- 待发布 -->
			<if test="statusSrch == '10'.toString()">
				AND ( ( b.`status` = 0 AND ( b.verify_status = 1 OR b.verify_status = 3 ) AND ( EXISTS ( SELECT 1 FROM hyjf_debt_bail bb WHERE b.borrow_nid = bb.borrow_nid ) ) ) )
			</if>
			<!-- 出借中 -->
			<if test="statusSrch == '12'.toString()">
				AND ( 
				   b.`status` = 1 
				   AND b.borrow_status = 1 
				   AND b.borrow_account_yes <![CDATA[<]]> b.account 
				   AND b.verify_time + ( borrow_valid_time * 24 * 60 *60 ) <![CDATA[>]]> UNIX_TIMESTAMP( NOW() )
			    )
			</if>
			<!-- 复审中 -->
			<if test="statusSrch == '15'.toString()">
				AND
				( b.`status` = 1 AND b.reverify_time = '0'
				 	AND 
				 	  ( 
				 	      ( b.reverify_status = 0 AND b.borrow_account_yes <![CDATA[>=]]> b.account ) 
				 	  OR 
				 	      ( b.verify_time + ( borrow_valid_time * 24 * 60 *60 ) <![CDATA[<]]> UNIX_TIMESTAMP(NOW()) ) 
				 	  ) 
				  )
			</if>
			<!-- 还款中 -->
			<if test="statusSrch == '20'.toString()">
				AND ( b.`status` = 3 AND b.repay_full_status = 0 )
			</if>
			<!-- 已还款 -->
			<if test="statusSrch == '25'.toString()">
				AND ( b.`status` = 3 AND b.repay_full_status = 1 )
			</if>
			<!-- 已流标 -->
			<if test="statusSrch == '2'.toString()">
				AND b.`status` = 2
			</if>

			<if test="borrowPeriod != null and borrowPeriod != ''">
				AND b.borrow_period = #{borrowPeriod}
			</if>
			<if test="projectTypeSrch != null and projectTypeSrch != ''">
				AND b.project_type = #{projectTypeSrch}
			</if>
			<if test="borrowStyleSrch != null and borrowStyleSrch != ''">
				AND b.borrow_style = #{borrowStyleSrch}
			</if>
			<if test="recoverTimeStartSrch != null and recoverTimeStartSrch != ''">
				AND FROM_UNIXTIME( b.recover_last_time, '%Y-%m-%d' ) <![CDATA[>=]]> #{recoverTimeStartSrch}
			</if>
			<if test="recoverTimeEndSrch != null and recoverTimeEndSrch != ''">
				AND FROM_UNIXTIME( b.recover_last_time, '%Y-%m-%d' ) <![CDATA[<=]]> #{recoverTimeEndSrch}
			</if>
			<if test="timeStartSrch != null and timeStartSrch != ''">
				AND FROM_UNIXTIME( b.addtime, '%Y-%m-%d' ) <![CDATA[>=]]> #{timeStartSrch}
			</if>
			<if test="timeEndSrch != null and timeEndSrch != ''">
				AND FROM_UNIXTIME( b.addtime, '%Y-%m-%d' ) <![CDATA[<=]]> #{timeEndSrch}
			</if>
		</where>
	</sql>
	
	<select id="sumAccount" resultType="java.math.BigDecimal" parameterType="com.hyjf.mybatis.model.customize.admin.htj.DebtBorrowCommonCustomize">
		  SELECT
		    SUM(b.account)
		  FROM
			hyjf_debt_borrow b
		<include refid="Where_Clause" />
	</select>
	
	<select id="countBorrow" resultType="java.lang.Long" parameterType="com.hyjf.mybatis.model.customize.admin.htj.DebtBorrowCommonCustomize">
		  SELECT
		    COUNT(1)
		  FROM
			hyjf_debt_borrow b
		<include refid="Where_Clause" />
	</select>
	
	<select id="selectFullBorrow" resultType="java.lang.String" parameterType="com.hyjf.mybatis.model.customize.admin.htj.DebtBorrowCommonCustomize">
		SELECT
			hdb.id,
			hdb.borrow_nid
		FROM
			hyjf_debt_invest hdi
		LEFT JOIN hyjf_debt_borrow hdb ON hdi.borrow_nid = hdb.borrow_nid
		WHERE
			hdi.plan_nid = #{planNid}
		AND hdi.status = 0 AND hdb.borrow_full_status = 1
		GROUP BY
			hdb.borrow_nid
	</select>

	<resultMap id="selectBorrowListMap" type="com.hyjf.mybatis.model.customize.admin.htj.DebtBorrowCustomize">
		<result column="borrow_nid" property="borrowNid" jdbcType="VARCHAR" />
		<result column="borrow_name" property="borrowName" jdbcType="VARCHAR" />
		<result column="username" property="username" jdbcType="VARCHAR" />
		<result column="userId" property="userId" />
		<result column="applicant" property="applicant" jdbcType="VARCHAR" />
		<result column="account" property="account" jdbcType="VARCHAR" />
		<result column="borrow_style" property="borrowStyle" jdbcType="VARCHAR" />
		<result column="borrow_style_name" property="borrowStyleName" jdbcType="VARCHAR" />
		<result column="project_type" property="projectType" jdbcType="VARCHAR" />
		<result column="project_type_name" property="projectTypeName" jdbcType="VARCHAR" />
		<result column="borrow_period" property="borrowPeriod" jdbcType="VARCHAR" />
		<result column="borrow_apr" property="borrowApr" jdbcType="VARCHAR" />
		<result column="status" property="status" jdbcType="VARCHAR" />
		<result column="addtime" property="addtime" jdbcType="VARCHAR" />
		<result column="borrow_full_time" property="borrowFullTime" jdbcType="VARCHAR" />
		<result column="reverify_time" property="reverifyTime" jdbcType="VARCHAR" />
		<!-- 放款完成时间 --> 
		<result column="recover_last_time" property="recoverLastTime" jdbcType="VARCHAR" />
		<!-- 放款完成时间 --> 
		<result column="recover_last_day" property="recoverLastDay" jdbcType="VARCHAR" />
		<!-- 已借到金额 --> 
		<result column="borrow_account_yes" property="borrowAccountYes" jdbcType="VARCHAR" />
		<!-- 剩余金额 --> 
		<result column="borrow_account_wait" property="borrowAccountWait" jdbcType="VARCHAR" />
		<!-- 借款进度 --> 
		<result column="borrow_account_scale" property="borrowAccountScale" jdbcType="VARCHAR" />
	</resultMap>
	<select id="selectBorrowList" resultMap="selectBorrowListMap" parameterType="com.hyjf.mybatis.model.customize.admin.htj.DebtBorrowCommonCustomize">
		SELECT
			b.borrow_nid,
			b.`name` AS borrow_name,
			b.applicant,
			b.borrow_user_name AS username,
			b.user_id AS userId,
			FORMAT(b.account, 2) AS account,
			FORMAT(b.borrow_account_yes, 2) AS borrow_account_yes,
		    FORMAT(b.borrow_account_wait, 2) AS borrow_account_wait,
		    CONCAT(b.borrow_account_scale, '%') borrow_account_scale,
			b.borrow_style,
			bs.`name` AS borrow_style_name,
			b.project_type,
			bpt.borrow_name AS project_type_name,
			CASE WHEN borrow_style = 'endday' THEN CONCAT(b.borrow_period, '天') ELSE CONCAT(b.borrow_period, '个月') END borrow_period,
			CONCAT(b.borrow_apr, '%') borrow_apr,
			FROM_UNIXTIME( b.reverify_time, '%Y-%m-%d %H:%i:%s' ) AS reverify_time,
			CASE 
			  WHEN ( ( b.`status` = 0 AND ( NOT EXISTS ( SELECT 1 FROM hyjf_debt_bail bb WHERE b.borrow_nid = bb.borrow_nid ) ) ) OR ( b.`status` = 0 AND b.verify_status = 0 AND ( EXISTS ( SELECT 1 FROM hyjf_debt_bail bb WHERE b.borrow_nid = bb.borrow_nid ) ) ) ) THEN '初审中'
              WHEN ( ( b.`status` = 0 AND ( b.verify_status = 1 OR b.verify_status = 3 ) AND ( EXISTS ( SELECT 1 FROM hyjf_debt_bail bb WHERE b.borrow_nid = bb.borrow_nid ) ) ) ) THEN '待发布'
              WHEN ( b.`status` = 1 AND b.borrow_status = 1 AND b.borrow_account_yes <![CDATA[<]]> b.account AND b.verify_time + ( borrow_valid_time * 24 * 60 *60 ) <![CDATA[>]]> UNIX_TIMESTAMP( NOW() ) ) THEN '出借中'
              WHEN ( b.`status` = 1 AND b.reverify_time = '0' AND ( ( b.reverify_status = 0 AND b.borrow_account_yes <![CDATA[>=]]> b.account ) OR ( b.verify_time + ( borrow_valid_time * 24 * 60 *60 ) <![CDATA[<]]> UNIX_TIMESTAMP(NOW()) ) ) ) THEN '复审中'
              WHEN ( b.`status` = 3 AND b.repay_full_status = 0 ) THEN '还款中'
              WHEN ( b.`status` = 3 AND b.repay_full_status = 1 ) THEN '已还款'              
              WHEN b.`status` = 2 THEN '已流标'
			ELSE
			  ''
			END AS `status`,
			FROM_UNIXTIME( b.addtime, '%Y-%m-%d %H:%i:%s' ) AS addtime,
      		CASE WHEN b.borrow_full_time IS NOT NULL THEN FROM_UNIXTIME( b.borrow_full_time, '%Y-%m-%d %H:%i:%s' ) ELSE '' END AS borrow_full_time,
      		CASE WHEN b.recover_last_time <![CDATA[<>]]> 0 AND b.recover_last_time IS NOT NULL THEN FROM_UNIXTIME( b.recover_last_time, '%Y-%m-%d %H:%i:%s' ) ELSE '' END AS recover_last_time,
      		CASE WHEN b.recover_last_time <![CDATA[<>]]> 0 AND b.recover_last_time IS NOT NULL THEN FROM_UNIXTIME( b.recover_last_time, '%Y-%m-%d' ) ELSE '' END AS recover_last_day
		FROM
		    hyjf_debt_borrow b
			LEFT JOIN huiyingdai_borrow_style bs ON bs.nid = b.borrow_style
			LEFT JOIN huiyingdai_borrow_project_type bpt ON bpt.borrow_cd = CAST(b.project_type AS CHAR)
		<include refid="Where_Clause" />
		ORDER BY
		<if test="col != null and col != '' and sort != null and sort != ''">
			${col} ${sort},
		</if>
		  b.addtime DESC, b.id DESC
	    <if test="limitStart >= 0" >
	      LIMIT #{limitStart} , #{limitEnd}
	    </if>
	</select>
	
	<select id="getBorrowPreNid" resultType="java.lang.String" parameterType="java.lang.String">
		SELECT DISTINCT
			MAX(b.borrow_pre_nid)
		FROM
		  hyjf_debt_borrow b
		WHERE
		  b.borrow_pre_nid LIKE CONCAT('%', #{mmdd, jdbcType=VARCHAR}, '%')
	</select>
	
    <!-- 导出 -->
	<resultMap id="exportBorrowListMap" type="com.hyjf.mybatis.model.customize.admin.htj.DebtBorrowCommonCustomize">
		<!-- 序号借款编号  --> 
		<result column="borrow_nid" property="borrowNid" jdbcType="VARCHAR" />
		<!-- 借款人ID  --> 
		<result column="user_id" property="userId" jdbcType="VARCHAR" />
		<!-- 项目申请人  --> 
		<result column="applicant" property="applicant" jdbcType="VARCHAR" />
		<!-- 借款人用户名 --> 
		<result column="username" property="username" jdbcType="VARCHAR" />
		<!-- 借款标题 --> 
		<result column="borrow_name" property="borrowName" jdbcType="VARCHAR" />
		<!-- 项目类型 --> 
		<result column="borrow_project_type_name" property="borrowProjectTypeName" jdbcType="VARCHAR" />
		<!-- 借款金额（元） --> 
		<result column="account" property="account" jdbcType="VARCHAR" />
		<!-- 借款期限 --> 
		<result column="borrow_period" property="borrowPeriod" jdbcType="VARCHAR" />
		<!-- 年化收益 --> 
		<result column="borrow_apr" property="borrowApr" jdbcType="VARCHAR" />
		<!-- 还款方式 --> 
		<result column="borrow_style" property="borrowStyle" jdbcType="VARCHAR" />
		<!-- 融资服务费率 --> 
		<result column="borrow_service_scale" property="borrowServiceScale" jdbcType="VARCHAR" />
		<!-- 账户管理费率 --> 
		<result column="borrow_manager_scale" property="borrowManagerScale" jdbcType="VARCHAR" />
		<!-- 合作机构 --> 
		<result column="borrow_measures_instit" property="borrowMeasuresInstit" jdbcType="VARCHAR" />
		<!-- 已借到金额 --> 
		<result column="borrow_account_yes" property="borrowAccountYes" jdbcType="VARCHAR" />
		<!-- 剩余金额 --> 
		<result column="borrow_account_wait" property="borrowAccountWait" jdbcType="VARCHAR" />
		<!-- 借款进度 --> 
		<result column="borrow_account_scale" property="borrowAccountScale" jdbcType="VARCHAR" />
		<!-- 项目状态 --> 
		<result column="status" property="status" jdbcType="VARCHAR" />
		<!-- 添加时间 --> 
		<result column="addtime" property="addtime" jdbcType="VARCHAR" />
		<!-- 初审通过时间 --> 
		<result column="verify_over_time" property="verifyOverTime" jdbcType="VARCHAR" />
		<!-- 定时发标时间 --> 
		<result column="ontime" property="ontime" jdbcType="VARCHAR" />
		<!-- 预约开始时间 --> 
		<result column="bookingBeginTime" property="bookingBeginTime" jdbcType="VARCHAR" />
		<!-- 预约截止时间 --> 
		<result column="bookingEndTime" property="bookingEndTime" jdbcType="VARCHAR" />
		<!-- 实际发标时间 --> 
		<result column="verify_time" property="verifyTime" jdbcType="VARCHAR" />
		<!-- 投际截止时间--> 
		<result column="borrow_valid_time" property="borrowValidTime" jdbcType="VARCHAR" />
		<!-- 满标时间 --> 
		<result column="borrow_full_time" property="borrowFullTime" jdbcType="VARCHAR" />
		<!-- 复审通过时间 --> 
		<result column="reverify_time" property="reverifyTime" jdbcType="VARCHAR" />
		<!-- 放款完成时间 --> 
		<result column="recover_last_time" property="recoverLastTime" jdbcType="VARCHAR" />
		<!-- 最后还款日 --> 
		<result column="repay_last_time" property="repayLastTime" jdbcType="VARCHAR" />
	</resultMap>
	<select id="exportBorrowList" resultMap="exportBorrowListMap" parameterType="com.hyjf.mybatis.model.customize.admin.htj.DebtBorrowCommonCustomize">
		SELECT
		  b.borrow_nid,
		  b.user_id,
		  b.borrow_user_name AS username,
		  b.applicant,
		  b.`name` AS borrow_name,
		  bpt.borrow_name AS borrow_project_type_name,
		  b.account,
		  CASE WHEN borrow_style = 'endday' THEN CONCAT(b.borrow_period, '天') ELSE CONCAT(b.borrow_period, '个月') END borrow_period,
		  CONCAT(b.borrow_apr, '%') borrow_apr,
		  bs.`name` AS borrow_style,
		  b.service_fee_rate AS borrow_service_scale,
		  b.manage_fee_rate AS borrow_manager_scale,
		  b.borrow_measures_instit AS borrow_measures_instit,
		  b.borrow_account_yes,
		  b.borrow_account_wait,
		  CONCAT(b.borrow_account_scale, '%') borrow_account_scale,
		  CASE 
			WHEN ( ( b.`status` = 0 AND ( NOT EXISTS ( SELECT 1 FROM hyjf_debt_bail bb WHERE b.borrow_nid = bb.borrow_nid ) ) ) OR ( b.`status` = 0 AND b.verify_status = 0 AND ( EXISTS ( SELECT 1 FROM hyjf_debt_bail bb WHERE b.borrow_nid = bb.borrow_nid ) ) ) ) THEN '初审中'
	        WHEN ( ( b.`status` = 0 AND ( b.verify_status = 1 OR b.verify_status = 3 ) AND ( EXISTS ( SELECT 1 FROM hyjf_debt_bail bb WHERE b.borrow_nid = bb.borrow_nid ) ) ) ) THEN '待发布'
	        WHEN ( b.`status` = 1 AND b.borrow_status = 1 AND b.borrow_account_yes <![CDATA[<]]> b.account AND b.verify_time + ( borrow_valid_time * 24 * 60 *60 ) <![CDATA[>]]> UNIX_TIMESTAMP( NOW() ) ) THEN '出借中'
	        WHEN ( b.`status` = 1 AND ( ( b.reverify_status = 0 AND b.borrow_account_yes <![CDATA[>=]]> b.account ) OR ( b.verify_time + ( borrow_valid_time * 24 * 60 *60 ) <![CDATA[<]]> UNIX_TIMESTAMP(NOW()) ) ) ) THEN '复审中'
	        WHEN ( b.`status` = 3 AND b.repay_full_status = 0 ) THEN '还款中'
	        WHEN ( b.`status` = 3 AND b.repay_full_status = 1 ) THEN '已还款'              
	        WHEN b.`status` = 2 THEN '已流标'
		  ELSE
		    ''
		  END AS `status`,
		  CASE WHEN addtime <![CDATA[<>]]> 0 THEN FROM_UNIXTIME( b.addtime, '%Y-%m-%d %H:%i:%s' )  ELSE '' END AS addtime,
		  CASE WHEN verify_over_time <![CDATA[<>]]> 0 THEN FROM_UNIXTIME( b.verify_over_time, '%Y-%m-%d %H:%i:%s' )  ELSE '' END AS verify_over_time,
		  CASE WHEN ontime <![CDATA[<>]]> 0 THEN FROM_UNIXTIME( b.ontime, '%Y-%m-%d %H:%i:%s' )  ELSE '' END AS ontime,
		  CASE WHEN booking_begin_time <![CDATA[<>]]> 0 THEN FROM_UNIXTIME( b.booking_begin_time, '%Y-%m-%d %H:%i:%s' )  ELSE '' END AS bookingBeginTime,
		  CASE WHEN booking_end_time <![CDATA[<>]]> 0 THEN FROM_UNIXTIME( b.booking_end_time, '%Y-%m-%d %H:%i:%s' )  ELSE '' END AS bookingEndTime,
		  CASE WHEN verify_time IS NOT NULL AND verify_time != '0' THEN FROM_UNIXTIME( b.verify_time, '%Y-%m-%d %H:%i:%s' )  ELSE '' END AS verify_time,
		  CASE WHEN verify_time IS NOT NULL AND verify_time != '0' THEN FROM_UNIXTIME( b.verify_time + (b.borrow_valid_time * 24 *60 *60), '%Y-%m-%d %H:%i:%s' )  ELSE '' END AS borrow_valid_time,
		  CASE WHEN borrow_full_time <![CDATA[<>]]> 0 AND borrow_full_time IS NOT NULL THEN FROM_UNIXTIME( b.borrow_full_time, '%Y-%m-%d %H:%i:%s' ) ELSE '' END AS borrow_full_time,
		  CASE WHEN reverify_time <![CDATA[<>]]> 0 THEN FROM_UNIXTIME( b.reverify_time, '%Y-%m-%d %H:%i:%s' ) ELSE '' END AS reverify_time,
		  CASE WHEN recover_last_time <![CDATA[<>]]> 0 THEN FROM_UNIXTIME( b.recover_last_time, '%Y-%m-%d %H:%i:%s' ) ELSE '' END AS recover_last_time,
		  CASE WHEN repay_last_time <![CDATA[<>]]> 0 THEN FROM_UNIXTIME( b.repay_last_time, '%Y-%m-%d' ) ELSE '' END AS repay_last_time
		FROM
		  hyjf_debt_borrow b
		  LEFT JOIN huiyingdai_borrow_project_type bpt ON bpt.borrow_cd = CAST(b.project_type AS CHAR)
		  LEFT JOIN huiyingdai_borrow_style bs ON bs.nid = b.borrow_style
		<include refid="Where_Clause" />
		ORDER BY
		  <if test="col != null and col != '' and sort != null and sort != ''">
			 #{col} #{sort},
		  </if>
		  b.addtime DESC, b.id DESC
	</select>
	
	<!-- 查询出到期但是未满标的标的,给其发短信 -->
	<resultMap id="searchNotFullBorrowMsgMap" type="com.hyjf.mybatis.model.customize.admin.htj.DebtBorrowCommonCustomize">
		<!-- 序号借款编号  --> 
		<result column="borrow_nid" property="borrowNid" jdbcType="VARCHAR" />
		<result column="timeStartSrch" property="timeStartSrch" jdbcType="VARCHAR" />
	</resultMap>
	<select id="searchNotFullBorrowMsg" resultMap="searchNotFullBorrowMsgMap" parameterType="com.hyjf.mybatis.model.customize.admin.htj.DebtBorrowCommonCustomize">
		SELECT
			b.borrow_nid,
			FROM_UNIXTIME(verify_time +  borrow_valid_time * 24 * 60 *60, '%Y-%m-%d %H:%i:%s' ) as timeStartSrch
		FROM
			hyjf_debt_borrow b
		WHERE
				( b.`status` = 1 AND b.reverify_time = '0'
				 	AND 
				 	  ( 
				 	      ( b.reverify_status = 0 AND b.borrow_account_yes <![CDATA[<]]> b.account ) 
				 	  AND 
				 	      ( b.verify_time + ( b.borrow_valid_time * 24 * 60 *60 ) <![CDATA[<]]> UNIX_TIMESTAMP(NOW()) ) 
				 	  ) 
				  )
	</select>
	<update id="updateOfBorrow" parameterType="map" >
	    UPDATE hyjf_debt_borrow b
		SET b.borrow_account_yes = b.borrow_account_yes + #{borrowAccountYes,jdbcType=DECIMAL},
		b.borrow_account_wait = b.borrow_account_wait - #{borrowAccountYes,jdbcType=DECIMAL},
		b.borrow_service = CAST(
		(
			CAST(
				CASE
				WHEN b.borrow_service IS NULL THEN
					'0'
				ELSE
					b.borrow_service
				END AS DECIMAL(65,2)
			) + #{borrowService,jdbcType=DECIMAL}
		) AS CHAR),
		b.borrow_account_scale =TRUNCATE((b.borrow_account_yes/b.account)*100,2),
		b.tender_times = b.tender_times + 1
		WHERE
			b.id = #{borrowId,jdbcType=INTEGER}
  	</update>
	<update id="updateOfBorrowAppoint" parameterType="map" >
	    UPDATE hyjf_debt_borrow b
		SET
		b.borrow_account_wait_appoint = b.borrow_account_wait_appoint - #{borrowAccountWaitAppoint,jdbcType=DECIMAL},
		b.borrow_account_scale_appoint =TRUNCATE(((b.account-b.borrow_account_wait_appoint)/b.account)*100,2)
		WHERE
			b.id = #{borrowId,jdbcType=INTEGER}
  	</update>
  	<update id="updateOfFullBorrow" parameterType="map" >
	    UPDATE hyjf_debt_borrow b
		SET b.borrow_full_status = 1,
		b.borrow_full_time = unix_timestamp(now())
		WHERE
			b.id = #{borrowId,jdbcType=INTEGER}
  	</update>
  	<update id="updateOfFullBorrowAppoint" parameterType="map" >
	    UPDATE hyjf_debt_borrow b
		SET b.booking_status = 2
		WHERE
			b.id = #{borrowId,jdbcType=INTEGER}
  	</update>
  	<update id="updateCancelOfBorrowAppoint" parameterType="map" >
	    UPDATE hyjf_debt_borrow b
		SET
		b.borrow_account_wait_appoint = b.borrow_account_wait_appoint + #{appoint,jdbcType=DECIMAL},
		b.borrow_account_scale_appoint =TRUNCATE(((b.account-b.borrow_account_wait_appoint)/b.account)*100,2),
		b.booking_status = 1
		WHERE
			b.id = #{borrowId,jdbcType=INTEGER}
  	</update>
</mapper>