<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:rabbit="http://www.springframework.org/schema/rabbit"
       xsi:schemaLocation="http://www.springframework.org/schema/rabbit
           http://www.springframework.org/schema/rabbit/spring-rabbit.xsd
           	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context-4.1.xsd  
           http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd">

    <rabbit:connection-factory id="connectionFactory"
    			host="${rabbitmq.host}" port="${rabbitmq.port}" username="${rabbitmq.username}" password="${rabbitmq.password}"
		virtual-host="${rabbitmq.vhost}" />

    <!--通过指定下面的admin信息，当前producer中的exchange和queue会在rabbitmq服务器上自动生成-->
    <rabbit:admin connection-factory="connectionFactory"/>

	<!--优惠券还款-->
    <rabbit:queue id="hyjf-coupon-repay" name="hyjf-coupon-repay" durable="true" auto-delete="false" exclusive="false"/>
    <!--优惠券放款-->
    <rabbit:queue id="hyjf-coupon-loans" name="hyjf-coupon-loans" durable="true" auto-delete="false" exclusive="false"/>
    <!--优惠券还款（汇计划）-->
    <rabbit:queue id="hyjf-coupon-planrepay" name="hyjf-coupon-planrepay" durable="true" auto-delete="false" exclusive="false"/>
    <!--优惠券放款（汇计划）-->
    <rabbit:queue id="hyjf-coupon-planloans" name="hyjf-coupon-planloans" durable="true" auto-delete="false" exclusive="false"/>
    <!--优惠券发放-->
    <rabbit:queue id="hyjf-coupon-send" name="hyjf-coupon-send" durable="true" auto-delete="false" exclusive="false"/>
    <!--批次还款请求-->
    <rabbit:queue id="borrowRepayRequest" name="borrowRepayRequest" durable="true" auto-delete="false" exclusive="false"/>
    <!--批次放款请求-->
    <rabbit:queue id="borrowLoanRequest" name="borrowLoanRequest" durable="true" auto-delete="false" exclusive="false"/>
    <!-- 直投类还款业务处理 -->
    <rabbit:queue id="borrowRepayZT" name="borrowRepayZT" durable="true" auto-delete="false" exclusive="false"/>
    <!-- 直投类放款业务处理 -->
    <rabbit:queue id="borrowLoanZT" name="borrowLoanZT" durable="true" auto-delete="false" exclusive="false"/>
    <!-- 计划类还款业务处理 -->
    <rabbit:queue id="borrowRepayPlan" name="borrowRepayPlan" durable="true" auto-delete="false" exclusive="false"/>
    <!-- 计划类放款业务处理 -->
    <rabbit:queue id="borrowLoanPlan" name="borrowLoanPlan" durable="true" auto-delete="false" exclusive="false"/>
	<!--汇直投优惠券使用-->
    <rabbit:queue id="hyjf-hzt-coupon-tender" name="hyjf-hzt-coupon-tender" durable="true" auto-delete="false" exclusive="false"/>
    <!--用户CA认证业务处理-->
    <rabbit:queue id="fdd-certificate-authority" name="fdd-certificate-authority" durable="true" auto-delete="false" exclusive="false"/>
    <!--法大大自动签署-->
    <rabbit:queue id="fdd-auto_sign" name="fdd-auto_sign" durable="true" auto-delete="false" exclusive="false"/>
    <!--法大大合同生成接口-->
    <rabbit:queue id="fdd-generate_contract" name="fdd-generate_contract" durable="true" auto-delete="false" exclusive="false"/>
    <!--法大大客户信息修改-->
    <rabbit:queue id="fdd-user-info-change" name="fdd-user-info-change" durable="true" auto-delete="false" exclusive="false"/>
    <!--crm账户信息处理-->
    <rabbit:queue id="crm-account-interface" name="crm-account-interface" durable="true" auto-delete="false" exclusive="false"/>
    <!-- crm账户余额同步 -->
    <rabbit:queue id="crm-account-interface_new" name="crm-account-interface_new" durable="true" auto-delete="false" exclusive="false"/>
    <!-- 用户ip同步 -->
    <rabbit:queue id="hyjf-user-sync-ip" name="hyjf-user-sync-ip" durable="true" auto-delete="false" exclusive="false"/>
    <!--神策数据统计相关MQ add by liuyang 20180724 start-->
    <!-- 神策数据:用户登录事件 -->
    <rabbit:queue id="sensors_data_login" name="sensors_data_login" durable="true" auto-delete="false" exclusive="false"/>
    <!-- 神策数据:充值结果事件 -->
    <rabbit:queue id="sensors_data_recharge_result" name="sensors_data_recharge_result" durable="true" auto-delete="false" exclusive="false"/>
    <!-- 神策数据:注册事件 -->
    <rabbit:queue id="sensors_data_sign_up" name="sensors_data_sign_up" durable="true" auto-delete="false" exclusive="false"/>
    <!-- 神策数据:提现结果事件 -->
    <rabbit:queue id="sensors_data_withdraw_result" name="sensors_data_withdraw_result" durable="true" auto-delete="false" exclusive="false"/>
    <!-- 神策数据:债转相关事件 -->
    <rabbit:queue id="sensors_data_credit" name="sensors_data_credit" durable="true" auto-delete="false" exclusive="false"/>
    <!-- 神策数据:汇计划加入事件 -->
    <rabbit:queue id="sensors_data_hjh_invest" name="sensors_data_hjh_invest" durable="true" auto-delete="false" exclusive="false"/>
    <!-- 神策数据:汇直投投资事件 -->
    <rabbit:queue id="sensors_data_hzt_invest" name="sensors_data_hzt_invest" durable="true" auto-delete="false" exclusive="false"/>
    <!-- 神策数据:开户相关事件 -->
    <rabbit:queue id="sensors_data_open_account" name="sensors_data_open_account" durable="true" auto-delete="false" exclusive="false"/>
    <!-- 神策数据:授权相关事件 -->
    <rabbit:queue id="sensors_data_auth_result" name="sensors_data_auth_result" durable="true" auto-delete="false" exclusive="false"/>

    <rabbit:queue id="sensors_data_hzt_invest_delay_queue" name="sensors_data_hzt_invest_delay_queue" auto-declare="true">
        <rabbit:queue-arguments>
            <entry key="x-message-ttl" value="30000" value-type="java.lang.Long" />
            <entry key="x-dead-letter-exchange" value="hyjf-direct-exchange" />
            <entry key="x-dead-letter-routing-key" value="sensors_data_hzt_invest" />
        </rabbit:queue-arguments>
    </rabbit:queue>

    <rabbit:queue id="sensors_data_hjh_invest_delay_queue" name="sensors_data_hjh_invest_delay_queue" auto-declare="true">
        <rabbit:queue-arguments>
            <entry key="x-message-ttl" value="30000" value-type="java.lang.Long" />
            <entry key="x-dead-letter-exchange" value="hyjf-direct-exchange" />
            <entry key="x-dead-letter-routing-key" value="sensors_data_hjh_invest" />
        </rabbit:queue-arguments>
    </rabbit:queue>

    <rabbit:queue id="sensors_data_credit_delay_queue" name="sensors_data_credit_delay_queue" auto-declare="true">
        <rabbit:queue-arguments>
            <entry key="x-message-ttl" value="30000" value-type="java.lang.Long" />
            <entry key="x-dead-letter-exchange" value="hyjf-direct-exchange" />
            <entry key="x-dead-letter-routing-key" value="sensors_data_credit" />
        </rabbit:queue-arguments>
    </rabbit:queue>

    <rabbit:queue id="sensors_data_open_account_delay_queue" name="sensors_data_open_account_delay_queue" auto-declare="true">
        <rabbit:queue-arguments>
            <entry key="x-message-ttl" value="30000" value-type="java.lang.Long" />
            <entry key="x-dead-letter-exchange" value="hyjf-direct-exchange" />
            <entry key="x-dead-letter-routing-key" value="sensors_data_open_account" />
        </rabbit:queue-arguments>
    </rabbit:queue>

    <rabbit:queue id="sensors_data_auth_result_delay_queue" name="sensors_data_auth_result_delay_queue" auto-declare="true">
        <rabbit:queue-arguments>
            <entry key="x-message-ttl" value="30000" value-type="java.lang.Long" />
            <entry key="x-dead-letter-exchange" value="hyjf-direct-exchange" />
            <entry key="x-dead-letter-routing-key" value="sensors_data_auth_result" />
        </rabbit:queue-arguments>
    </rabbit:queue>

    <!--神策数据统计相关MQ add by liuyang 20180724 end-->
    <!-- 2018中秋活动 -->
    <rabbit:queue id="hyjf-mdiau-activity" name="hyjf-mdiau-activity" durable="true" auto-delete="false" exclusive="false"/>

    <!-- 2018发放优惠券活动 -->
    <rabbit:queue id="hyjf-send-coupon-activity" name="hyjf-send-coupon-activity" durable="true" auto-delete="false" exclusive="false"/>


    <!-- 2018用户日志 -->
    <rabbit:queue id="hyjf-user-log" name="hyjf-user-log" durable="true" auto-delete="false" exclusive="false"/>
    <!-- 2018纳觅返现活动-->
    <rabbit:queue id="hyjf-return-cash-activity" name="hyjf-return-cash-activity" durable="true" auto-delete="false" exclusive="false"/>



    <rabbit:queue id="delay_queue" name="delay_queue" auto-declare="true">
        <rabbit:queue-arguments>
            <entry key="x-message-ttl" value="60000" value-type="java.lang.Long" />
            <entry key="x-dead-letter-exchange" value="hyjf-direct-exchange" />
            <entry key="x-dead-letter-routing-key" value="crm-routingkey-account-interface" />
        </rabbit:queue-arguments>
    </rabbit:queue>
    <!-- 新的延迟队列用于CRM客户余额同步 -->
    <rabbit:queue id="crm_delay_queue" name="crm_delay_queue" auto-declare="true">
        <rabbit:queue-arguments>
            <entry key="x-message-ttl" value="300000" value-type="java.lang.Long" />
            <entry key="x-dead-letter-exchange" value="hyjf-direct-exchange" />
            <entry key="x-dead-letter-routing-key" value="crm-routingkey-account-interface_new" />
        </rabbit:queue-arguments>
    </rabbit:queue>
    <!-- *********合规数据上报 MQ配置 liubin 20181122 start********* -->
    <!-- routingKey开户成功 -->
    <rabbit:queue id="hyjf-open-account-success-delay" name="hyjf-open-account-success-delay" auto-declare="true">
        <rabbit:queue-arguments>
            <entry key="x-message-ttl" value="30000" value-type="java.lang.Long" />
            <entry key="x-dead-letter-exchange" value="hyjf-direct-exchange" />
            <entry key="x-dead-letter-routing-key" value="open_account_success" />
        </rabbit:queue-arguments>
    </rabbit:queue>
    <!-- routingKey投资中 -->
    <rabbit:queue id="hyjf-issue-investing-delay" name="hyjf-issue-investing-delay" auto-declare="true">
        <rabbit:queue-arguments>
            <entry key="x-message-ttl" value="30000" value-type="java.lang.Long" />
            <entry key="x-dead-letter-exchange" value="hyjf-direct-exchange" />
            <entry key="x-dead-letter-routing-key" value="issue_investing" />
        </rabbit:queue-arguments>
    </rabbit:queue>
    <!-- routingKey满标 -->
    <rabbit:queue id="hyjf-issue-invested-delay" name="hyjf-issue-invested-delay" auto-declare="true">
        <rabbit:queue-arguments>
            <entry key="x-message-ttl" value="30000" value-type="java.lang.Long" />
            <entry key="x-dead-letter-exchange" value="hyjf-direct-exchange" />
            <entry key="x-dead-letter-routing-key" value="issue_invested" />
        </rabbit:queue-arguments>
    </rabbit:queue>
    <!-- routingKey放款成功 -->
    <rabbit:queue id="hyjf-loan-success-delay" name="hyjf-loan-success-delay" auto-declare="true">
        <rabbit:queue-arguments>
            <entry key="x-message-ttl" value="30000" value-type="java.lang.Long" />
            <entry key="x-dead-letter-exchange" value="hyjf-direct-exchange" />
            <entry key="x-dead-letter-routing-key" value="loan_success" />
        </rabbit:queue-arguments>
    </rabbit:queue>
    <!-- routingKey智投放款成功 -->
    <rabbit:queue id="hyjf-loan-hjh-success-delay" name="hyjf-loan-hjh-success-delay" auto-declare="true">
        <rabbit:queue-arguments>
            <entry key="x-message-ttl" value="30000" value-type="java.lang.Long" />
            <entry key="x-dead-letter-exchange" value="hyjf-direct-exchange" />
            <entry key="x-dead-letter-routing-key" value="loan_hjh_success" />
        </rabbit:queue-arguments>
    </rabbit:queue>
    <!-- routingKey转让成功 -->
    <rabbit:queue id="hyjf-transfer-success-delay" name="hyjf-transfer-success-delay" auto-declare="true">
        <rabbit:queue-arguments>
            <entry key="x-message-ttl" value="30000" value-type="java.lang.Long" />
            <entry key="x-dead-letter-exchange" value="hyjf-direct-exchange" />
            <entry key="x-dead-letter-routing-key" value="transfer_success" />
        </rabbit:queue-arguments>
    </rabbit:queue>
    <!-- routingKey单笔承接成功 -->
    <rabbit:queue id="hyjf-undertake-single-success-delay" name="hyjf-undertake-single-success-delay" auto-declare="true">
        <rabbit:queue-arguments>
            <entry key="x-message-ttl" value="30000" value-type="java.lang.Long" />
            <entry key="x-dead-letter-exchange" value="hyjf-direct-exchange" />
            <entry key="x-dead-letter-routing-key" value="undertake_single_success" />
        </rabbit:queue-arguments>
    </rabbit:queue>
    <!-- routingKey全部承接失败 -->
    <rabbit:queue id="hyjf-undertake-all-fail-delay" name="hyjf-undertake-all-fail-delay" auto-declare="true">
        <rabbit:queue-arguments>
            <entry key="x-message-ttl" value="30000" value-type="java.lang.Long" />
            <entry key="x-dead-letter-exchange" value="hyjf-direct-exchange" />
            <entry key="x-dead-letter-routing-key" value="undertake_all_fail" />
        </rabbit:queue-arguments>
    </rabbit:queue>
    <!-- routingKey全部承接成功 -->
    <rabbit:queue id="hyjf-undertake-all-success-delay" name="hyjf-undertake-all-success-delay" auto-declare="true">
        <rabbit:queue-arguments>
            <entry key="x-message-ttl" value="30000" value-type="java.lang.Long" />
            <entry key="x-dead-letter-exchange" value="hyjf-direct-exchange" />
            <entry key="x-dead-letter-routing-key" value="undertake_all_success" />
        </rabbit:queue-arguments>
    </rabbit:queue>
    <!-- routingKey单笔还款成功 -->
    <rabbit:queue id="hyjf-repay-single-success-delay" name="hyjf-repay-single-success-delay" auto-declare="true">
        <rabbit:queue-arguments>
            <entry key="x-message-ttl" value="30000" value-type="java.lang.Long" />
            <entry key="x-dead-letter-exchange" value="hyjf-direct-exchange" />
            <entry key="x-dead-letter-routing-key" value="repay_single_success" />
        </rabbit:queue-arguments>
    </rabbit:queue>
    <!-- routingKey全部还款成功 -->
    <rabbit:queue id="hyjf-repay-all-success-delay" name="hyjf-repay-all-success-delay" auto-declare="true">
        <rabbit:queue-arguments>
            <entry key="x-message-ttl" value="30000" value-type="java.lang.Long" />
            <entry key="x-dead-letter-exchange" value="hyjf-direct-exchange" />
            <entry key="x-dead-letter-routing-key" value="repay_all_success" />
        </rabbit:queue-arguments>
    </rabbit:queue>
    <!-- routingKey新增智投 -->
    <rabbit:queue id="hyjf-hjhplan-add-delay" name="hyjf-hjhplan-add-delay" auto-declare="true">
        <rabbit:queue-arguments>
            <entry key="x-message-ttl" value="30000" value-type="java.lang.Long" />
            <entry key="x-dead-letter-exchange" value="hyjf-direct-exchange" />
            <entry key="x-dead-letter-routing-key" value="hjhplan_add" />
        </rabbit:queue-arguments>
    </rabbit:queue>
    <!-- routingKey用户信息修改(修改手机号,修改银行卡号,风险测评) -->
    <rabbit:queue id="hyjf-userinfo-change-delay" name="hyjf-userinfo-change-delay" auto-declare="true">
        <rabbit:queue-arguments>
            <entry key="x-message-ttl" value="30000" value-type="java.lang.Long" />
            <entry key="x-dead-letter-exchange" value="hyjf-direct-exchange" />
            <entry key="x-dead-letter-routing-key" value="userinfo_change" />
        </rabbit:queue-arguments>
    </rabbit:queue>
    <!-- *********合规数据上报 MQ配置 liubin 20181122 end********* -->

    <!-- 定义direct exchange，绑定 queue -->
    <rabbit:direct-exchange name="hyjf-direct-exchange" durable="true" auto-delete="false">
        <rabbit:bindings>
        	<rabbit:binding queue="hyjf-coupon-repay" key="hyjf-routingkey-coupon-repay"></rabbit:binding>
        	<rabbit:binding queue="hyjf-coupon-loans" key="hyjf-routingkey-coupon-loans"></rabbit:binding>
        	<rabbit:binding queue="hyjf-coupon-planrepay" key="hyjf-routingkey-coupon-planrepay"></rabbit:binding>
        	<rabbit:binding queue="hyjf-coupon-planloans" key="hyjf-routingkey-coupon-planloans"></rabbit:binding>
        	<rabbit:binding queue="hyjf-coupon-send" key="hyjf-routingkey-coupon-send"></rabbit:binding>
            <rabbit:binding queue="borrowRepayRequest" key="borrowRepayRequest"></rabbit:binding>
            <rabbit:binding queue="borrowLoanRequest" key="borrowLoanRequest"></rabbit:binding>
            <rabbit:binding queue="borrowRepayZT" key="borrowRepayZT"></rabbit:binding>
            <rabbit:binding queue="borrowLoanZT" key="borrowLoanZT"></rabbit:binding>
            <rabbit:binding queue="borrowRepayPlan" key="borrowRepayPlan"></rabbit:binding>
            <rabbit:binding queue="borrowLoanPlan" key="borrowLoanPlan"></rabbit:binding>
            <rabbit:binding queue="hyjf-hzt-coupon-tender" key="hyjf-routingkey-hzt-coupon-tender"></rabbit:binding>
            <rabbit:binding queue="fdd-certificate-authority" key="fdd-routingkey-certificate-authority"></rabbit:binding>
            <rabbit:binding queue="fdd-auto_sign" key="fdd-routingkey-auto_sign"></rabbit:binding>
            <rabbit:binding queue="fdd-generate_contract" key="fdd-routingkey-generate_contract"></rabbit:binding>
            <rabbit:binding queue="crm-account-interface" key="crm-routingkey-account-interface"></rabbit:binding>
            <rabbit:binding queue="delay_queue" key="routingkey_delay_queue"></rabbit:binding>
            <!--神策数据统计相关MQ add by liuyang 20180724 start-->
            <!-- 神策数据:用户登录事件 -->
            <rabbit:binding queue="sensors_data_login" key="sensors_data_login"></rabbit:binding>
            <!-- 神策数据:充值结果事件 -->
            <rabbit:binding queue="sensors_data_recharge_result" key="sensors_data_recharge_result"></rabbit:binding>
            <!-- 神策数据:注册事件 -->
            <rabbit:binding queue="sensors_data_sign_up" key="sensors_data_sign_up"></rabbit:binding>
            <!-- 神策数据:提现结果事件 -->
            <rabbit:binding queue="sensors_data_withdraw_result" key="sensors_data_withdraw_result"></rabbit:binding>
            <!-- 神策数据:债转相关事件 -->
            <rabbit:binding queue="sensors_data_credit" key="sensors_data_credit"></rabbit:binding>
            <rabbit:binding queue="sensors_data_credit_delay_queue" key="sensors_data_routingkey_credit"></rabbit:binding>
            <!-- 神策数据:汇计划加入相关事件 -->
            <rabbit:binding queue="sensors_data_hjh_invest" key="sensors_data_hjh_invest"></rabbit:binding>
            <rabbit:binding queue="sensors_data_hjh_invest_delay_queue" key="sensors_data_routingkey_hjh_invest"></rabbit:binding>
            <!-- 神策数据:汇直投投资相关事件 -->
            <rabbit:binding queue="sensors_data_hzt_invest" key="sensors_data_hzt_invest"></rabbit:binding>
            <rabbit:binding queue="sensors_data_hzt_invest_delay_queue" key="sensors_data_routingkey_hzt_invest"></rabbit:binding>

            <!-- 神策数据:开户相关事件 -->
            <rabbit:binding queue="sensors_data_open_account" key="sensors_data_open_account"></rabbit:binding>
            <rabbit:binding queue="sensors_data_open_account_delay_queue" key="sensors_data_routingkey_open_account"></rabbit:binding>

            <!-- 神策数据:授权相关事件 -->
            <rabbit:binding queue="sensors_data_auth_result" key="sensors_data_auth_result"></rabbit:binding>
            <rabbit:binding queue="sensors_data_auth_result_delay_queue" key="sensors_data_routingkey_auth_result"></rabbit:binding>
            <!--神策数据统计相关MQ add by liuyang 20180724 end-->

            <rabbit:binding queue="crm-account-interface_new" key="crm-routingkey-account-interface_new"></rabbit:binding>
            <rabbit:binding queue="crm_delay_queue" key="routingkey_delay_queue_new"></rabbit:binding>
            <rabbit:binding queue="hyjf-user-sync-ip" key="hyjf-routingkey-userip-sync"></rabbit:binding>
            <!--2018中秋活动-->
            <rabbit:binding queue="hyjf-mdiau-activity" key="hyjf-routingkey-mdiau-activity"></rabbit:binding>
            <!--2018发放优惠券-->
            <rabbit:binding queue="hyjf-send-coupon-activity" key="hyjf-routingkey-sendcoupon-activity"></rabbit:binding>
            <!--2018用户日志-->
            <rabbit:binding queue="hyjf-user-log" key="hyjf-user-log-save"></rabbit:binding>
            <!--2018纳觅返现活动-->
            <rabbit:binding queue="hyjf-return-cash-activity" key="hyjf-return-cash-activity-save"></rabbit:binding>

            <!-- *********合规数据上报 MQ配置 liubin 20181122 start********* -->
            <!-- routingKey开户成功 -->
            <rabbit:binding queue="hyjf-open-account-success-delay" key="open_account_success_delay"></rabbit:binding>
            <!-- routingKey投资中 -->
            <rabbit:binding queue="hyjf-issue-investing-delay" key="issue_investing_delay"></rabbit:binding>
            <!-- routingKey满标 -->
            <rabbit:binding queue="hyjf-issue-invested-delay" key="issue_invested_delay"></rabbit:binding>
            <!-- routingKey放款成功 -->
            <rabbit:binding queue="hyjf-loan-success-delay" key="loan_success_delay"></rabbit:binding>
            <!-- routingKey智投放款成功 -->
            <rabbit:binding queue="hyjf-loan-hjh-success-delay" key="loan_hjh_success_delay"></rabbit:binding>
            <!-- routingKey转让成功 -->
            <rabbit:binding queue="hyjf-transfer-success-delay" key="transfer_success_delay"></rabbit:binding>
            <!-- routingKey单笔承接成功 -->
            <rabbit:binding queue="hyjf-undertake-single-success-delay" key="undertake_single_success_delay"></rabbit:binding>
            <!-- routingKey全部承接失败 -->
            <rabbit:binding queue="hyjf-undertake-all-fail-delay" key="undertake_all_fail_delay"></rabbit:binding>
            <!-- routingKey全部承接成功 -->
            <rabbit:binding queue="hyjf-undertake-all-success-delay" key="undertake_all_success_delay"></rabbit:binding>
            <!-- routingKey单笔还款成功 -->
            <rabbit:binding queue="hyjf-repay-single-success-delay" key="repay_single_success_delay"></rabbit:binding>
            <!-- routingKey全部还款成功 -->
            <rabbit:binding queue="hyjf-repay-all-success-delay" key="repay_all_success_delay"></rabbit:binding>
            <!-- routingKey新增智投 -->
            <rabbit:binding queue="hyjf-hjhplan-add-delay" key="hjhplan_add_delay"></rabbit:binding>
            <!-- routingKey用户信息修改(修改手机号,修改银行卡号,风险测评) -->
            <rabbit:binding queue="hyjf-userinfo-change-delay" key="userinfo_change_delay"></rabbit:binding>
            <!-- *********合规数据上报 MQ配置 liubin 20181122 end********* -->
        </rabbit:bindings>
    </rabbit:direct-exchange>
    
    <!--定义rabbit template用于数据的接收和发送-->
    <rabbit:template id="myAmqpTemplate" connection-factory="connectionFactory" exchange="hyjf-direct-exchange"/>

</beans>