<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hyjf.mybatis.mapper.customize.web.ApiProjectListCustomizeMapper">

	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~网站改版~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<resultMap id="ProjectListNewMap" type="com.hyjf.mybatis.model.customize.web.ApiProjectListCustomize">
		<id column="borrow_nid" property="borrowNid" jdbcType="VARCHAR" />
		<!-- 借款标题	 -->
		<result column="borrow_name" property="borrowName" jdbcType="VARCHAR" />
<!-- 		<result column="project_name" property="projectName" jdbcType="VARCHAR" /> -->
<!-- 		<result column="is_new" property="isNew" jdbcType="VARCHAR" /> -->
		<!-- 还款方式	 -->
		<result column="borrow_style" property="borrowStyle" jdbcType="VARCHAR" />
<!-- 		<result column="project_type" property="projectType" jdbcType="VARCHAR" /> -->
<!-- 		<result column="borrow_type" property="borrowType" jdbcType="VARCHAR" /> -->
		<!-- 预期收益率	 -->
		<result column="borrow_apr" property="borrowApr" jdbcType="VARCHAR" />
		<!-- 借款期限	 -->
		<result column="borrow_period" property="borrowPeriod" jdbcType="VARCHAR" />
 		<result column="borrow_period_type" property="borrowPeriodType" jdbcType="VARCHAR" /> 
		<!-- 借款金额	 -->
		<result column="borrow_account" property="borrowAccount" jdbcType="VARCHAR" />
		<!-- 进度	 -->
		<result column="borrow_schedule" property="borrowSchedule" jdbcType="VARCHAR" />
<!-- 		<result column="tstatus" property="status" jdbcType="VARCHAR" /> -->
<!-- 		<result column="on_time" property="onTime" jdbcType="VARCHAR" /> -->
<!-- 		<result column="time" property="time" jdbcType="VARCHAR" /> -->
<!-- 		<result column="couponEnable" property="couponEnable" jdbcType="VARCHAR" /> -->
<!-- 		<result column="booking_status" property="bookingStatus" jdbcType="INTEGER" /> -->
<!-- 		<result column="booking_begin_time" property="bookingBeginTime" jdbcType="INTEGER" /> -->
<!-- 		<result column="booking_end_time" property="bookingEndTime" jdbcType="INTEGER" /> -->
<!-- 		<result column="borrow_account_scale_appoint" property="borrowAccountScaleAppoint" jdbcType="DECIMAL" /> -->
<!-- 		<result column="borrow_extra_yield" property="borrowExtraYield" jdbcType="DECIMAL" /> -->
<!-- 		<result column="borrow_asset_number" property="borrowAssetNumber" jdbcType="VARCHAR" /> -->
<!-- 		<result column="borrow_class" property="borrowClass" jdbcType="VARCHAR" /> -->
		<!-- 剩余可投金额	 -->
		<result column="borrow_account_wait" property="borrowAccountWait" jdbcType="VARCHAR" />
		<!-- 标的状态（投资中：2、复审中：3、还款中：4、已还款：5、已流标：6）	 -->
		<result column="borrow_status" property="borrowStatus" jdbcType="VARCHAR" />
		<result column="borrow_url" property="borrowUrl" jdbcType="VARCHAR" />
		<result column="borrow_type" property="borrowType" jdbcType="VARCHAR" />
		<!-- 是否产品加息-->
		<result column="increase_interest_flag" property="increaseInterestFlag" jdbcType="INTEGER" />
		<!-- 数据库的产品加息字段-->
		<result column="borrow_extra_yield" property="borrowExtraYield" jdbcType="VARCHAR" />
	</resultMap>
	<resultMap id="InvestListNewMap" type="com.hyjf.mybatis.model.customize.web.InvestListCustomize">
		<id column="account" property="accountId"/>
		<id column="nid" property="nid"/>
		<id column="borrowNid" property="borrowNid"/>
		<id column="borrow_apr" property="borrowApr"/>
		<id column="borrow_period" property="borrowPeriod"/>
		<id column="amount" property="amount"/>
		<id column="borrow_style_name" property="borrowStyleName"/>
		<id column="investType" property="investType"/>
		<id column="ADDTIME" property="addTime"/>
		<id column="recoverTime" property="recoverTime"/>
		<id column="recoverInterest" property="recoverInterest"/>
		<id column="recoverAccount" property="recoverTotal"/>
		<id column="recoverAmount" property="recoverAmountYes"/>
		<id column="status" property="status"/>
		<id column="interestAt" property="interestAt"/>
		<id column="invite_user_name" property="inviteUserName"/>
		<id column="invite_user_id" property="inviteUserId"/>
		<id column="invite_region_name" property="inviteRegionName"/>
		<id column="invite_region_id" property="inviteRegionId"/>
		<id column="invite_branch_name" property="inviteBranchName"/>
		<id column="invite_branch_id" property="inviteBranchId"/>
		<id column="invite_department_name" property="inviteDepartmentName"/>
		<id column="invite_department_id" property="inviteDepartmentId"/>
		<id column="tender_user_attribute" property="tenderUserAttribute"/>
		<id column="invite_user_attribute" property="inviteUserAttribute"/>
		<result column="borrow_url" property="borrowUrl" jdbcType="VARCHAR" />
		<result column="project_type" property="projectType" jdbcType="VARCHAR" />
		<!-- 产品加息 -->
		<result column="borrow_extra_yield" property="borrowExtraYield" jdbcType="VARCHAR" />
		<result column="repay_interest" property="repayInterest" jdbcType="VARCHAR" />
		<result column="repay_interest_yes" property="repayInterestYes" jdbcType="VARCHAR" />
	</resultMap>

	<resultMap id="RepayListMap" type="com.hyjf.mybatis.model.customize.web.RepayListCustomize">
		<id column="account" property="accountId"/>
		<id column="nid" property="nid"/>
		<id column="borrowNid" property="borrowNid"/>
		<id column="recoverCapital" property="recoverCapital"/>
		<id column="recoverInterest" property="recoverInterest"/>
		<id column="recoverTime" property="recoverTime"/>
		<id column="recoverAccount" property="recoverTotal"/>
		<id column="status" property="status"/>
		<id column="borrow_type" property="projectType"/>
		<!-- 产品加息 -->
		<id column="repay_interest" property="repayInterest"/>
		<id column="repay_interest_yes" property="repayInterestYes"/>
		<id column="repay_action_time" property="repayActionTime"/>
	</resultMap>

	<sql id="Where_Clause_New">
		<where>
			<if test="projectType != null and projectType != ''">
				hydbpt.borrow_project_type = #{projectType,jdbcType=VARCHAR}
			</if>
			<if test="borrowClass != null and borrowClass != ''">
				AND hydbpt.borrow_class = #{borrowClass,jdbcType=VARCHAR}
			</if>
			<if test="borrowClass == null or borrowClass == ''">
				<!-- 第三方接口拉取排除  新手汇 员工贷 现金贷 -->
			  	<!-- 新手汇  -->
			  	AND hydbpt.borrow_class <![CDATA[<>]]> 'NEW'
				<!--员工贷 -->
				AND hydbpt.borrow_cd <![CDATA[<>]]> '14'
				<!--现金贷 -->
			  	AND hydbpt.borrow_cd <![CDATA[<>]]> '15'
			 	<!-- 尊享汇  -->
			  	<!-- AND hydbpt.borrow_class <![CDATA[<>]]> 'ZXH' -->
			  	<!-- 融通宝  -->
			  	<!-- AND hydbpt.borrow_class <![CDATA[<>]]> 'RTB' -->
			 	<!--   AND hydb.project_type <![CDATA[<>]]> '12'  -->
				<!-- 汇直投列表数据过滤:只显示有效的项目 -->
				<if test="projectType == 'HZT'">
					AND CASE
					WHEN ( hydb.`status` = 1 AND hydb.verify_status = 3)
						THEN
							hydb.ontime + ( hydb.borrow_valid_time * 24 * 60 *60 ) <![CDATA[>]]> UNIX_TIMESTAMP( NOW() ) 
						ELSE
							hydb.verify_time + ( hydb.borrow_valid_time * 24 * 60 *60 ) <![CDATA[>]]> UNIX_TIMESTAMP( NOW() ) 
					END
				</if>
			</if>
			<if test="status == null or status == ''">
				AND 
		        ( 
		           ( hydb.`status` = 1 AND hydb.verify_status = 3 )
					OR ( hydb.`status` = 2 AND hydb.verify_time + ( borrow_valid_time * 24 * 60 *60 ) <![CDATA[>]]> UNIX_TIMESTAMP( NOW() ) )
					OR ( hydb.`status` = 3 )
					OR ( hydb.`status` = 4 )
		        )
			</if>
			<!-- 第三方接口拉取排除  汇计划标的 -->
			AND plan_nid IS NULL
			
			<if test="status != null and status != ''">
				<!-- 获取 等待投资中 -->
				<if test="status == '1'.toString()">
				AND ( hydb.`status` = 1 AND hydb.verify_status = 3 )
				</if>
				<!-- 获取 投资中 -->
				<if test="status == '2'.toString()">
				AND ( hydb.`status` = 2 AND hydb.verify_time + ( borrow_valid_time * 24 * 60 *60 ) <![CDATA[>]]> UNIX_TIMESTAMP( NOW() ) )
				</if>
				<!-- 获取 投标结束 -->
				<if test="status == '3'.toString()">
				AND (hydb.`status` = 3)
				</if>
				<!-- 获取 还款中 -->
				<if test="status == '4'.toString()">
				AND ( hydb.`status` = 4)
				</if>
				<!-- 已还款 -->
				<if test="status == '5'.toString()">
				AND ( hydb.`status` = 5)
				</if>
			</if>
			AND hydb.is_show <![CDATA[<>]]> 1
		</where>
	</sql>

	<sql id="Where_Clause">
		<where>
			<if test="projectType != null and projectType != ''">
				hydbpt.borrow_project_type = #{projectType,jdbcType=VARCHAR}
			</if>
			<if test="borrowClass != null and borrowClass != ''">
				AND hydbpt.borrow_class = #{borrowClass,jdbcType=VARCHAR}
			</if>
			<if test="publishInstCode != null and publishInstCode != ''">
				AND (hydb.publish_inst_code = #{publishInstCode,jdbcType=VARCHAR} OR hydb.publish_inst_code ='0')
			</if>
			<if test="borrowClass == null or borrowClass == ''">
				<!-- 第三方接口拉取排除  新手汇 员工贷 现金贷 -->
				<!-- 新手汇  -->
				<if test="publishInstCode != '11000002'">
					AND hydbpt.borrow_class <![CDATA[<>]]> 'NEW'
				</if>
				<!--员工贷 -->
				AND hydbpt.borrow_cd <![CDATA[<>]]> '14'
				<!--现金贷 -->
				AND hydbpt.borrow_cd <![CDATA[<>]]> '15'
				<!-- 尊享汇  -->
				<!-- AND hydbpt.borrow_class <![CDATA[<>]]> 'ZXH' -->
				<!-- 融通宝  -->
				<!-- AND hydbpt.borrow_class <![CDATA[<>]]> 'RTB' -->
				<!--   AND hydb.project_type <![CDATA[<>]]> '12'  -->
				<!-- 汇直投列表数据过滤:只显示有效的项目 -->
				<if test="projectType == 'HZT'">
					AND CASE
					WHEN ( hydb.`status` = 1 AND hydb.verify_status = 3)
					THEN
					hydb.ontime + ( hydb.borrow_valid_time * 24 * 60 *60 ) <![CDATA[>]]> UNIX_TIMESTAMP( NOW() )
					ELSE
					hydb.verify_time + ( hydb.borrow_valid_time * 24 * 60 *60 ) <![CDATA[>]]> UNIX_TIMESTAMP( NOW() )
					END
				</if>
			</if>
			<if test="status == null or status == ''">
				AND
				(
				( hydb.`status` = 1 AND hydb.verify_status = 3 )
				OR ( hydb.`status` = 2 AND hydb.verify_time + ( borrow_valid_time * 24 * 60 *60 ) <![CDATA[>]]> UNIX_TIMESTAMP( NOW() ) )
				OR ( hydb.`status` = 3 )
				OR ( hydb.`status` = 4 )
				)
			</if>
			<!-- 第三方接口拉取排除  汇计划标的 -->
			AND plan_nid IS NULL

			<if test="status != null and status != ''">
				<!-- 获取 等待投资中 -->
				<if test="status == '1'.toString()">
					AND ( hydb.`status` = 1 AND hydb.verify_status = 3 )
				</if>
				<!-- 获取 投资中 -->
				<if test="status == '2'.toString()">
					AND ( hydb.`status` = 2 AND hydb.verify_time + ( borrow_valid_time * 24 * 60 *60 ) <![CDATA[>]]> UNIX_TIMESTAMP( NOW() ) )
				</if>
				<!-- 获取 投标结束 -->
				<if test="status == '3'.toString()">
					AND (hydb.`status` = 3)
				</if>
				<!-- 获取 还款中 -->
				<if test="status == '4'.toString()">
					AND ( hydb.`status` = 4)
				</if>
				<!-- 已还款 -->
				<if test="status == '5'.toString()">
					AND ( hydb.`status` = 5)
				</if>
			</if>
			AND hydb.is_show <![CDATA[<>]]> 1
		</where>
	</sql>
	
	<select id="selectProjectListNew" resultMap="ProjectListNewMap" parameterType="Map">
		SELECT
			hydb.borrow_nid,
			hydb.`name` AS borrow_name,
			hydb.is_new,
			IFNULL(hydb.project_name,hydb.borrow_nid) AS project_name,
			hydbs.`name` AS borrow_style,
			hydb.project_type,
			hydbpt.borrow_name AS borrow_type,
			hydb.borrow_apr,
			hydb.borrow_extra_yield,
			hydb.borrow_asset_number,
			hydb.borrow_period,
			CASE WHEN hydb.borrow_style = 'endday' THEN '天' ELSE '个月' END borrow_period_type,
			hydb.account AS borrow_account,
			hydb.borrow_account_scale AS borrow_schedule,
			CASE 
				WHEN hydb.`status` = 1 AND hydb.verify_status = 3 THEN '10'
				WHEN hydb.`status` = 2 AND ( hydb.verify_time + ( hydb.borrow_valid_time * 24 * 60 *60 ) <![CDATA[>]]> UNIX_TIMESTAMP( NOW() ) ) THEN '11'
				WHEN hydb.`status` = 3 THEN '12'
        		WHEN hydb.`status` = 4 THEN '13'
        		<!-- WHEN hydb.`status` = 3 AND hydb.repay_full_status = 1 THEN '14' -->
			ELSE
			  ''
			END AS tstatus,
			hydb.booking_status,
			hydb.booking_begin_time,
			hydb.booking_end_time,
			hydb.borrow_account_scale_appoint,
			CASE 
				WHEN hydb.`status` = 1 AND hydb.verify_status = 3 
					THEN FROM_UNIXTIME( hydb.ontime, '%Y-%m-%d %H:%i:%s' )
			ELSE ''
			END AS on_time,
			CASE 
				WHEN hydb.`status` = 1 AND hydb.verify_status = 3 
					THEN hydb.ontime
			ELSE ''
			END AS time,
			(hydbpt.increase_money or hydbpt.interest_coupon) as couponEnable,
			hydbpt.borrow_class borrow_class,
			<!-- 剩余可投金额	 -->
			hydb.borrow_account_wait,
			<!-- 标的状态	 -->
			hydb.status borrow_status,
			hydbpt.borrow_class as borrow_type,
			CONCAT("/bank/web/borrow/getBorrowDetail.do?borrowNid=",hydb.borrow_nid) AS borrow_url,
			hydb.increase_interest_flag increase_interest_flag,
			hydb.borrow_extra_yield borrow_extra_yield
			<!-- CONCAT("https://newweb.hyjf.com/bank/web/borrow/getBorrowDetail.do?borrowNid=",hydb.borrow_nid) AS borrow_url -->
		FROM
			huiyingdai_borrow hydb
		INNER JOIN huiyingdai_borrow_project_type hydbpt ON hydbpt.borrow_cd = hydb.project_type
		LEFT JOIN huiyingdai_borrow_style hydbs ON hydb.borrow_style = hydbs.nid
		LEFT JOIN hyjf_param_name pn ON cast(hydb.`status` AS CHAR) = pn.name_cd AND pn.name_class = 'BORROW_STATUS'
		<include refid="Where_Clause" />
		ORDER BY
			hydb.`status` ASC,
			CASE
				WHEN hydb.`status` = '1' AND hydb.verify_status = 3 AND hydb.ontime IS NOT NULL AND LENGTH(trim(hydb.ontime)) <![CDATA[>]]> 1 
				THEN
					hydb.ontime
			END ASC,
			CASE
				WHEN hydb.`status` = '2'
				THEN hydb.borrow_account_scale 
			END DESC,
			CASE
				WHEN hydb.`status` = '2'
				THEN hydb.verify_time
			END DESC,
			CASE
				WHEN hydb.`status` = '3'
				THEN hydb.borrow_full_time 
			END DESC,
			CASE
				WHEN hydb.`status` = '4'
				THEN hydb.borrow_full_time
			END DESC
			 
		<if test="limitStart != null and limitEnd !=null" >
	      LIMIT #{limitStart,jdbcType=INTEGER} , #{limitEnd,jdbcType=INTEGER}
	    </if>
	</select>
	<select id="searchInvestListNew" resultMap="InvestListNewMap" parameterType="Map">
		SELECT ac.account AS account,bt.nid AS nid,bt.borrow_nid AS borrowNid,CONCAT(b.borrow_apr, '%') borrow_apr,
			   CASE WHEN b.borrow_style = 'endday' THEN CONCAT(b.borrow_period, '天') ELSE CONCAT(b.borrow_period, '个月') END borrow_period,
			   FORMAT(bt.account, 2) AS amount,bs.`name` AS borrow_style_name, pnai.`name` AS investType,
		       FROM_UNIXTIME( bt.addtime, '%Y-%m-%d %H:%i:%s' ) AS ADDTIME
		       ,IFNULL(FROM_UNIXTIME( re.recover_time, '%Y-%m-%d %H:%i:%s' ),'') AS recoverTime
		       ,IFNULL(re.recover_interest,'') AS recoverInterest,IFNULL(recover_account,'') AS recoverAccount,
				CASE WHEN bt.recover_account_interest_yes = 0 THEN '' ELSE bt.recover_account_interest_yes END AS recoverAmount,
				CASE b.status WHEN '4' THEN '1' WHEN '5' THEN '2' ELSE '0'  END AS STATUS,
				FROM_UNIXTIME(re.create_time, '%Y-%m-%d %H:%i:%s' ) AS interestAt,
				bt.invite_user_name AS invite_user_name,bt.invite_user_id AS invite_user_id,bt.invite_region_name AS invite_region_name,
				bt.invite_region_id AS invite_region_id,bt.invite_branch_name AS invite_branch_name,bt.invite_branch_id AS invite_branch_id,
				bt.invite_department_name AS invite_department_name,bt.invite_department_id AS invite_department_id,
				pa_tender.`name` AS tender_user_attribute,
			pa_invite.`name` AS invite_user_attribute,
			bpt.borrow_class AS project_type,
			CONCAT("/bank/web/borrow/getBorrowDetail.do?borrowNid=",b.borrow_nid) AS borrow_url,
			iii.borrow_extra_yield AS borrow_extra_yield,
			iii.repay_interest AS repay_interest,
			iii.repay_interest_yes AS repay_interest_yes
		FROM
		    huiyingdai_borrow_tender bt
		  INNER JOIN huiyingdai_borrow b ON bt.borrow_nid = b.borrow_nid
		  LEFT JOIN hyjf_increase_interest_invest iii ON iii.tender_nid = bt.nid
		  LEFT JOIN huiyingdai_borrow_style bs ON bs.nid = b.borrow_style
		  LEFT JOIN hyjf_param_name pnai ON CAST(bt.invest_type AS CHAR) = pnai.name_cd AND pnai.name_class = 'INVEST_TYPE'
		  LEFT JOIN hyjf_hjh_inst_config hic ON hic.inst_code = b.inst_code
		  LEFT JOIN huiyingdai_borrow_project_type bpt ON bpt.borrow_cd = CAST(b.project_type AS CHAR)
		  LEFT JOIN huiyingdai_borrow_recover re ON bt.id = re.tender_id
		  LEFT JOIN hyjf_bank_open_account ac ON bt.user_id = ac.user_id
		  LEFT JOIN hyjf_param_name pa_tender ON pa_tender.name_class = 'USER_PROPERTY' AND pa_tender.name_cd = bt.tender_user_attribute
		  LEFT JOIN hyjf_param_name pa_invite ON pa_invite.name_class = 'USER_PROPERTY' AND pa_invite.name_cd = bt.invite_user_attribute
		  WHERE 1=1 
		  
		  <if test="instCode != null and instCode !=null" >
			    AND b.inst_code = #{instCode}
	      </if>
		  <if test="startTime != null and startTime != ''">
				AND bt.addtime <![CDATA[>=]]>  unix_timestamp(#{startTime})
		  </if>
		  <if test="endTime != null and endTime != ''">
				AND bt.addtime <![CDATA[<=]]>  unix_timestamp(#{endTime})+86399
		  </if>
		  <if test="account != null and account != ''">
			    AND ac.account = #{account}
		  </if>
		  <if test="borrowNid != null and borrowNid != ''">
			    AND bt.borrow_nid = #{borrowNid}
		  </if>

		<if test="limitStart != null and limitEnd !=null" >
			LIMIT #{limitStart,jdbcType=INTEGER} , #{limitEnd,jdbcType=INTEGER}
		</if>

	</select>

	<select id="searchRepayList" resultMap="RepayListMap" parameterType="Map">
		SELECT ac.account AS account,bt.nid AS nid,bt.borrow_nid AS borrowNid
		,ifnull(re.recover_capital,'') AS recoverCapital
		,ifnull(FROM_UNIXTIME( re.recover_time, '%Y-%m-%d %H:%i:%s' ),'') AS recoverTime
		,ifnull(re.recover_interest,'') AS recoverInterest,ifnull(recover_account,'') AS recoverAccount,
		case b.status when '4' then '1' when '5' then '2' else '0'  end as status,
		bpt.borrow_class as borrow_type,
		iii.repay_interest AS repay_interest,
		iii.repay_interest_yes AS repay_interest_yes,
		case iii.repay_action_time when '0' then '' else
		ifnull(FROM_UNIXTIME( iii.repay_action_time, '%Y-%m-%d %H:%i:%s' ),'') end AS repay_action_time
		FROM
		huiyingdai_borrow_tender bt
		INNER JOIN huiyingdai_borrow b ON bt.borrow_nid = b.borrow_nid
		LEFT JOIN hyjf_increase_interest_invest iii ON iii.tender_nid = bt.nid
		LEFT JOIN huiyingdai_borrow_style bs ON bs.nid = b.borrow_style
		LEFT JOIN hyjf_param_name pnai ON CAST(bt.invest_type AS CHAR) = pnai.name_cd AND pnai.name_class = 'INVEST_TYPE'
		LEFT JOIN hyjf_hjh_inst_config hic ON hic.inst_code = b.inst_code
		LEFT JOIN huiyingdai_borrow_project_type bpt ON bpt.borrow_cd = CAST(b.project_type AS CHAR)
		LEFT JOIN huiyingdai_borrow_recover re ON bt.id = re.tender_id
		LEFT JOIN hyjf_bank_open_account ac ON bt.user_id = ac.user_id
		WHERE 1=1
		<if test="instCode != null and instCode !=null" >
			AND b.inst_code = #{instCode}
		</if>
		<if test="startTime != null and startTime != ''">
			AND bt.addtime <![CDATA[>=]]>  unix_timestamp(#{startTime})
		</if>
		<if test="endTime != null and endTime != ''">
			AND bt.addtime <![CDATA[<=]]>  unix_timestamp(#{endTime})+86399
		</if>
		<if test="account != null and account != ''">
			AND ac.account = #{account}
		</if>
		<if test="borrowNid != null and borrowNid != ''">
			AND bt.borrow_nid = #{borrowNid}
		</if>

		<if test="limitStart != null and limitEnd !=null" >
			LIMIT #{limitStart,jdbcType=INTEGER} , #{limitEnd,jdbcType=INTEGER}
		</if>

	</select>

	<select id="countProjectListRecordTotalNew" resultType="java.lang.Integer" parameterType="Map">
		SELECT
			 COUNT(hydb.borrow_nid) AS total
		FROM
			huiyingdai_borrow hydb
		INNER JOIN huiyingdai_borrow_project_type hydbpt ON hydbpt.borrow_cd = hydb.project_type
		LEFT JOIN huiyingdai_borrow_style hydbs ON hydb.borrow_style = hydbs.nid
		LEFT JOIN hyjf_param_name pn ON cast(hydb.`status` AS CHAR) = pn.name_cd AND pn.name_class = 'BORROW_STATUS'
		<include refid="Where_Clause_New" />
	</select>
	
	<resultMap id="searchOrganizationMap" type="com.hyjf.mybatis.model.customize.web.OrganizationStructure">
		<id column="id" property="id"/>
		<id column="name" property="name"/>
		<id column="parentid" property="parentid"/>
		<id column="cuttype" property="cuttype"/>
		<id column="flag" property="flag"/>
	</resultMap>
	
	<select id="searchOrganizationList" resultMap="searchOrganizationMap" parameterType="Map">
		SELECT id AS id ,NAME, parentid , cuttype,
			CASE flag WHEN 1 THEN 1 ELSE 0 END AS flag
			FROM hyjf_crm.oa_department
			where 1=1
			<if test="parentid != null and parentid != ''">
				AND parentid = #{parentid}
			</if>
			<if test="flag != null and flag != ''">
				AND flag = #{flag}
			</if>
	</select>
	<resultMap id="searchEmpInfoListMap" type="com.hyjf.mybatis.model.customize.web.Empinfo">
		<id column="userId" property="userId"/>
		<id column="fullName" property="fullName"/>
		<id column="sex" property="sex"/>
		<id column="mobileNum" property="mobileNum"/>
		<id column="cardId" property="cardId"/>
		<id column="domicileAddress" property="domicileAddress"/>
		<id column="deptId" property="deptId"/>
		<id column="deptName" property="deptName"/>
		<id column="entryDate" property="entryDate"/>
		<id column="dimissionDate" property="dimissionDate"/>
		<id column="empState" property="empState"/>
		<id column="username" property="hyjfAccountName"/>
	</resultMap>
	
	<select id="searchEmpInfoList" resultMap="searchEmpInfoListMap" parameterType="Map">
		SELECT t1.id as userId,t1.user_realname AS fullName,t1.sex AS sex,t1.user_login AS mobileNum,
			t1.idcard AS cardId, t1.acc_address AS domicileAddress,t1.departmentid AS deptId,
			t2.name AS deptName,FROM_UNIXTIME(t1.entry_success_time,'%Y-%m-%d') AS entryDate,
			FROM_UNIXTIME(t1.leave_success_time,'%Y-%m-%d') AS dimissionDate,t1.user_status AS empState,
			t3.username as username
			FROM hyjf_crm.oa_users t1
			LEFT JOIN hyjf_crm.oa_department t2 ON t1.departmentid = t2.id
			LEFT JOIN huiyingdai_users t3 ON t1.hyd_id = t3.user_id
			where 1=1
			
			<if test="limitStart != null and limitEnd !=null" >
				LIMIT #{limitStart,jdbcType=INTEGER} , #{limitEnd,jdbcType=INTEGER}
			</if>
	</select>
	<resultMap id="searchInvestRepaysListNewMap" type="com.hyjf.mybatis.model.customize.web.InvestRepayCustomize">
		<id column="user_id" property="userId"/>
		<id column="account" property="account"/>
	</resultMap>
	
	<select id="searchInvestRepaysListNew" resultMap="searchInvestRepaysListNewMap" parameterType="java.util.List">
		SELECT user_id ,account FROM hyjf_bank_open_account
        where user_id in
         <foreach collection="userIdList" index="index" item="userIdList" open="(" separator="," close=")">  
            #{userIdList}  
        </foreach>
	</select>
	
	<insert id="insertImformation" parameterType="com.hyjf.mybatis.model.auto.UsersPortrait">
    <selectKey keyProperty="userId" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into hyjf_users_portrait (user_id,user_name, age, sex, 
      education, occupation, city, 
      interest, interest_sum, invest_sum, 
      recharge_sum, withdraw_sum, login_active, 
      customer_source, last_login_time, last_recharge_time, 
      last_withdraw_time, invest_platform, invest_age, 
      trade_number, current_owner, add_wechat, 
      invest_process, customer_complaint, invite_customer
      )
    values ( #{userId,jdbcType=INTEGER},#{userName,jdbcType=VARCHAR}, #{age,jdbcType=INTEGER}, #{sex,jdbcType=BIT}, 
      #{education,jdbcType=VARCHAR}, #{occupation,jdbcType=VARCHAR}, #{city,jdbcType=VARCHAR}, 
      #{interest,jdbcType=VARCHAR}, #{interestSum,jdbcType=DECIMAL}, #{investSum,jdbcType=DECIMAL}, 
      #{rechargeSum,jdbcType=DECIMAL}, #{withdrawSum,jdbcType=DECIMAL}, #{loginActive,jdbcType=VARCHAR}, 
      #{customerSource,jdbcType=VARCHAR}, #{lastLoginTime,jdbcType=INTEGER}, #{lastRechargeTime,jdbcType=INTEGER}, 
      #{lastWithdrawTime,jdbcType=INTEGER}, #{investPlatform,jdbcType=INTEGER}, #{investAge,jdbcType=BIT}, 
      #{tradeNumber,jdbcType=INTEGER}, #{currentOwner,jdbcType=VARCHAR}, #{addWechat,jdbcType=BIT}, 
      #{investProcess,jdbcType=VARCHAR}, #{customerComplaint,jdbcType=VARCHAR}, #{inviteCustomer,jdbcType=INTEGER}
      )
  </insert>
	
	
</mapper>