<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hyjf.mybatis.mapper.customize.callcenter.CallcenterHztInvestCustomizeMapper">

	<sql id="Where_Clause">
		<where>
			<!-- 用户ID -->
			<if test="userId != null and userId !=''">
				AND bt.user_id = #{userId}
			</if>
			<!-- 借款编号 -->
			<if test="borrowNidSrch != null and borrowNidSrch != ''">
				AND bt.borrow_nid LIKE CONCAT('%', #{borrowNidSrch}, '%')
			</if>
			<!-- 借款标题 -->
			<if test="borrowNameSrch != null and borrowNameSrch != ''">
				AND b.`name` LIKE CONCAT('%', #{borrowNameSrch}, '%')
			</if>
			<!-- 借款期限 -->
			<if test="borrowPeriod != null and borrowPeriod != ''">
				AND b.borrow_period=#{borrowPeriod}
			</if>
			<!-- 用户名 -->
			<if test="usernameSrch != null and usernameSrch != ''">
				AND bt.tender_user_name LIKE CONCAT('%', #{usernameSrch}, '%')
			</if>
			<!-- 推荐人 -->
			<if test="referrerNameSrch != null and referrerNameSrch != ''">
				AND bt.invite_user_name LIKE CONCAT('%', #{referrerNameSrch}, '%')
			</if>
			<!-- 还款方式 -->
			<if test="borrowStyleSrch != null and borrowStyleSrch != ''">
				AND b.borrow_style = #{borrowStyleSrch}
			</if>
			<!-- 操作平台 -->
			<if test="clientSrch != null and clientSrch != ''">
				AND bt.client = #{clientSrch}
			</if>
			<!-- 投资时间 -->
			<if test="timeStartSrch != null and timeStartSrch != ''">
				AND FROM_UNIXTIME( bt.addtime, '%Y-%m-%d' ) <![CDATA[>=]]> #{timeStartSrch}
			</if>
			<if test="timeEndSrch != null and timeEndSrch != ''">
				AND FROM_UNIXTIME( bt.addtime, '%Y-%m-%d' ) <![CDATA[<=]]> #{timeEndSrch}
			</if>
			<!-- 投资方式 -->
			<if test="investType != null and investType != ''">
				AND bt.invest_type = #{investType}
			</if>
		</where>
	</sql>

	<resultMap id="selectBorrowInvestListMap" type="com.hyjf.mybatis.model.customize.callcenter.CallcenterHztInvestCustomize">
		<result column="borrow_name" property="borrowName" jdbcType="VARCHAR" />
		<result column="username" property="username" jdbcType="VARCHAR" />
		<result column="referrer_name" property="referrerName" jdbcType="VARCHAR" />
		<result column="borrow_nid" property="borrowNid" jdbcType="VARCHAR" />
		<result column="borrow_apr" property="borrowApr" jdbcType="VARCHAR" />
		<result column="borrow_period" property="borrowPeriod" jdbcType="VARCHAR" />
		<result column="borrow_style_name" property="borrowStyleName" jdbcType="VARCHAR" />
		<result column="account" property="account" jdbcType="VARCHAR" />
		<result column="operating_deck" property="operatingDeck" jdbcType="VARCHAR" />
		<result column="addtime" property="addtime" jdbcType="VARCHAR" />
		<result column="nid" property="nid" jdbcType="VARCHAR" />
		<result column="userid" property="userId" jdbcType="VARCHAR" />
		<result column="user_property" property="tenderUserAttribute" jdbcType="VARCHAR" />
		<result column="resendMessage" property="resendMessage" jdbcType="VARCHAR" />
		<result column="investType" property="investType" jdbcType="VARCHAR" />
		<result column="borrowExtraYield" property="borrowExtraYield" jdbcType="DECIMAL" />
	</resultMap>
	<select id="selectBorrowInvestList" resultMap="selectBorrowInvestListMap" parameterType="com.hyjf.mybatis.model.customize.callcenter.CallcenterHztInvestCustomize">
		SELECT
		  b.`name` AS borrow_name,
		  bt.tender_user_name AS username,
		  bt.invite_user_name AS referrer_name,
		  bt.borrow_nid,
		  bt.user_id AS userid,
		  bt.nid AS nid,
		  CONCAT(b.borrow_apr, '%') borrow_apr,
		  CASE WHEN b.borrow_style = 'endday' THEN CONCAT(b.borrow_period, '天') ELSE CONCAT(b.borrow_period, '个月') END borrow_period,
		  CASE WHEN b.`status` = 4 
		  THEN 1
		  WHEN b.`status` = 5
		  THEN 1
		  ELSE 0 END  resendMessage,
		  bs.`name` AS borrow_style_name,
		  FORMAT(bt.account, 2) AS account,
		  pa.`name` AS operating_deck,
		  pna.`name` AS user_property,
		  pnai.`name` AS investType,
		  
		  iii.borrow_extra_yield AS borrowExtraYield,
		  
		  FROM_UNIXTIME( bt.addtime, '%Y-%m-%d %H:%i:%s' ) AS addtime
		FROM
		    huiyingdai_borrow_tender bt
		  INNER JOIN huiyingdai_borrow b ON bt.borrow_nid = b.borrow_nid
		  LEFT JOIN huiyingdai_borrow_style bs ON bs.nid = b.borrow_style
		  
		  LEFT JOIN hyjf_increase_interest_invest iii ON iii.tender_id = bt.id
		  
		  LEFT JOIN hyjf_param_name pa ON pa.name_class = 'CLIENT' AND pa.name_cd = bt.client
		  LEFT JOIN hyjf_param_name pna ON cast(bt.tender_user_attribute AS CHAR) = pna.name_cd AND pna.name_class = 'USER_PROPERTY'
		  LEFT JOIN hyjf_param_name pnai ON cast(bt.invest_type AS CHAR) = pnai.name_cd AND pnai.name_class = 'INVEST_TYPE'
	    <include refid="Where_Clause" />
		  ORDER BY
		    bt.addtime DESC, bt.id DESC
	    <if test="limitStart >= 0" >
	      LIMIT #{limitStart} , #{limitEnd}
	    </if>
	</select>
</mapper>