* {
    font-family: "PingFang SC", "Lantinghei SC", "Microsoft YaHei", "HanHei SC", "Helvetica Neue", "Open Sans", Arial, "Hiragino Sans GB", "STHeiti", "WenQuanYi Micro Hei", SimSun, sans-serif;
}
p,div,a,ul,li,ol,dl,dd{
	padding: 0;
	margin: 0;
}
li{
	list-style: none;
}
.clearfloat {
    zoom: 1;
    &:after {
        display: block;
        clear: both;
        content: "";
        visibility: hidden;
        height: 0
    }
}